.first_time_follow_container{
	.first_time_follow-pic{
		width: 40px;
	    height: 40px;
	    // background-image: url('../images/rightpanel-img/Default_profile_image10.PNG');
	    overflow: hidden;
	    background-size:cover;
	    float:left;
	}
	.progress {
	    height: 2px;
	    margin-bottom: 0;
	    overflow: hidden;
	    background-color: #f5f5f5;
	    border-radius: 0;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
}

.first_time_like_container{
	.btn-social-wid-auto + .btn-social-wid-auto{
		margin-right:10px;
	}
	.progress {
	    height: 2px;
	    margin-bottom: 0;
	    overflow: hidden;
	    background-color: #f5f5f5;
	    border-radius: 0;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
}