#userRefferalAnalatics {
    margin-top: 15px;
    table {
        width: 100%;
        border: solid 1px $lightBlue;
        th {
            border-bottom: 0;
            background: $darkblue;
            @include tableBorder($lightBlue2);
        }
        td {
            @include tableBorder($lightBlue2);
        }
    }
}

#newRegisteredUsers {
    // margin-top: 15px;
    table {
        width: 100%;
        border: solid 1px $lightBlue;
        th {
            border-bottom: 0;
            padding: 20px 0;
            @include tableBorder($lightBlue2);
        }
        td {
            @include tableBorder($lightBlue2);
            vertical-align: middle;
            .date {
                width: 100%;
                text-align: center;
                display: block;
                font-size: .8em;
                color: lighten($gray, 50%);
            }
            time {
                color: $lightBlue;
            }
        }
    }
}

#filter form[name="filter"] {
    .btn-group.verification_dropdown button {
        background: lighten($gray, 65%);
        color: $lightBlue;
    }
    /*=============================================================================================================
=            to solve styling bug of a button after implementing js plugin durring php integration            =
=============================================================================================================*/
    .btn-group button[data-id="countryToSearch"] {
        // left: 200px;
        background: none;
        border: 1px solid #ccc;
        text-indent: 1em;
        color: lighten($gray, 40%);
        // font-size: 16px;
        height: 34px;
        width: 268px;
        // width: 100%;
        display: table-cell;
        -webkit-writing-mode: horizontal-tb;
        background: transparent;
        // margin-right: -34px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    /*=====  End of to solve bug after implementing js plugin durring php integration  ======*/
}

#filter.sign-up_verification {
    .verification_dropdown {
        button {
            background: lighten($gray, 50%);
            color: $lightBlue;
        }
    }
}

.recordCountsShow-styled-select {
    select {
        // border: none;
        // text-indent: 1em;
        background: $lightBlue2 !important;
        // font-size: 16px;
        // height: 34px;
        color: $gray;
        width: 50px;
        // width: 100%;
        display: inline-block;
        -webkit-writing-mode: horizontal-tb;
        background: transparent;
        border-color: rgb(169, 169, 169);
        border-width: 1px;
        // margin-right: -34px; // to hide caret
        // -webkit-appearance: none; // to hide caret
        // -moz-appearance: none; // to hide caret
        height: 31px;
    }
}
