@charset "UTF-8";
/*---------------------------------../frontend_libraries/bootstrap/css/bootstrap.min-----------------------*/
@import url(../frontend_libraries/bootstrap/css/bootstrap.min.css);
/*---------------------------------../frontend_libraries/font-awesome/css/font-awesome.min-----------------------*/
@import url(../frontend_libraries/font-awesome/css/font-awesome.min.css);
/*---------------------------------../frontend_libraries/toast/toastr.min-----------------------*/
@import url(../frontend_libraries/toast/toastr.min.css);
/*---------------------------------jquery ui-----------------------*/
@import "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";
/*---------------------------------../frontend_libraries/bootstrapvalidator/css/bootstrapValidator.min-----------------------*/
@import url(../frontend_libraries/bootstrapvalidator/css/bootstrapValidator.min.css);
/*---------------------------------../bower_components/chosen/chosen-----------------------*/
@import url(../bower_components/chosen/chosen.css);
/*---------------------------------helpers/variables-----------------------*/
/*common text color*/
/*red-color*/
/*deep sky blue color*/
/*black color */
/*summer-sky blue color */
/*slate-gray color */
/*Arapawa color */
/* forgot-Password variable for color*/
/* forgot-password variable for color */
/*text colors starts here*/
/*common text color*/
/*text colors ends here*/
/*App Info Page*/
/*
social Page Colors
*/
/*
wallet page colors
*/
/*
referral page
*/
/* 
*/
/*---------------------------------helpers/body-----------------------*/
body {
  font-family: Calibri, "arialregular", "robotoregular", "sans-serif";
  background-color: #e4e4e4;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer;
  text-decoration: none; }

/*---------------------------------helpers/mixins-----------------------*/
/*=====  End of used to creat stripped bg  ======*/
/*---------------------------------components/overridenbootstrap-----------------------*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-right: -5px;
  margin-left: -5px; }

.row-10 .row {
  margin-right: -10px;
  margin-left: -10px; }

/*======================================
=            custom grids             =
======================================*/
/**
 *
 * Columns create gutters (gaps between column content) via padding.
 * That padding is offset in rows for the first and last column via negative margin on .rows.
 *           From -http://getbootstrap.com/css/
 * hence we need rows margin value = | Columns padding value |
 */
.row-10 .row {
  margin-right: -10px;
  margin-left: -10px; }

/**
 * To use with width assigned class.
 * To use insted of Bootstraps column in case 
 * we want userdefined width. 
 * 
 */
.col {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  position: relative;
  min-height: 1px; }

.col-50 {
  width: 50px; }

.col-440 {
  width: 440px; }

/*=====  End of custom grids   ======*/
.form-control {
  border-radius: 0px; }

.input-group-addon {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.container {
  width: 1000px;
  padding-left: 0px;
  padding-right: 0px; }

input::-webkit-input-placeholder {
  color: #bebebe !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #bebebe !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #bebebe !important; }

input:-ms-input-placeholder {
  color: #bebebe !important; }

input[type="password"] {
  font-family: inherit; }

main {
  padding-top: 105px;
  position: relative; }

.boxshadow {
  -webkit-box-shadow: 1px 1px 1px 0px #b1b1b1;
  -moz-box-shadow: 1px 1px 1px 0px #b1b1b1;
  box-shadow: 1px 1px 1px 0px #b1b1b1; }

.b-shadow-none, .b-shadow-none:focus {
  box-shadow: none; }

.login_line {
  margin-right: -9px !important;
  margin-left: -10px !important;
  margin-top: -3px !important; }

/*---------------------------------components/text-----------------------*/
.text-small {
  font-size: 13px; }

.text-small-ticket {
  font-size: 14px; }

.text-white {
  color: #ffffff; }

.text-blue {
  color: #0b628e; }
  .text-blue a {
    color: #0b628e; }
    .text-blue a:hover {
      text-decoration: none; }

.text-black {
  color: #000000; }

.text-red {
  color: #ff0000; }

.text-summer-sky {
  color: #25a2dc; }

.text-Arapawa {
  color: #4a8fb5; }

.text-primary-blue {
  color: #2378a1; }

.text-dark-gray {
  color: #808080; }

.text-grey-ear {
  color: #808080 !important; }

.text-light-blue {
  color: #009fde; }

.text-deep-sky-blue {
  color: #009EEB; }

.text-header-light {
  color: #595F6E; }

.text-link {
  color: #009de9; }

.keyword-name {
  font-size: 18px; }

.keyword-grey {
  color: #444444;
  font-size: 13px;
  font-weight: lighter; }

.keyword-grey-span {
  color: #0b6795;
  font-size: 13px;
  text-transform: capitalize; }
  .keyword-grey-span a {
    text-decoration: none;
    color: #0b628e; }
    .keyword-grey-span a:hover {
      text-decoration: none; }

.modal-body .keyword-grey-span {
  text-transform: none; }

.text-bold {
  font-weight: bold; }

.text-social-primary {
  color: #0b6795;
  -webkit-font-smoothing: antialiased; }

.text-social-gray {
  color: #555555; }

.text-red {
  color: #ce0015; }

.text-sky-blue {
  color: #2fade8; }

.text-dark-blue {
  color: #006793; }

.text-light-blue {
  color: #00cbfb; }

.text-orange {
  color: #ff6423; }

.text-light-orange {
  color: #ff9534; }

.text-lighter-orange {
  color: #de833a; }

.text-dark-green {
  color: #00abbb; }

.text-light-grey {
  color: #8ea0a7; }

.text-dark-red {
  color: #fb1a1b !important; }
  .text-dark-red a {
    color: #fb1a1b !important; }

.text-dark-green {
  color: #108611 !important; }
  .text-dark-green a {
    color: #108611 !important; }

/*==================================
=            font sizes            =
==================================*/
.f-sz10 {
  font-size: 10px !important; }

.f-sz11 {
  font-size: 11px !important; }

.f-sz12 {
  font-size: 12px !important; }

.f-sz13 {
  font-size: 13px !important; }

.f-sz14 {
  font-size: 14px !important; }

.f-sz15 {
  font-size: 15px !important; }

.f-sz16 {
  font-size: 16px !important; }

.f-sz17 {
  font-size: 17px !important; }

.f-sz18 {
  font-size: 18px !important; }

.f-sz19 {
  font-size: 19px !important; }

.f-sz20 {
  font-size: 20px !important; }

.f-sz21 {
  font-size: 21px !important; }

.f-sz22 {
  font-size: 22px !important; }

.f-sz23 {
  font-size: 23px !important; }

.f-sz24 {
  font-size: 24px !important; }

.f-sz25 {
  font-size: 25px !important; }

.f-sz26 {
  font-size: 26px !important; }

.f-sz27 {
  font-size: 27px !important; }

.f-sz28 {
  font-size: 28px !important; }

.f-sz29 {
  font-size: 29px !important; }

.f-sz30 {
  font-size: 30px !important; }

/*=====  End of font sizes  ======*/
/*===================================
=            line height            =
===================================*/
.l-h0 {
  line-height: 0 !important; }

.l-h1 {
  line-height: 0.1 !important; }

.l-h2 {
  line-height: 0.2 !important; }

.l-h3 {
  line-height: 0.3 !important; }

.l-h4 {
  line-height: 0.4 !important; }

.l-h5 {
  line-height: 0.5 !important; }

.l-h6 {
  line-height: 0.6 !important; }

.l-h7 {
  line-height: 0.7 !important; }

.l-h8 {
  line-height: 0.8 !important; }

.l-h9 {
  line-height: 0.9 !important; }

.l-h10 {
  line-height: 1 !important; }

.l-h11 {
  line-height: 1.1 !important; }

.l-h12 {
  line-height: 1.2 !important; }

.l-h13 {
  line-height: 1.3 !important; }

.l-h14 {
  line-height: 1.4 !important; }

.l-h15 {
  line-height: 1.5 !important; }

.l-h16 {
  line-height: 1.6 !important; }

.l-h17 {
  line-height: 1.7 !important; }

.l-h18 {
  line-height: 1.8 !important; }

.l-h19 {
  line-height: 1.9 !important; }

.l-h20 {
  line-height: 2 !important; }

/*=====  End of line height  ======*/
/*===================================
=            font-weight            =
===================================*/
.f-wt1 {
  font-weight: 100; }

.f-wt2 {
  font-weight: 200; }

.f-wt3 {
  font-weight: 300; }

.f-wt4 {
  font-weight: 400; }

.f-wt5 {
  font-weight: 500; }

.f-wt6 {
  font-weight: 600; }

.f-wt7 {
  font-weight: 700; }

.f-wt8 {
  font-weight: 800; }

.f-wt9 {
  font-weight: 900; }

/*=====  End of font-weight  ======*/
.word-break-all {
  word-break: all; }

.text-yellow {
  color: #ffcc33; }

.error-color {
  color: #a94442 !important; }

.error-color-border {
  color: #a94442 !important; }

.activation-text-header {
  font-size: 18px;
  color: #71a7d3; }

.width-250 {
  width: 250px !important; }

/*---------------------------------components/bg-----------------------*/
.bg-concrete {
  background-color: #e4e4e4; }

.bg-skyblue {
  background-color: #25a2dc; }

.bg-white {
  background-color: #ffffff; }

.bg-light-gray {
  background-color: #90a1a9; }

.bg-light-purple {
  background-color: #fbfbfb; }

.bg-view-all {
  background-color: #fafafa; }

.bg-light-grey {
  background-color: #f5f5f5; }

/*---------------------------------components/buttons-----------------------*/
.btn.btn-signup {
  background-color: #0b628e;
  color: #ffffff;
  box-shadow: 1px 1px 1px 1px #999999; }
  .btn.btn-signup:hover, .btn.btn-signupf:focus {
    color: #0b628e;
    background-color: #ffffff;
    border: 1px solid #0b628e; }
.btn.btn-reset-password, .btn.btn-cancel {
  background-color: #fffcff;
  box-shadow: 1px 2px 2px -1px #c2c2c2;
  border-radius: 2px;
  color: #2378a1;
  font-size: 14px;
  padding: 5px 15px; }
.btn .btn-forgot-password {
  box-shadow: 0px 0px; }
.btn.btn-user-detail-submit {
  background-color: #d3edfa;
  box-shadow: 1px 2px 2px -1px #c2c2c2;
  width: 70px;
  font-size: 13px;
  padding: 5px 5px;
  color: #0b628e;
  margin-top: -5px; }

/*signup button*/
.signup-button {
  background-color: #25a2dc;
  color: #ffffff;
  width: 100%;
  font-size: 15px;
  border: none;
  cursor: pointer;
  height: auto;
  margin: auto;
  max-width: 200px; }

/*search landing button*/
.landing-search-btn {
  width: 100%;
  height: 34px;
  border: none;
  outline: none; }

/*Cart Buttons*/
.btns {
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429; }
  .btns.btns-checkout {
    background-color: #009eeb;
    cursor: pointer;
    color: white; }
  .btns.btns-clear-cart {
    background-color: #ff8a00;
    color: white; }

.btn-app {
  padding: 1px 5px;
  display: inline-block;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .btn-app.btn-app-primary {
    background-color: #009eeb;
    color: #ffffff; }
  .btn-app.btn-app-success {
    background-color: #5cb85c;
    color: #ffffff; }

.social-form-buttons {
  background-color: #5cabd0;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 0px 0px #bababa;
  font-weight: 600; }

.btn-trading, .btn-trading-dark,
.btn-social-dark, .btn-trading-wthout-bg, .btn-trading-wid-auto, .btn-trading-wid-auto-green,
.modal-body input .btn-trading-wid-auto,
.modal-body input .btn-trading-wid-auto-green,
.btn-social-wid-auto, .btn-trading-wid-auto-dark,
.modal-body input .btn-trading-wid-auto-dark,
.btn-social-wid-auto-dark, .applyBtn, .cancelBtn,
.btn-social {
  background-color: #62abd4;
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  padding: 2px 14px;
  width: 100px;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 1px 1px #7393a2; }
  .btn-trading:hover, .btn-trading-dark:hover,
  .btn-social-dark:hover, .btn-trading-wthout-bg:hover, .btn-trading-wid-auto:hover, .btn-trading-wid-auto-green:hover,
  .modal-body input .btn-trading-wid-auto:hover,
  .modal-body input .btn-trading-wid-auto-green:hover,
  .btn-social-wid-auto:hover, .btn-trading-wid-auto-dark:hover,
  .modal-body input .btn-trading-wid-auto-dark:hover,
  .btn-social-wid-auto-dark:hover, .applyBtn:hover, .cancelBtn:hover, .btn-trading:focus, .btn-trading-dark:focus,
  .btn-social-dark:focus, .btn-trading-wthout-bg:focus, .btn-trading-wid-auto:focus, .btn-trading-wid-auto-green:focus,
  .modal-body input .btn-trading-wid-auto:focus,
  .modal-body input .btn-trading-wid-auto-green:focus,
  .btn-social-wid-auto:focus, .btn-trading-wid-auto-dark:focus,
  .modal-body input .btn-trading-wid-auto-dark:focus,
  .btn-social-wid-auto-dark:focus, .applyBtn:focus, .cancelBtn:focus,
  .btn-social:hover,
  .btn-social:focus {
    color: #fff;
    text-decoration: none;
    background-color: #5298bf;
    transition: all 0.5s ease;
    outline: 0; }

.btn-trading-dark,
.btn-social-dark {
  background-color: #4d7f96; }
  .btn-trading-dark:hover, .btn-trading-dark:focus,
  .btn-social-dark:hover,
  .btn-social-dark:focus {
    color: #fff;
    text-decoration: none;
    background-color: #376175;
    outline: 0; }

.btn-trading-wthout-bg {
  color: #61aad3;
  box-shadow: none;
  background-color: transparent;
  box-shadow: none; }
  .btn-trading-wthout-bg:hover, .btn-trading-wthout-bg:focus {
    color: #5298bf;
    background-color: transparent;
    text-decoration: none;
    outline: 0; }

.btn-trading-wid-auto, .btn-trading-wid-auto-green,
.modal-body input .btn-trading-wid-auto,
.modal-body input .btn-trading-wid-auto-green,
.btn-social-wid-auto {
  width: auto; }
  .btn-trading-wid-auto:hover, .btn-trading-wid-auto-green:hover,
  .modal-body input .btn-trading-wid-auto:hover,
  .modal-body input .btn-trading-wid-auto-green:hover,
  .btn-social-wid-auto:hover {
    background-color: #5298bf; }

.btn-trading-wid-auto-dark,
.modal-body input .btn-trading-wid-auto-dark,
.btn-social-wid-auto-dark {
  width: auto;
  background-color: #4d7f96; }
  .btn-trading-wid-auto-dark:hover,
  .modal-body input .btn-trading-wid-auto-dark:hover,
  .btn-social-wid-auto-dark:hover {
    background-color: #376175; }

.btn-trading-wid-auto-green {
  background-color: #619f24; }
  .btn-trading-wid-auto-green:hover {
    background-color: #82b74d; }

.applyBtn {
  margin-right: 10px;
  background-color: #61aad3; }
  .applyBtn:hover, .applyBtn:focus {
    background-color: #5298bf;
    text-decoration: none;
    outline: 0; }

.cancelBtn {
  background-color: #336d85; }
  .cancelBtn:hover, .cancelBtn:focus {
    background-color: #376175;
    text-decoration: none;
    outline: 0; }

#status-post .form-post-btn {
  background-color: #5cabd0;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 0px 0px #bababa;
  font-weight: 600; }

.social-form-modal .form-post-btn {
  background-color: #5cabd0;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 0px 0px #bababa;
  font-weight: 600; }
.social-form-modal .form-preview-btn {
  background-color: #356c87;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 0px 0px #bababa;
  font-weight: 600; }

.btn_Act_Link {
  padding: 2px 13px !important;
  font-size: 15px !important;
  color: #ebf3f8 !important;
  background-color: #6bb1d6;
  margin-left: 4px; }
  .btn_Act_Link .btn_Act_Link:hover {
    color: #ebf3f8;
    text-decoration: none; }

.proper-reset-btn {
  padding: 2px 12px !important;
  background-color: #61acd3 !important;
  color: #deedf5 !important; }

.proper-cancel-btn {
  padding: 2px 14px !important;
  background-color: #356c8a !important;
  color: #deedf5 !important; }

.proper-reset-btn:hover {
  color: #deedf5 !important;
  text-decoration: none; }

.proper-cancel-btn:hover {
  color: #deedf5 !important;
  text-decoration: none; }

/*---------------------------------components/fonts-----------------------*/
.keyword-markt-popup-common .modal-dialog {
  width: 480px !important; }
.keyword-markt-popup-common .modal-header {
  padding: 9px !important; }
.keyword-markt-popup-common .modal-body {
  padding: 5px; }
.keyword-markt-popup-common .modal-content {
  border-radius: 0px !important; }
.keyword-markt-popup-common .modal-content input[type="text"],
.keyword-markt-popup-common .modal-content input[type="number"] {
  color: #000 !important;
  border-radius: 0px;
  border: 1px solid #dadbdd;
  background-color: #fbfbfb;
  font-size: 13px;
  padding: 2px 5px;
  box-shadow: none;
  height: 34px; }
.keyword-markt-popup-common .dialog-loading-icon {
  display: none;
  position: absolute;
  width: 11px;
  height: 11px;
  right: 11px;
  top: 14px; }
.keyword-markt-popup-common .dialog-loading-icon-delete {
  display: none;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 60px;
  top: 4px; }
.keyword-markt-popup-common .keyword-popup .modal-dialog :before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 1px;
  left: -14px;
  z-index: 99; }
.keyword-markt-popup-common .close {
  top: 14px !important;
  right: 16px !important;
  font-size: 23px !important; }
.keyword-markt-popup-common .custom-modal-header {
  text-align: left !important;
  color: #0b6798 !important;
  text-transform: capitalize;
  letter-spacing: 0px !important;
  border-top: 0px solid; }
.keyword-markt-popup-common .keyword-popup .modal-dialog .close {
  z-index: 99999999;
  color: #999999;
  text-shadow: 0px 0px 0px;
  font-weight: normal;
  top: 4px;
  right: 6px;
  position: absolute;
  opacity: 1; }
.keyword-markt-popup-common .custom-modal-header .modal-title {
  /* font-weight: bold; */
  font-size: 18px; }
.keyword-markt-popup-common .keyword-popup .modal-dialog:after {
  content: '';
  height: 0px;
  width: 0px;
  /* border-right: 50px solid rgba(255, 0, 0, 0.98); */
  position: absolute;
  top: 1px;
  right: -14px;
  z-index: 999999; }
.keyword-markt-popup-common .form-group {
  margin-bottom: 15px !important; }
.keyword-markt-popup-common .form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle; }

/*---------------------------------components/keyword-popup-----------------------*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/*body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}*/
/*Fun begins*/
.trade-analytics-tabs .tab_container {
  width: 100%;
  position: relative; }
.trade-analytics-tabs input, .trade-analytics-tabs section {
  clear: both;
  padding-top: 10px;
  display: none; }
.trade-analytics-tabs label.tabs-head {
  height: 36px;
  font-weight: lighter;
  font-size: 14px;
  display: block;
  float: left;
  width: 25%;
  padding: 5px;
  color: #f8faf9;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #90a1a9;
  border: 1px solid transparent; }
.trade-analytics-tabs #tab1:checked ~ #content1,
.trade-analytics-tabs #tab2:checked ~ #content2,
.trade-analytics-tabs #tab3:checked ~ #content3,
.trade-analytics-tabs #tab4:checked ~ #content4,
.trade-analytics-tabs #tab5:checked ~ #content5 {
  display: block;
  padding: 0px;
  background: #fff;
  color: #999;
  border-top: 0px; }
.trade-analytics-tabs .tab_container .tab-content table {
  font-size: 13px;
  font-family: sans-serif;
  margin-bottom: 0px; }
.trade-analytics-tabs .tab_container .tab-content table td:first-child {
  text-align: left; }
.trade-analytics-tabs .tab_container .tab-content table tr:nth-child(odd) {
  background-color: #e5f3fc;
  padding: 7px 30px;
  font-size: 13px;
  font-family: sans-serif; }
.trade-analytics-tabs .tab_container .tab-content table tr:nth-child(even) {
  background-color: #fff;
  padding: 7px 30px;
  font-size: 13px;
  font-family: sans-serif; }
.trade-analytics-tabs .tab_container .tab-content table td {
  text-align: right; }
.trade-analytics-tabs .tab_container .tab-content p,
.trade-analytics-tabs .tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out; }
.trade-analytics-tabs .tab_container .tab-content h3 {
  text-align: center; }
.trade-analytics-tabs .tab_container [id^="tab"]:checked + label {
  background: #fff;
  color: #90a1a9; }
.trade-analytics-tabs .tab_container [id^="tab"]:checked + label .fa {
  color: #0CE; }
.trade-analytics-tabs .tab_container label {
  margin-bottom: 0px !important; }
.trade-analytics-tabs .tab_container label .fa {
  font-size: 1.3em;
  margin-bottom: 0px !important;
  margin: 0 0.4em 0 0; }

/*---------------------------------components/tabs-----------------------*/
/*
============ arialregular =================
*/
@font-face {
  font-family: 'arialregular';
  src: url("../fonts/arial/arial_0-webfont.eot");
  src: url("../fonts/arial/arial_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arial_0-webfont.woff2") format("woff2"), url("../fonts/arial/arial_0-webfont.woff") format("woff"), url("../fonts/arial/arial_0-webfont.ttf") format("truetype"), url("../fonts/arial/arial_0-webfont.svg#arialregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialbold =================
*/
@font-face {
  font-family: 'arialbold';
  src: url("../fonts/arial/arialbd_0-webfont.eot");
  src: url("../fonts/arial/arialbd_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialbd_0-webfont.woff2") format("woff2"), url("../fonts/arial/arialbd_0-webfont.woff") format("woff"), url("../fonts/arial/arialbd_0-webfont.ttf") format("truetype"), url("../fonts/arial/arialbd_0-webfont.svg#arialbold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialbold_italic =================
*/
@font-face {
  font-family: 'arialbold_italic';
  src: url("../fonts/arial/arialbi_0-webfont.eot");
  src: url("../fonts/arial/arialbi_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialbi_0-webfont.woff2") format("woff2"), url("../fonts/arial/arialbi_0-webfont.woff") format("woff"), url("../fonts/arial/arialbi_0-webfont.ttf") format("truetype"), url("../fonts/arial/arialbi_0-webfont.svg#arialbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialitalic =================
*/
@font-face {
  font-family: 'arialitalic';
  src: url("../fonts/arial/ariali_0-webfont.eot");
  src: url("../fonts/arial/ariali_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/ariali_0-webfont.woff2") format("woff2"), url("../fonts/arial/ariali_0-webfont.woff") format("woff"), url("../fonts/arial/ariali_0-webfont.ttf") format("truetype"), url("../fonts/arial/ariali_0-webfont.svg#arialitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialnarrow =================
*/
@font-face {
  font-family: 'arialnarrow';
  src: url("../fonts/arial/arialn-webfont.eot");
  src: url("../fonts/arial/arialn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialn-webfont.woff2") format("woff2"), url("../fonts/arial/arialn-webfont.woff") format("woff"), url("../fonts/arial/arialn-webfont.ttf") format("truetype"), url("../fonts/arial/arialn-webfont.svg#arialnarrow") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialnarrow =================
*/
@font-face {
  font-family: 'arialnarrow';
  src: url("../fonts/arial/arialnb-webfont.eot");
  src: url("../fonts/arial/arialnb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialnb-webfont.woff2") format("woff2"), url("../fonts/arial/arialnb-webfont.woff") format("woff"), url("../fonts/arial/arialnb-webfont.ttf") format("truetype"), url("../fonts/arial/arialnb-webfont.svg#arialnarrow") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialnarrow =================
*/
@font-face {
  font-family: 'arialnarrow';
  src: url("../fonts/arial/arialnbi-webfont.eot");
  src: url("../fonts/arial/arialnbi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialnbi-webfont.woff2") format("woff2"), url("../fonts/arial/arialnbi-webfont.woff") format("woff"), url("../fonts/arial/arialnbi-webfont.ttf") format("truetype"), url("../fonts/arial/arialnbi-webfont.svg#arialnarrow") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialnarrow =================
*/
@font-face {
  font-family: 'arialnarrow';
  src: url("../fonts/arial/arialni-webfont.eot");
  src: url("../fonts/arial/arialni-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialni-webfont.woff2") format("woff2"), url("../fonts/arial/arialni-webfont.woff") format("woff"), url("../fonts/arial/arialni-webfont.ttf") format("truetype"), url("../fonts/arial/arialni-webfont.svg#arialnarrow") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ arialblack =================
*/
@font-face {
  font-family: 'arialblack';
  src: url("../fonts/arial/ariblk_0-webfont.eot");
  src: url("ariblk_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/ariblk_0-webfont.woff2") format("woff2"), url("../fonts/arial/ariblk_0-webfont.woff") format("woff"), url("../fonts/arial/ariblk_0-webfont.ttf") format("truetype"), url("../fonts/arial/ariblk_0-webfont.svg#arialblack") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ robotobold =================
*/
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto/oboto-bold-webfont.eot");
  src: url("../fonts/roboto/oboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/oboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/oboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/oboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ robotobold_italic =================
*/
@font-face {
  font-family: 'robotobold_italic';
  src: url("../fonts/roboto/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/oboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto/oboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto/oboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ robotoitalic =================
*/
@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto/roboto-italic-webfont.eot");
  src: url("../fonts/roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ robotoregular =================
*/
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
============ Calibri =================
*/
@font-face {
  font-family: Calibri;
  src: url("../fonts/calibri/calibri.ttf"); }
/*---------------------------------components/padandmag-----------------------*/
/*====================================
=            month picker            =
====================================*/
.month-picker {
  display: inline-block;
  position: absolute;
  z-index: 9999; }
  .month-picker .month-picker-header {
    margin: 0; }
  .month-picker .month-picker-year-table {
    width: 100%; }
    .month-picker .month-picker-year-table tr:first-child * {
      background: #d1d9dc;
      color: #333; }
    .month-picker .month-picker-year-table .ui-button .ui-icon {
      background-image: none; }
    .month-picker .month-picker-year-table .ui-icon-circle-triangle-w,
    .month-picker .month-picker-year-table .ui-icon-circle-triangle-e {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      text-indent: 0; }
      .month-picker .month-picker-year-table .ui-icon-circle-triangle-w:before,
      .month-picker .month-picker-year-table .ui-icon-circle-triangle-e:before {
        padding: 10px; }
    .month-picker .month-picker-year-table .ui-icon-circle-triangle-e:before {
      content: "\f105"; }
    .month-picker .month-picker-year-table .ui-icon-circle-triangle-w:before {
      content: "\f104"; }
  .month-picker .ui-corner-all {
    border-radius: 0 !important;
    background: #ffffff;
    width: 100%;
    border: none;
    color: #666 !important; }
    .month-picker .ui-corner-all:hover {
      border: none; }
  .month-picker .month-picker-month-table {
    width: 100%; }
    .month-picker .month-picker-month-table td {
      border: 1px solid #f1f1f1; }
  .month-picker .ui-state-highlight {
    border: none !important; }

/*=====  End of month picker  ======*/
/*====================================
=            my-info-card            =
====================================*/
.my-info-card img {
  width: 70px;
  height: 70px;
  box-shadow: 1px 1px 1px 0 silver; }
.my-info-card .my-info-detail {
  width: Calc(100% - 80px); }
.my-info-card .my-info-status {
  font-size: 11px;
  color: #575757;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: justify; }
.my-info-card .my-info-followers,
.my-info-card .my-info-following,
.my-info-card .my-info-posts {
  font-size: 13px;
  font-weight: bold; }
.my-info-card .my-info-followers-count,
.my-info-card .my-info-following-count,
.my-info-card .my-info-posts-count {
  font-weight: bold; }
.my-info-card .input-large {
  resize: none; }

/*=====  End of my-info-card  ======*/
.force-caret-icon:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  position: absolute;
  z-index: 10;
  top: 0;
  right: 1.5em;
  line-height: 2em; }

/*===================================================================================
=            modal style collected to avoid use of  .keyword-* classES            =
===================================================================================*/
/**
 * needed to maintain apearance of madal from maeketplace UI 
 */
.madal--1 .modal-dialog {
  width: 490px !important; }
  .madal--1 .modal-dialog .modal-header {
    /**
     * copied from sass/components/_keyword-popup.scss
    */
    text-align: left !important;
    color: #0b6798 !important;
    text-transform: capitalize;
    letter-spacing: 0px !important;
    border-top: 0px solid;
    padding: 9px !important;
    top: 14px !important;
    right: 16px !important;
    font-size: 23px !important; }
  .madal--1 .modal-dialog .close {
    /**
     * copied from sass/components/_keyword-popup.scss
    */
    z-index: 99999999;
    color: #999999;
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    top: 4px;
    right: 6px;
    position: absolute;
    opacity: 1;
    top: 14px !important;
    right: 16px !important;
    font-size: 23px !important; }

/*=====  End of modal style collected to avoid use of .keyword-* classES  ======*/
/*=====================================
=            Stacked modal            =
=====================================*/
/*=====  End of Stacked modal  ======*/
.tooltip {
  z-index: 15 !important;
  position: absolute; }

.errMsg {
  position: absolute;
  top: -23px;
  color: red; }

/*=================================
=            positions            =
=================================*/
.position-relative {
  position: relative !important; }

.position-fixed {
  position: fixed !important; }

.position-absolute {
  position: absolute !important; }

/*=====  End of positions  ======*/
/*================================
=            textarea            =
================================*/
.noresize {
  resize: none; }

.vresize {
  resize: vertical; }

.hresize {
  resize: horizontal; }

/*=====  End of textarea  ======*/
/*========================================
=            bootstrap-select            =
========================================*/
.bootstrap-select .dropdown-toggle, .bootstrap-select.open .dropdown-toggle {
  height: 34px;
  padding: 1px 12px;
  font-size: 16px; }
  .bootstrap-select .dropdown-toggle, .bootstrap-select .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus, .bootstrap-select.open .dropdown-toggle, .bootstrap-select.open .dropdown-toggle:hover, .bootstrap-select.open .dropdown-toggle:focus {
    border: solid 1px #ccc !important;
    background: #ffffff;
    box-shadow: none;
    color: #bebebe;
    outline: 1px solid transparent;
    border-radius: 0; }
  .bootstrap-select .dropdown-toggle .bs-caret, .bootstrap-select.open .dropdown-toggle .bs-caret {
    color: #0b6796; }
    .bootstrap-select .dropdown-toggle .bs-caret .caret, .bootstrap-select.open .dropdown-toggle .bs-caret .caret {
      top: 0.5em;
      right: 1em;
      border: none; }
      .bootstrap-select .dropdown-toggle .bs-caret .caret:after, .bootstrap-select.open .dropdown-toggle .bs-caret .caret:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107"; }
.bootstrap-select .dropdown-menu.open, .bootstrap-select.open .dropdown-menu.open {
  padding: 0;
  border: solid 1px #ccc;
  margin-top: -1px;
  border-radius: 0;
  top: 34px; }
  .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li, .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li {
    padding: 0;
    background: transparent;
    border-bottom: solid 1px #ccc; }
    .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li.selected, .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li.selected {
      display: none; }
    .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a, .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a {
      color: #90a1a9;
      padding: 6px 12px; }
      .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a span, .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a span {
        color: #444444; }
      .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:focus, .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a:focus {
        outline: none; }
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%; }

.bootstrap-select.dropup .dropdown-toggle .bs-caret .caret:after, .bootstrap-select.dropup.open .dropdown-toggle .bs-caret .caret:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f106"; }

/*----------  theme  ----------*/
.dropdownOptions--bg-light-gray .bootstrap-select .dropdown-toggle, .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-toggle:hover, .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-toggle:focus, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-toggle, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-toggle:hover, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-toggle:focus {
  border: solid 1px #ccc !important;
  background: #90a1a9;
  color: #ffffff;
  outline: 1px solid transparent; }
.dropdownOptions--bg-light-gray .bootstrap-select .dropdown-toggle .bs-caret, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-toggle .bs-caret {
  color: #ffffff; }
.dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open {
  border: solid 1px #ccc; }
  .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li {
    background: transparent;
    border-bottom: solid 1px #ccc; }
    .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li.selected, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li.selected {
      display: none; }
    .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a {
      color: #90a1a9; }
      .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:hover, .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:focus, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a:hover, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a:focus {
        background: #009eeb; }
        .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:hover span, .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:focus span, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a:hover span, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a:focus span {
          color: #ffffff; }
      .dropdownOptions--bg-light-gray .bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a span, .dropdownOptions--bg-light-gray .bootstrap-select.open .dropdown-menu.open .dropdown-menu.inner li a span {
        color: #444444; }

/*=====  End of bootstrap-select  ======*/
.outline-none:focus {
  outline: none !important; }

.display-flex-keyword {
  display: flex; }

.width-100-percent {
  width: 100%; }

.select-analytics {
  background-color: #efefef;
  color: #222222;
  width: 100px;
  font-size: 12px;
  height: 20px; }

.keyword-analytics-li-pad li {
  padding: 5.1px 5px !important; }

.bg-grey {
  background-color: #90a1a9; }

.bg-red {
  background-color: #ce3d3d; }

.unavailable-keyword-box {
  margin-left: 10px;
  position: absolute;
  right: 9px;
  float: right;
  top: 4px; }

.transition {
  transition: all 0.5s ease; }

.height-30 {
  height: 40px; }

.width-keyword-owned {
  width: 50px;
  display: inline-block;
  line-height: 10px;
  margin-bottom: -3px; }

.float-left-k {
  float: left; }

.daterangepicker {
  width: 505px !important; }

.daterangepicker.ltr .ranges {
  margin: 0 auto !important;
  text-align: center !important;
  width: 100% !important;
  padding: 12px !important; }

.border-top-none {
  border-top: 0px !important; }

.darkest-blue-bg {
  background-color: #004161; }

.dark-blue-bg {
  background-color: #006496; }

.light-blue-bg {
  background-color: #009de9; }

.lightest-blue-bg {
  background-color: #5cc0f2; }

#my-earnings-trading .float-left {
  display: inline-block !important; }

.goto-marketplace {
  position: absolute;
  bottom: 5%; }

.max-width-80 {
  max-width: 80px; }

.atwho-inserted {
  color: #4183C4; }

.atwho-query {
  color: #4183C4; }

.atwho-inserted {
  color: #4183C4; }

.atwho-query {
  color: #4183C4; }

.sugg-wrapper {
  list-style: none;
  display: flex !important;
  align-items: center;
  background-color: white; }
  .sugg-wrapper .sugg-img {
    display: inline-block; }
  .sugg-wrapper .sugg-name {
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    font-weight: bold; }

.padng-l-7 {
  padding-left: 7px !important; }

#myModal_like .modal-dialog {
  top: 90px; }

[onclick] {
  cursor: pointer; }

#cover {
  background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  margin-top: 15px; }

#keyword-referral-pop.keyword-markt-popup-common .modal-dialog {
  width: 750px !important; }

.tab-pane.fa-thumbs-o-up:before {
  content: ""; }

.tab-pane.fa-like-hand:before {
  content: ""; }

.social-right-position {
  position: sticky !important;
  top: 60px; }

/*---------------------------------components/common-element-----------------------*/
.padding-none {
  padding: 0px !important; }

.padding-left-none {
  padding-left: 0px !important; }

.padding-right-none {
  padding-right: 0px !important; }

.padding-top-none {
  padding-top: 0px !important; }

.padding-bottom-none {
  padding-bottom: 0px !important; }

.margin-none {
  margin: 0px !important; }

.margin-left-none {
  margin-left: 0px !important; }

.margin-right-none {
  margin-right: 0px !important; }

.margin-top-none {
  margin-top: 0px !important; }

.margin-bottom-none {
  margin-bottom: 0px !important; }

.innerMT-1px {
  margin-top: 1px; }

.innerMT-3px {
  margin-top: 3px; }

.innerML-10 {
  margin-left: 15px; }

.innerAll {
  padding: 10px; }

.innerTB {
  padding-top: 10px;
  padding-bottom: 10px; }

.innerLR {
  padding-left: 10px;
  padding-right: 10px; }

.innerT {
  padding-top: 10px; }

.innerB {
  padding-bottom: 10px; }

.innerL {
  padding-left: 10px; }

.innerR {
  padding-right: 10px; }

.innerMAll {
  margin: 10px; }

.innerMTB {
  margin-top: 10px;
  margin-bottom: 10px; }

.innerMLR {
  margin-left: 10px;
  margin-right: 10px; }

.innerMT {
  margin-top: 10px; }

.innerMB {
  margin-bottom: 10px; }

.innerML {
  margin-left: 10px; }

.innerMR {
  margin-right: 10px; }

.half.innerAll {
  padding: 5px; }
.half.innerTB {
  padding-top: 5px;
  padding-bottom: 5px; }
.half.innerLR {
  padding-left: 5px;
  padding-right: 5px; }
.half.innerT {
  padding-top: 5px; }
.half.innerB {
  padding-bottom: 5px; }
.half.innerL {
  padding-left: 5px; }
.half.innerR {
  padding-right: 5px; }
.half.innerMAll {
  margin: 5px; }
.half.innerMTB {
  margin-top: 5px;
  margin-bottom: 5px; }
.half.innerMLR {
  margin-left: 5px;
  margin-right: 5px; }
.half.innerMT {
  margin-top: 5px; }
.half.innerMB {
  margin-bottom: 5px; }
.half.innerML {
  margin-left: 5px; }
.half.innerMR {
  margin-right: 5px; }

.inner-2x.innerAll {
  padding: 20px; }
.inner-2x.innerTB {
  padding-top: 20px;
  padding-bottom: 20px; }
.inner-2x.innerLR {
  padding-left: 20px;
  padding-right: 20px; }
.inner-2x.innerT {
  padding-top: 20px; }
.inner-2x.innerB {
  padding-bottom: 20px; }
.inner-2x.innerL {
  padding-left: 20px; }
.inner-2x.innerR {
  padding-right: 20px; }
.inner-2x.innerMAll {
  margin: 20px; }
.inner-2x.innerMTB {
  margin-top: 20px;
  margin-bottom: 20px; }
.inner-2x.innerMLR {
  margin-left: 20px;
  margin-right: 20px; }
.inner-2x.innerMT {
  margin-top: 20px; }
.inner-2x.innerMB {
  margin-bottom: 20px; }
.inner-2x.innerML {
  margin-left: 20px; }
.inner-2x.innerMR {
  margin-right: 20px; }

.inner-3x.innerAll {
  padding: 30px; }
.inner-3x.innerTB {
  padding-top: 30px;
  padding-bottom: 30px; }
.inner-3x.innerLR {
  padding-left: 30px;
  padding-right: 30px; }
.inner-3x.innerT {
  padding-top: 30px; }
.inner-3x.innerB {
  padding-bottom: 30px; }
.inner-3x.innerL {
  padding-left: 30px; }
.inner-3x.innerR {
  padding-right: 30px; }
.inner-3x.innerMAll {
  margin: 30px; }
.inner-3x.innerMTB {
  margin-top: 30px;
  margin-bottom: 30px; }
.inner-3x.innerMLR {
  margin-left: 30px;
  margin-right: 30px; }
.inner-3x.innerMT {
  margin-top: 30px; }
.inner-3x.innerMB {
  margin-bottom: 30px; }
.inner-3x.innerML {
  margin-left: 30px; }
.inner-3x.innerMR {
  margin-right: 30px; }

.inner-4x.innerAll {
  padding: 40px; }
.inner-4x.innerTB {
  padding-top: 40px;
  padding-bottom: 40px; }
.inner-4x.innerLR {
  padding-left: 40px;
  padding-right: 40px; }
.inner-4x.innerT {
  padding-top: 40px; }
.inner-4x.innerB {
  padding-bottom: 40px; }
.inner-4x.innerL {
  padding-left: 40px; }
.inner-4x.innerR {
  padding-right: 40px; }
.inner-4x.innerMAll {
  margin: 40px; }
.inner-4x.innerMTB {
  margin-top: 40px;
  margin-bottom: 40px; }
.inner-4x.innerMLR {
  margin-left: 40px;
  margin-right: 40px; }
.inner-4x.innerMT {
  margin-top: 40px; }
.inner-4x.innerMB {
  margin-bottom: 40px; }
.inner-4x.innerML {
  margin-left: 40px; }
.inner-4x.innerMR {
  margin-right: 40px; }

.inner-5x.innerAll {
  padding: 50px; }
.inner-5x.innerTB {
  padding-top: 50px;
  padding-bottom: 50px; }
.inner-5x.innerLR {
  padding-left: 50px;
  padding-right: 40px; }
.inner-5x.innerT {
  padding-top: 40px; }
.inner-5x.innerB {
  padding-bottom: 50px; }
.inner-5x.innerL {
  padding-left: 50px; }
.inner-5x.innerR {
  padding-right: 50px; }
.inner-5x.innerMAll {
  margin: 50px; }
.inner-5x.innerMTB {
  margin-top: 50px;
  margin-bottom: 50px; }
.inner-5x.innerMLR {
  margin-left: 50px;
  margin-right: 50px; }
.inner-5x.innerMT {
  margin-top: 50px; }
.inner-5x.innerMB {
  margin-bottom: 50px; }
.inner-5x.innerML {
  margin-left: 50px; }
.inner-5x.innerMR {
  margin-right: 50px; }

.inner-6x.innerAll {
  padding: 60px; }
.inner-6x.innerTB {
  padding-top: 60px;
  padding-bottom: 60px; }
.inner-6x.innerLR {
  padding-left: 60px;
  padding-right: 60px; }
.inner-6x.innerT {
  padding-top: 60px; }
.inner-6x.innerB {
  padding-bottom: 60px; }
.inner-6x.innerL {
  padding-left: 60px; }
.inner-6x.innerR {
  padding-right: 60px; }
.inner-6x.innerMAll {
  margin: 60px; }
.inner-6x.innerMTB {
  margin-top: 60px;
  margin-bottom: 60px; }
.inner-6x.innerMLR {
  margin-left: 60px;
  margin-right: 60px; }
.inner-6x.innerMT {
  margin-top: 60px; }
.inner-6x.innerMB {
  margin-bottom: 60px; }
.inner-6x.innerML {
  margin-left: 60px; }
.inner-6x.innerMR {
  margin-right: 60px; }

.inner-7x.innerAll {
  padding: 70px; }
.inner-7x.innerTB {
  padding-top: 70px;
  padding-bottom: 70px; }
.inner-7x.innerLR {
  padding-left: 70px;
  padding-right: 70px; }
.inner-7x.innerT {
  padding-top: 70px; }
.inner-7x.innerB {
  padding-bottom: 70px; }
.inner-7x.innerL {
  padding-left: 70px; }
.inner-7x.innerR {
  padding-right: 70px; }
.inner-7x.innerMAll {
  margin: 70px; }
.inner-7x.innerMTB {
  margin-top: 70px;
  margin-bottom: 70px; }
.inner-7x.innerMLR {
  margin-left: 70px;
  margin-right: 70px; }
.inner-7x.innerMT {
  margin-top: 70px; }
.inner-7x.innerMB {
  margin-bottom: 70px; }
.inner-7x.innerML {
  margin-left: 70px; }
.inner-7x.innerMR {
  margin-right: 70px; }

.inner-8x.innerAll {
  padding: 80px; }
.inner-8x.innerTB {
  padding-top: 80px;
  padding-bottom: 80px; }
.inner-8x.innerLR {
  padding-left: 80px;
  padding-right: 80px; }
.inner-8x.innerT {
  padding-top: 80px; }
.inner-8x.innerB {
  padding-bottom: 80px; }
.inner-8x.innerL {
  padding-left: 80px; }
.inner-8x.innerR {
  padding-right: 80px; }
.inner-8x.innerMAll {
  margin: 80px; }
.inner-8x.innerMTB {
  margin-top: 80px;
  margin-bottom: 80px; }
.inner-8x.innerMLR {
  margin-left: 80px;
  margin-right: 80px; }
.inner-8x.innerMT {
  margin-top: 80px; }
.inner-8x.innerMB {
  margin-bottom: 80px; }
.inner-8x.innerML {
  margin-left: 80px; }
.inner-8x.innerMR {
  margin-right: 80px; }

.inner-9x.innerAll {
  padding: 90px; }
.inner-9x.innerTB {
  padding-top: 90px;
  padding-bottom: 90px; }
.inner-9x.innerLR {
  padding-left: 90px;
  padding-right: 90px; }
.inner-9x.innerT {
  padding-top: 90px; }
.inner-9x.innerB {
  padding-bottom: 90px; }
.inner-9x.innerL {
  padding-left: 90px; }
.inner-9x.innerR {
  padding-right: 90px; }
.inner-9x.innerMAll {
  margin: 90px; }
.inner-9x.innerMTB {
  margin-top: 90px;
  margin-bottom: 90px; }
.inner-9x.innerMLR {
  margin-left: 90px;
  margin-right: 90px; }
.inner-9x.innerMT {
  margin-top: 90px; }
.inner-9x.innerMB {
  margin-bottom: 90px; }
.inner-9x.innerML {
  margin-left: 90px; }
.inner-9x.innerMR {
  margin-right: 90px; }

.border-none {
  border: 0px solid transparent; }

/*=======================================
=            laed correction            =
=======================================*/
/*
Appropriate for using with 'calibri' font's one-line text (Headings),
as padding for boxes is sometimes considered from font's 'x-height' and 'baseline' in designed layouts.
*/
.leadCorrect-b {
  margin-bottom: -0.25em !important; }

.leadCorrect-t {
  margin-top: -0.25em !important; }

/*=====  End of laed correction  ======*/
.margin-up {
  margin-top: -2px;
  margin-bottom: 8px; }

/*---------------------------------components/widgets-----------------------*/
/*
Social Mode Button in the Navigation
*/
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 25px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #ccc; }

input:focus + .slider {
  box-shadow: 0 0 1px #ccc; }

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.radio-div {
  display: inline-block !important; }

#registerForm .radio {
  padding-left: 20px !important; }
#registerForm .radio label {
  display: inline-block;
  position: relative;
  padding-top: 3px;
  padding-left: 3px; }
#registerForm .signupRadio label {
  display: inline-block;
  position: relative;
  margin-right: 0px; }
#registerForm .radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
#registerForm .radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
#registerForm .radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }
#registerForm .radio input[type="radio"] {
  opacity: 0; }
#registerForm .radio input[type="radio"]:focus + label::before {
  outline-offset: -2px; }
#registerForm .radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
#registerForm .radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }
#registerForm .radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  left: 1px;
  top: 4px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

.radio input[type="radio"]:disabled + label {
  opacity: 0.65; }

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

.radio.radio-inline {
  margin-top: 0; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

.tooltip-inner {
  border-radius: 0px;
  padding: 5px 10px;
  background-color: #0b6796 !important;
  color: #ffffff;
  min-width: 130px;
  max-width: auto;
  word-wrap: break-word; }

.tooltip.left .tooltip-arrow {
  border-left-color: #0b6796; }

.tooltip.right .tooltip-arrow {
  border-width: 10px 10px 10px 0;
  border-right-color: #0b6796;
  margin-top: -10px; }

.tooltip.top .tooltip-arrow {
  border-top-color: #0b6796; }

.tooltip.top .tooltip-arrow {
  border-top-color: #0b6796; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0b6796; }

.popover.right > .arrow {
  border-right-color: #0b6796; }

.popover.right > .arrow:after {
  border-right-color: #0b6796; }

.ellipses, .ellipses-market-trade-label, .ellipses-market-trade-label a, .ellipses-market-trade-span, .ellipses-market-trade-span a, #tooltip-arrw--left-view-all .ellipses-market-trade-label, #tooltip-arrw--left-view-all .ellipses-market-trade-label a {
  white-space: nowrap;
  max-width: auto;
  overflow: hidden;
  text-overflow: ellipsis; }
  .ellipses a, .ellipses-market-trade-label a, .ellipses-market-trade-span a, #tooltip-arrw--left-view-all .ellipses-market-trade-label a {
    white-space: nowrap;
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis; }

.display-in-block, .display-in-block-txt-blk, .display-in-keywrd-owned {
  display: inline-block;
  width: 100%;
  padding-left: 0px; }

.display-in-block-txt-blk {
  width: auto;
  max-width: 100%;
  padding-left: 0px; }

.display-in-keywrd-owned {
  width: 100%;
  padding-left: 0px; }

.ellipses-market-trade-label {
  float: left;
  width: 50%; }
  .ellipses-market-trade-label a {
    width: 50%;
    float: left; }

.ellipses-market-trade-span {
  float: right;
  width: 50%; }
  .ellipses-market-trade-span a {
    width: 50%;
    float: right; }

#tooltip-arrw--left .tooltip.bottom .tooltip-arrow {
  left: 40px !important; }

#tooltip-arrw--left span .tooltip.bottom .tooltip-arrow {
  left: 60px !important; }

#tooltip-arrw--left-view-all .ellipses-market-trade-label {
  float: left;
  width: 100%; }
  #tooltip-arrw--left-view-all .ellipses-market-trade-label a {
    width: 100%;
    float: left; }
#tooltip-arrw--left-view-all .tooltip.bottom .tooltip-arrow {
  left: 100px !important; }
#tooltip-arrw--left-view-all .tooltip-inner {
  margin-left: 80px !important; }

#ellipses-viewall .ellipses-market-trade-label {
  width: 100% !important; }

.ellipses-wid {
  width: 115px;
  display: inline-block; }

.ellipses-general {
  width: 100px;
  display: inline-block; }

.ellipses-check {
  width: 83px;
  display: inline-block; }

.ellipses-check-itd {
  width: 43px;
  display: inline-block; }

/*
Toast overriding css*/
#toast-container .toast-img-div {
  display: inline-block;
  float: left;
  padding: 10px;
  background-color: #2c8cb6;
  height: 90px; }
  #toast-container .toast-img-div img {
    float: left; }
#toast-container .toast-content {
  width: Calc(100% - 100px);
  padding: 10px;
  float: left;
  display: inline-block; }
  #toast-container .toast-content .toast-content-title {
    font-weight: 600;
    color: #484848;
    font-size: 18px; }
#toast-container .toastMsg-class {
  color: #707070;
  font-size: 13px;
  margin-top: 10px; }
#toast-container .toast {
  margin: 0;
  /*width: 65%;*/
  opacity: 1;
  padding: 0px;
  background-color: white; }
  #toast-container .toast button {
    top: 5px;
    right: 5px;
    color: #818181; }

/*'
Badges
*/
.badge {
  border-radius: 2px; }
  .badge.badge-danger {
    background: #a72305; }
  .badge.badge-blue {
    background: #0f4bad; }

/*
Jquery UI
*/
.ui-autocomplete {
  z-index: 999999; }

/*
Choosen UI Widget
*/
.chosen-container .chosen-drop {
  z-index: 7; }

/**Scroll top for scrolling result up**/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #25a2dc url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

/*
CDP Red and Green Circle
*/
.cdp-green {
  color: #7fba00; }

.cdp-red {
  color: #ff0000; }

/*
CLose Button in Modal
*/
.closebutton-absolute {
  position: absolute;
  right: 60px;
  top: -25px; }

.close-button {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  cursor: pointer; }

.radio-primary input[type="radio"] + label::before {
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
  top: 3px;
  background-color: transparent; }
.radio-primary input[type="radio"] + label::after {
  border: 2px solid #fff;
  width: 5px;
  height: 5px;
  left: 5px;
  top: 8px;
  background-color: transparent; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #ffffff; }
.radio-primary input[type="radio"]:checked + label::after {
  background: #ffffff; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #ffffff; }

/* background color */
::-webkit-scrollbar-thumb {
  background-color: #cccccc; }

/* scroll div*/
::-webkit-scrollbar-button {
  display: none; }

/* top scroll button */
/*---------------------------------components/text-----------------------*/
.text-small {
  font-size: 13px; }

.text-small-ticket {
  font-size: 14px; }

.text-white {
  color: #ffffff; }

.text-blue {
  color: #0b628e; }
  .text-blue a {
    color: #0b628e; }
    .text-blue a:hover {
      text-decoration: none; }

.text-black {
  color: #000000; }

.text-red {
  color: #ff0000; }

.text-summer-sky {
  color: #25a2dc; }

.text-Arapawa {
  color: #4a8fb5; }

.text-primary-blue {
  color: #2378a1; }

.text-dark-gray {
  color: #808080; }

.text-grey-ear {
  color: #808080 !important; }

.text-light-blue {
  color: #009fde; }

.text-deep-sky-blue {
  color: #009EEB; }

.text-header-light {
  color: #595F6E; }

.text-link {
  color: #009de9; }

.keyword-name {
  font-size: 18px; }

.keyword-grey {
  color: #444444;
  font-size: 13px;
  font-weight: lighter; }

.keyword-grey-span {
  color: #0b6795;
  font-size: 13px;
  text-transform: capitalize; }
  .keyword-grey-span a {
    text-decoration: none;
    color: #0b628e; }
    .keyword-grey-span a:hover {
      text-decoration: none; }

.modal-body .keyword-grey-span {
  text-transform: none; }

.text-bold {
  font-weight: bold; }

.text-social-primary {
  color: #0b6795;
  -webkit-font-smoothing: antialiased; }

.text-social-gray {
  color: #555555; }

.text-red {
  color: #ce0015; }

.text-sky-blue {
  color: #2fade8; }

.text-dark-blue {
  color: #006793; }

.text-light-blue {
  color: #00cbfb; }

.text-orange {
  color: #ff6423; }

.text-light-orange {
  color: #ff9534; }

.text-lighter-orange {
  color: #de833a; }

.text-dark-green {
  color: #00abbb; }

.text-light-grey {
  color: #8ea0a7; }

.text-dark-red {
  color: #fb1a1b !important; }
  .text-dark-red a {
    color: #fb1a1b !important; }

.text-dark-green {
  color: #108611 !important; }
  .text-dark-green a {
    color: #108611 !important; }

/*==================================
=            font sizes            =
==================================*/
.f-sz10 {
  font-size: 10px !important; }

.f-sz11 {
  font-size: 11px !important; }

.f-sz12 {
  font-size: 12px !important; }

.f-sz13 {
  font-size: 13px !important; }

.f-sz14 {
  font-size: 14px !important; }

.f-sz15 {
  font-size: 15px !important; }

.f-sz16 {
  font-size: 16px !important; }

.f-sz17 {
  font-size: 17px !important; }

.f-sz18 {
  font-size: 18px !important; }

.f-sz19 {
  font-size: 19px !important; }

.f-sz20 {
  font-size: 20px !important; }

.f-sz21 {
  font-size: 21px !important; }

.f-sz22 {
  font-size: 22px !important; }

.f-sz23 {
  font-size: 23px !important; }

.f-sz24 {
  font-size: 24px !important; }

.f-sz25 {
  font-size: 25px !important; }

.f-sz26 {
  font-size: 26px !important; }

.f-sz27 {
  font-size: 27px !important; }

.f-sz28 {
  font-size: 28px !important; }

.f-sz29 {
  font-size: 29px !important; }

.f-sz30 {
  font-size: 30px !important; }

/*=====  End of font sizes  ======*/
/*===================================
=            line height            =
===================================*/
.l-h0 {
  line-height: 0 !important; }

.l-h1 {
  line-height: 0.1 !important; }

.l-h2 {
  line-height: 0.2 !important; }

.l-h3 {
  line-height: 0.3 !important; }

.l-h4 {
  line-height: 0.4 !important; }

.l-h5 {
  line-height: 0.5 !important; }

.l-h6 {
  line-height: 0.6 !important; }

.l-h7 {
  line-height: 0.7 !important; }

.l-h8 {
  line-height: 0.8 !important; }

.l-h9 {
  line-height: 0.9 !important; }

.l-h10 {
  line-height: 1 !important; }

.l-h11 {
  line-height: 1.1 !important; }

.l-h12 {
  line-height: 1.2 !important; }

.l-h13 {
  line-height: 1.3 !important; }

.l-h14 {
  line-height: 1.4 !important; }

.l-h15 {
  line-height: 1.5 !important; }

.l-h16 {
  line-height: 1.6 !important; }

.l-h17 {
  line-height: 1.7 !important; }

.l-h18 {
  line-height: 1.8 !important; }

.l-h19 {
  line-height: 1.9 !important; }

.l-h20 {
  line-height: 2 !important; }

/*=====  End of line height  ======*/
/*===================================
=            font-weight            =
===================================*/
.f-wt1 {
  font-weight: 100; }

.f-wt2 {
  font-weight: 200; }

.f-wt3 {
  font-weight: 300; }

.f-wt4 {
  font-weight: 400; }

.f-wt5 {
  font-weight: 500; }

.f-wt6 {
  font-weight: 600; }

.f-wt7 {
  font-weight: 700; }

.f-wt8 {
  font-weight: 800; }

.f-wt9 {
  font-weight: 900; }

/*=====  End of font-weight  ======*/
.word-break-all {
  word-break: all; }

.text-yellow {
  color: #ffcc33; }

.error-color {
  color: #a94442 !important; }

.error-color-border {
  color: #a94442 !important; }

.activation-text-header {
  font-size: 18px;
  color: #71a7d3; }

.width-250 {
  width: 250px !important; }

/*---------------------------------layout/header-----------------------*/
.keyword-markt-popup-common .modal-dialog {
  width: 480px !important; }
.keyword-markt-popup-common .modal-header {
  padding: 9px !important; }
.keyword-markt-popup-common .modal-body {
  padding: 5px; }
.keyword-markt-popup-common .modal-content {
  border-radius: 0px !important; }
.keyword-markt-popup-common .modal-content input[type="text"],
.keyword-markt-popup-common .modal-content input[type="number"] {
  color: #000 !important;
  border-radius: 0px;
  border: 1px solid #dadbdd;
  background-color: #fbfbfb;
  font-size: 13px;
  padding: 2px 5px;
  box-shadow: none;
  height: 34px; }
.keyword-markt-popup-common .dialog-loading-icon {
  display: none;
  position: absolute;
  width: 11px;
  height: 11px;
  right: 11px;
  top: 14px; }
.keyword-markt-popup-common .dialog-loading-icon-delete {
  display: none;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 60px;
  top: 4px; }
.keyword-markt-popup-common .keyword-popup .modal-dialog :before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 1px;
  left: -14px;
  z-index: 99; }
.keyword-markt-popup-common .close {
  top: 14px !important;
  right: 16px !important;
  font-size: 23px !important; }
.keyword-markt-popup-common .custom-modal-header {
  text-align: left !important;
  color: #0b6798 !important;
  text-transform: capitalize;
  letter-spacing: 0px !important;
  border-top: 0px solid; }
.keyword-markt-popup-common .keyword-popup .modal-dialog .close {
  z-index: 99999999;
  color: #999999;
  text-shadow: 0px 0px 0px;
  font-weight: normal;
  top: 4px;
  right: 6px;
  position: absolute;
  opacity: 1; }
.keyword-markt-popup-common .custom-modal-header .modal-title {
  /* font-weight: bold; */
  font-size: 18px; }
.keyword-markt-popup-common .keyword-popup .modal-dialog:after {
  content: '';
  height: 0px;
  width: 0px;
  /* border-right: 50px solid rgba(255, 0, 0, 0.98); */
  position: absolute;
  top: 1px;
  right: -14px;
  z-index: 999999; }
.keyword-markt-popup-common .form-group {
  margin-bottom: 15px !important; }
.keyword-markt-popup-common .form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle; }

/*---------------------------------layout/header-----------------------*/
.login_header {
  height: auto;
  background-color: #0b628f;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1001; }
  .login_header .logged_in_header > li {
    display: inline-block;
    padding: 0; }
    .login_header .logged_in_header > li > a {
      display: inline-block;
      padding: 4px 12px;
      padding-bottom: 9px; }
      .login_header .logged_in_header > li > a:hover, .login_header .logged_in_header > li > a:focus {
        background-color: transparent; }
    .login_header .logged_in_header > li span.badge {
      position: absolute;
      top: 0px;
      right: -5px; }
  .login_header .social-mode-button label {
    vertical-align: top;
    font-weight: 500;
    display: inline-block;
    font-size: 14px; }

.search-btn-header {
  background: url(../images/searchBtn.png);
  border: 0;
  display: block;
  height: 25px;
  right: 5px;
  position: absolute;
  width: 25px;
  background-repeat: no-repeat;
  top: 4px;
  z-index: 3; }

.social-search-btn-header {
  background: url(../images/search_icon.png);
  border: 0;
  display: block;
  height: 25px;
  right: 5px;
  position: absolute;
  width: 25px;
  background-repeat: no-repeat;
  top: 4px;
  z-index: 3; }

#search_box {
  padding-right: 35px; }

/*'
Notification header
*/
.notification-container {
  width: 350px;
  position: absolute;
  left: -150px;
  top: 41px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9; }
  .notification-container .notif-triangle {
    text-align: center;
    margin: auto;
    margin-top: -10px; }
    .notification-container .notif-triangle .triangle-up {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid white;
      margin: auto;
      text-align: center; }
  .notification-container .notif-content {
    width: 100%;
    float: left;
    font-size: 12px;
    color: #009eeb;
    background: #f9f9f9;
    cursor: pointer;
    padding: 6px;
    box-shadow: 0px 0px 0px;
    border-bottom: 1px solid white; }
  .notification-container .notif-list-content {
    padding: 10px;
    color: gray;
    font-size: 16px;
    text-align: center; }
  .notification-container .notif-detail {
    font-size: 9.5px;
    color: #999999; }
  .notification-container .no-notify {
    margin: 100px auto;
    text-align: center;
    color: #444444; }

.notification__text {
  word-break: break-all; }
  .notification__text a {
    padding: 0;
    color: #444444; }

/*
Cart Menu
*/
.cart-menu {
  background: #F7F7F7;
  position: fixed;
  top: 46px;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 250px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 8;
  background-color: #ffffff; }
  .cart-menu .cart-header {
    background: black;
    color: white;
    width: 100%;
    float: left;
    height: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    padding-top: 4px; }

.cart-details {
  background-color: #F3FBFF; }

.keyword-search-container {
  background: #F7F7F7;
  position: fixed;
  text-align: center;
  top: 44px;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 250px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 8;
  background-color: white; }
  .keyword-search-container .keyword-information label {
    color: #595F6E;
    font-weight: normal; }

#static-user-menu,
#manage-app-menu {
  width: 50px;
  z-index: 8;
  position: fixed;
  top: 44px;
  overflow: visible; }
  #static-user-menu li,
  #manage-app-menu li {
    width: 250px; }
  #static-user-menu .header-logout-img,
  #manage-app-menu .header-logout-img {
    margin-top: 3px; }
  #static-user-menu .header-profile-li,
  #manage-app-menu .header-profile-li {
    display: inline-block; }
  #static-user-menu .manageApps,
  #manage-app-menu .manageApps {
    height: 30px;
    float: left; }
  #static-user-menu .manageAppsText,
  #manage-app-menu .manageAppsText {
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 22px; }
  #static-user-menu .manageAppsLi,
  #manage-app-menu .manageAppsLi {
    padding: 6px; }
  #static-user-menu .manageAppsLi:hover,
  #manage-app-menu .manageAppsLi:hover {
    cursor: pointer; }

#static-user-menu:hover {
  width: 250px; }

#manage-app-menu:hover {
  width: 250px; }

.keyword-search-performance {
  /* Hoshi */ }
  .keyword-search-performance .input--hoshi {
    overflow: hidden; }
  .keyword-search-performance .input__field--hoshi {
    margin-top: 1em;
    padding: 0.85em 0.15em;
    width: 100%;
    background: transparent;
    color: #595F6E; }
  .keyword-search-performance .input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none; }
  .keyword-search-performance .input__label-content--hoshi {
    position: absolute; }
  .keyword-search-performance .input__label--hoshi::before,
  .keyword-search-performance .input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA; }
  .keyword-search-performance .input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  .keyword-search-performance .input__label--hoshi-color-1::after {
    border-color: #00aaff; }
  .keyword-search-performance .input__label--hoshi-color-2::after {
    border-color: #00ffaa; }
  .keyword-search-performance .input__label--hoshi-color-3::after {
    border-color: #ff5500; }
  .keyword-search-performance .input__field--hoshi:focus + .input__label--hoshi::after,
  .keyword-search-performance .input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .keyword-search-performance .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
  .keyword-search-performance .input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards; }
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
/*
app-marketplace-appmenu
*/
.search-box-header-main {
  width: Calc(100% - 70px); }
  .search-box-header-main .search-box-header {
    max-width: 270px;
    width: 100%;
    background-color: white; }

.header-main-logo {
  cursor: pointer; }
  .header-main-logohover {
    cursor: pointer; }

.goto-market-menu i,
.goto-market-menu a {
  color: #30abe8; }
.goto-market-menu:hover {
  position: absolute;
  bottom: 10%;
  transition: .8s ease all;
  background-color: #009eeb;
  text-shadow: none;
  cursor: pointer; }
  .goto-market-menu:hover i,
  .goto-market-menu:hover a {
    color: #fff !important; }

/*---------------------------------layout/footer-----------------------*/
.prelogin_footer {
  position: relative; }
  .prelogin_footer ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #9B9B9B; }
    .prelogin_footer ul li a:after {
      content: "|";
      position: relative;
      left: 7px; }
  .prelogin_footer ul li:first-child a {
    text-decoration: none; }
  .prelogin_footer ul li:first-child a:hover {
    cursor: default;
    text-decoration: none; }
  .prelogin_footer ul li:last-child a:after {
    content: ""; }

.postFooter {
  position: absolute;
  bottom: 0;
  width: 100%; }

/*---------------------------------support_center/support_general.scss-----------------------*/
.header-title {
  padding: 8px 4px;
  font-size: 18px;
  background-color: #fff; }
  .header-title span {
    font-size: 0.8em; }

.box-shadow {
  box-shadow: 1px 1px 1px #ddd; }

a.nohover,
a.nohover:hover {
  background-color: #90a1a9 !important;
  color: #fff; }

a:focus,
a:hover {
  text-decoration: none; }

.sidemenu-active {
  border-left: 2px solid #90a1a9;
  background-color: #eff3f4; }

.general__sidecol .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.font {
  color: #4b86aa; }

.nospace {
  border-bottom: 0; }

.list-group-item {
  padding: 10px 8px; }

i.gap {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px; }

.faq-wrapper .panel-group .panel {
  margin-top: 0px;
  border-top: none; }
.faq-wrapper .panel-default > .panel-heading {
  background-color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.panel-group .panel_margin {
  margin-bottom: 0;
  border-radius: 0px;
  border: 1px solid #ccc; }

.panel-titleM {
  border: 1px solid #ccc;
  border-bottom: none; }

.panel-title {
  font-size: 14px; }

.panel-heading {
  display: -webkit-box;
  width: 95%;
  padding: 12px 13px 0; }

.text-black-light {
  color: #333333; }

/*---------------------------------support_center/active_ticket.scss-----------------------*/
.heading h4 {
  display: inline-block; }

.chat-input textarea {
  border: none;
  background: #f2f2f2;
  width: 100%;
  resize: none;
  overflow: hidden;
  border-radius: 5px;
  outline: none;
  padding: 10px 8px;
  font-size: 15px;
  overflow-y: auto;
  max-height: 150px; }
.chat-input .button__chat--div {
  height: 30px;
  position: absolute;
  right: 15px;
  top: 5px; }
  .chat-input .button__chat--div .button__chat--box {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff; }
    .chat-input .button__chat--div .button__chat--box i {
      font-size: 14px;
      position: absolute;
      top: 8px;
      left: 6px; }

.chat-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f2f2f2; }
  .chat-container .arrow_box {
    position: relative;
    min-height: 50px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
    font-size: 15px; }
  .chat-container .arrow_box:after, .chat-container .right-arrow:after, .chat-container .arrow_box:before, .chat-container .left-arrow:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .chat-container .right-arrow:after {
    left: 100%;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ffffff;
    border-width: 7px;
    margin-top: -5px; }
  .chat-container .left-arrow:before {
    right: 100%;
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #dbe9f1;
    border-width: 7px;
    margin-top: -5px; }
  .chat-container .chat-left, .chat-container .chat-right {
    width: 100%; }
    .chat-container .chat-left .chat-time, .chat-container .chat-right .chat-time {
      font-size: 13px; }
  .chat-container .chatbox-other-user {
    background-color: #dbe9f1; }

.chat-date {
  padding: 2px 10px;
  display: inline-block;
  font-size: 12px; }

.close-ticket {
  cursor: pointer; }

#ticketCloseModal .modal-content {
  border-radius: 0px;
  width: 300px;
  margin: 100px auto; }
  #ticketCloseModal .modal-content .modal-header {
    background-color: #0b628f;
    padding: 7px 10px; }
    #ticketCloseModal .modal-content .modal-header .close {
      opacity: 1;
      color: white;
      outline: none; }
  #ticketCloseModal .modal-content .support-text {
    width: Calc(100% - 65px); }
  #ticketCloseModal .modal-content .support-img {
    height: 45px;
    width: 45px; }
  #ticketCloseModal .modal-content .rating {
    font-size: 20px; }
    #ticketCloseModal .modal-content .rating i {
      cursor: pointer; }
  #ticketCloseModal .modal-content .continue-btn {
    padding: 2px 5px;
    background: #0b628f;
    border: #0b628f;
    font-size: 14px; }

.model_header {
  padding: 2px !important;
  margin-left: 5px;
  margin-top: 4px;
  border-bottom: 1px solid #ccc; }

.fsz-8 {
  font-size: 8px; }

/*---------------------------------support_center/create_ticket.scss-----------------------*/
.heading h4 {
  display: inline-block; }

.issue-list {
  list-style: none; }
  .issue-list li {
    padding: 5px 0px; }
  .issue-list li:before {
    content: "■";
    font-size: 10px;
    margin-right: 10px; }
  .issue-list ul {
    list-style: none; }
    .issue-list ul li {
      cursor: pointer;
      color: #2fade8;
      padding: 2px 0px; }
    .issue-list ul li:before {
      content: ""; }

#supportForm .modal-content {
  border-radius: 0px;
  margin: 100px auto; }
  #supportForm .modal-content .modal-header {
    padding: 4px 10px;
    font-size: 18px; }
  #supportForm .modal-content .close {
    outline: none;
    opacity: 0.5; }
  #supportForm .modal-content .modal-body .support-form-label {
    position: relative;
    display: inline-block; }
  #supportForm .modal-content .modal-body input {
    width: 285px;
    border-radius: 5px;
    height: 30px;
    box-shadow: none; }
  #supportForm .modal-content .modal-body textarea {
    resize: none;
    border-radius: 5px;
    box-shadow: none; }
  #supportForm .modal-content .modal-body select {
    width: 285px;
    height: 30px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    text-indent: 5px;
    border: 1px solid #dadbdd; }
  #supportForm .modal-content .modal-body .kwd-purchase-input {
    width: 284px; }
  #supportForm .modal-content .modal-body .btc-address-input {
    width: 100%; }
  #supportForm .modal-content .modal-body .mandatory-field {
    font-size: 7px;
    position: absolute;
    top: 0;
    right: 5px;
    color: #a94442; }
  #supportForm .modal-content .modal-footer {
    border-top: none; }
    #supportForm .modal-content .modal-footer .reset-btn, #supportForm .modal-content .modal-footer .submit-btn {
      padding: 0px 20px;
      font-size: 14px;
      background: #f3f9fd;
      border-radius: 5px;
      border: 1px solid #e3e6e6;
      margin: 5px; }

#tradingIssueForm .modal-content,
#tradingIssueForm .modal-content,
#itPurchaseIssueForm .modal-content,
#issueItCashout .modal-content,
#issueItReceiving .modal-content,
#issueItSending .modal-content,
#generalQuery .modal-content,
#feedback .modal-content {
  border-radius: 0px;
  margin: 100px auto; }
  #tradingIssueForm .modal-content .modal-header,
  #tradingIssueForm .modal-content .modal-header,
  #itPurchaseIssueForm .modal-content .modal-header,
  #issueItCashout .modal-content .modal-header,
  #issueItReceiving .modal-content .modal-header,
  #issueItSending .modal-content .modal-header,
  #generalQuery .modal-content .modal-header,
  #feedback .modal-content .modal-header {
    padding: 4px 10px;
    font-size: 18px; }

.textAreaSize {
  resize: none; }

.font-header {
  font-size: 18px; }

.span-header {
  font-size: 14px; }

.sidemenu-active {
  border-left: 2px solid #90a1a9;
  background-color: #eff3f4; }

.img-wrapper {
  background-color: #eaeaea;
  width: 470px;
  height: 330px;
  margin: 10px;
  margin-bottom: 20px; }

/*---------------------------------support_center/support_ticket_history.scss-----------------------*/
.sidemenu-active {
  border-left: 2px solid #90a1a9;
  background-color: #eff3f4; }

.rating-table > thead > tr > th {
  border-bottom: 1px solid #ddd; }
.rating-table > tbody > tr > td {
  border-top: none;
  padding: 4px 8px; }

@-moz-document url-prefix() {
  .file-in input[type="file"] {
    padding: 0 !important; } }

/*# sourceMappingURL=app_support.css.map */
