.first_time_container .form-control::-webkit-input-placeholder {
  color: #999 !important; }
.first_time_container .form-control::-moz-placeholder {
  color: #999 !important; }
.first_time_container .form-control-feedback {
  line-height: 20px; }
.first_time_container .relative {
  position: relative; }
  .first_time_container .relative .calendar {
    position: absolute;
    right: 10px;
    top: 0; }
.first_time_container .radio {
  margin-left: 20px; }
.first_time_container .radio {
  margin-top: 0;
  margin-bottom: 0; }
.first_time_container .radio label {
  display: inline-block;
  position: relative;
  padding-top: 3px;
  padding-left: 3px; }
.first_time_container .signupRadio label {
  display: inline-block;
  position: relative;
  margin-right: 0px; }
.first_time_container .radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.first_time_container .radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.first_time_container .radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }
.first_time_container .radio input[type="radio"] {
  opacity: 0; }
.first_time_container .radio input[type="radio"]:focus + label::before {
  outline-offset: -2px; }
.first_time_container .radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
.first_time_container .radio-primary input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }
.first_time_container .radio-primary input[type="radio"] + label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  left: 1px;
  top: 4px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.first_time_container .progress {
  height: 2px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.first_time_container .first_time_profile-pic {
  width: 100px;
  height: 100px;
  background-image: url("../images/rightpanel-img/Default_profile_image10.PNG");
  border-radius: 50px;
  overflow: hidden;
  background-size: cover;
  float: left; }
.first_time_container .vertical-center {
  display: flex;
  align-items: center; }
.first_time_container .first_time_input {
  border: none;
  background: none;
  border-bottom: 1px solid #999;
  box-shadow: none; }
  .first_time_container .first_time_input:focus {
    box-shadow: none !important; }
.first_time_container .something_aboutyou {
  width: calc(100% - 110px);
  margin-left: 5px;
  float: left; }
  .first_time_container .something_aboutyou .form-control:focus {
    box-shadow: none !important; }
  .first_time_container .something_aboutyou input {
    border: none;
    background: none;
    border-bottom: 1px solid #999; }
  .first_time_container .something_aboutyou .upload-pic {
    text-decoration: underline;
    cursor: pointer; }

.claim-key-max-height {
  max-height: 400px;
  overflow-y: auto; }

.btn-is-disabled {
  pointer-events: none;
  /* Disables the button completely. Better than just cursor: default; */
  opacity: 0.4; }

.ft_create_textarea {
  resize: vertical; }

.first_time_follow_container .first_time_follow-pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-size: cover;
  float: left; }
.first_time_follow_container .progress {
  height: 2px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.first_time_like_container .btn-social-wid-auto + .btn-social-wid-auto {
  margin-right: 10px; }
.first_time_like_container .progress {
  height: 2px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=app_first_time.css.map */
