.textAreaSize
{
	overflow-y:auto;
	max-height:100px;

}
.width10{
	width:10%;
}
.width25
{
	width:25%;
}
.width20
{
	width:20%;
}

.right
{
	float:right;
}
.bg-lightblue
{
	background:#35ccf1;
	border:none
}


