.dashboard-table{
    thead{
      tr{
        th{
          text-align: left;
        }
      }
    }
    tbody{
      tr{
        td{
          a{
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
}


//sm dashboard
.font-normal {
    font-weight: normal;
}

