.prelogin_footer{
  position: relative;
  ul{
    li{
      a{
        font-size: 15px;
        font-weight: 500;
        color: #9B9B9B;
        &:after{
          content:"|";
          position: relative;
          left:7px;
        }
      }
      &:first-child{
        a{
          text-decoration: none;
        }
        a:hover{
            cursor: default;
            text-decoration: none;
        }
      }
      &:last-child{
        a:after{
          content:"";
        }
      }
    }
  }
}
.postFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
}
