.login_header {
    height: auto;
    background-color: #0b628f;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1001;
    .logged_in_header {
        > li {
            display:inline-block;
            padding:0;
            >a {
                display: inline-block;
                padding: 4px 12px;
                padding-bottom: 9px;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
            span.badge {
                position: absolute;
                top: 0px;
                right: -5px;
            }
        }
    }
    .social-mode-button {
        label {
            vertical-align: top;
            font-weight: 500;
            display: inline-block;
            font-size: 14px;
        }
    }
}

.search-btn-header {
    background: url(../images/searchBtn.png);
    border: 0;
    display: block;
    height: 25px;
    right: 5px;
    position: absolute;
    width: 25px;
    background-repeat: no-repeat;
    top: 4px;
    z-index: 3;
}

.social-search-btn-header {
    background: url(../images/search_icon.png);
    border: 0;
    display: block;
    height: 25px;
    right: 5px;
    position: absolute;
    width: 25px;
    background-repeat: no-repeat;
    top: 4px;
    z-index: 3;
}

#search_box {
    padding-right: 35px;
}


/*'
Notification header
*/

.notification-container {
    width: 350px;
    position: absolute;
    left: -150px;
    top: 41px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
    display: none;
    z-index: 9;
    .notif-triangle {
        text-align: center;
        margin: auto;
        margin-top: -10px;
        .triangle-up {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid white;
            margin: auto;
            text-align: center
        }
    }
    .notif-content {
        width: 100%;
        float: left;
        font-size: 12px;
        color: #009eeb;
        background: #f9f9f9;
        cursor: pointer;
        padding: 6px;
        box-shadow: 0px 0px 0px;
        border-bottom: 1px solid white;
    }
    .notif-list-content {
        padding: 10px;
        color: gray;
        font-size: 16px;
        text-align: center;
    }
    .notif-detail {
        font-size: 9.5px;
        color: #999999;
    }
    .no-notify{
        margin: 100px auto;
        text-align: center;
        color: #444444;
    }
}

.notification {
    &__text {
        word-break: break-all;
        a {
            padding: 0;
            color: $grayscale-4
        }
        // /* hide text if it more than N lines  */
        // overflow: hidden;
        // /* for set '...' in absolute position */
        // position: relative;
        // /* use this value to count block height */
        // line-height: 1.2em;
        // /* max-height = line-height (1.2) * lines max number (3) */
        // max-height: 3.6em;
        // /* fix problem when last visible word doesn't adjoin right side  */
        // text-align: justify;
        // /* place for '...' */
        // margin-right: -1em;
        // padding-right: 1em;
        // &::before {
        //     /* points in the end */
        //     content: '...';
        //     /* absolute position */
        //     position: absolute;
        //     /* set position to right bottom corner of block */
        //     right: 0;
        //     bottom: 0;
        // }
        // /* hide ... if we have text, which is less than or equal to max lines */
        // &::after {
        //     /* points in the end */
        //     content: '';
        //     /* absolute position */
        //     position: absolute;
        //     /* set position to right bottom corner of text */
        //     right: 0;
        //     /* set width and height */
        //     width: 10px;
        //     height: 10px;
        //     margin-top: 0.2em;
        //     /* bg color = bg color under block */
        //     background: white;
        // }
    }
}


/*
Cart Menu
*/

.cart-menu {
    background: #F7F7F7;
    position: fixed;
    top: 46px;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 250px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    z-index: 8;
    background-color: $white;
    .cart-header {
        background: black;
        color: white;
        width: 100%;
        float: left;
        height: 35px;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        padding-top: 4px;
    }
}

.cart-details {
    background-color: #F3FBFF;
}

.keyword-search-container {
    background: #F7F7F7;
    position: fixed;
    text-align: center;
    top: 44px;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 250px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    z-index: 8;
    background-color: white;
    .keyword-information {
        label {
            color: #595F6E;
            font-weight: normal;
        }
    }
}

#static-user-menu,
#manage-app-menu {
    li {
        width: 250px;
    }
    width: 50px;
    z-index:8;
    position: fixed;
    top: 44px;
    overflow: visible;
    .header-logout-img {
        margin-top: 3px;
    }
    .header-profile-li {
        display: inline-block;
    }
    .manageApps {
        height: 30px;
        float: left;
    }
    .manageAppsText {
        font-size: 14px;
        display: inline-block;
        float: left;
        margin-top: 5px;
        margin-left: 22px;
    }
    .manageAppsLi {
        padding: 6px;
    }
    .manageAppsLi:hover {
        cursor: pointer;
    }
}

#static-user-menu:hover {
    width: 250px;
}

#manage-app-menu:hover {
    width: 250px;
}

.keyword-search-performance {
    /* Hoshi */
    .input--hoshi {
        overflow: hidden;
    }
    .input__field--hoshi {
        margin-top: 1em;
        padding: 0.85em 0.15em;
        width: 100%;
        background: transparent;
        color: #595F6E;
    }
    .input__label--hoshi {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0.25em;
        width: 100%;
        height: calc(100% - 1em);
        text-align: left;
        pointer-events: none;
    }
    .input__label-content--hoshi {
        position: absolute;
    }
    .input__label--hoshi::before,
    .input__label--hoshi::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
    }
    .input__label--hoshi::after {
        margin-top: 2px;
        border-bottom: 4px solid red;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .input__label--hoshi-color-1::after {
        border-color: hsl(200, 100%, 50%);
    }
    .input__label--hoshi-color-2::after {
        border-color: hsl(160, 100%, 50%);
    }
    .input__label--hoshi-color-3::after {
        border-color: hsl(20, 100%, 50%);
    }
    .input__field--hoshi:focus + .input__label--hoshi::after,
    .input--filled .input__label--hoshi::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
    .input--filled .input__label-content--hoshi {
        -webkit-animation: anim-1 0.3s forwards;
        animation: anim-1 0.3s forwards;
    }
    @-webkit-keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }
        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -40%, 0);
            transform: translate3d(-1em, -40%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
        }
    }
    @keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }
        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -40%, 0);
            transform: translate3d(-1em, -40%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
        }
    }
}


/*
app-marketplace-appmenu
*/

.search-box-header-main {
    width: Calc(100% - 70px);
    .search-box-header {
        max-width: 270px;
        width: 100%;
        background-color: white;
    }
}

.header-main-logo {
    cursor: pointer;
    &hover {
        cursor: pointer;
    }
}

.goto-market-menu {
    i,
    a {
        color: #30abe8;
    }
    &:hover {
        position: absolute;
        bottom: 10%;
        transition: .8s ease all;
        background-color: #009eeb;
        text-shadow: none;
        cursor: pointer;
        i,
        a {
            color: #fff !important;
        }
    }
}
