#slabGenaration {
    // .nav.nav-tabs {
    //     margin: 0 -15px;
    //     border-bottom: solid 1px $lightBlue2;
    //     li {
    //         &.active > a {
    //             &,
    //             &:hover,
    //             &:focus {
    //                 // color: $nav-tabs-active-link-hover-color; 
    //                 // background-color: $nav-tabs-active-link-hover-bg; 
    //                 // border: 1pxsolid $nav-tabs-active-link-hover-border-color; 
    //                 // border:none;
    //                 border: 1px solid transparent;
    //                 border-bottom-color: $lightBlue2;
    //                 cursor: default;
    //             }
    //         }
    //     }
    // }
}

#GenerateSlab {
    margin-top: 15px;
    text-align: center;
    table {
        @include setTable($lightBlue, $lightBlue, $lightBlue2, $lightBlue2, 32px);
        th {
            &:not(:last-child) {
                border-right: solid 1px $lightBlue2;
            }
        }
        tr {
            td {
                &:last-child {
                    padding-right: 4em;
                }
            }
            &:first-child {
                background: $blue;
                td:last-child {
                    &:after {
                        content: " First Slab ";
                        color: $red;
                        position: absolute;
                        padding-left: 1em;
                    }
                }
            }
            &:last-child {
                background: $brand-success;
                td:last-child {
                    &:after {
                        content: "Last Slab";
                        color: $red;
                        position: absolute;
                        padding-left: 1em;
                    }
                }
            }
        }
        .current-slab {
            background: $lightBlue1;
            td:last-child {
                &:after {
                    content: " Current Slab ";
                    color: $red;
                    position: absolute;
                    padding-left: 1em;
                }
            }
        }
    }
}

#SlabsList {
    .slabsLegend {
        li {
            // display: inline-block;
            // vertical-align: middle;
            padding-top: .5em;
        }
        span {
            display: inline-block;
            width: 6em;
            height: 1.5em;
            margin-bottom: -0.4em;
        }
    }
    margin-top: 15px;
    fieldset {
        margin-top: 1px;
        padding-top: 15px;
        padding-right: 100px;
    }
    .styled-select {
        select {
            width: 100%;
            background: $white;
        }
    }
    button {
        color: $white;
        margin-top: 15px;
    }
   
    // label.dropdownOptions:before {
    //     content: '';
    //     right: 4px;
    //     top: 2px;
    //     width: 20px;
    //     height: 16px;
    //     background: #fff;
    //     position: absolute;
    //     pointer-events: none;
    //     display: block;
    // }
}

// .first-slab {
//     background: $lightBlue1;
//     td:last-child {
//         &:after {
//             content: " First Slab ";
//         }
//     }
// }
// .last-slab {
//     background: $brand-success;
//     td:last-child {
//         &:after {
//             content: "Last Slab";
//         }
//     }
// }
