.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable{
    width:300px !important;
}
#Edit-keyword,#Edit-domain_name{
    width: 100%;
}
div.jtable-main-container div.jtable-title div.jtable-title-text {
    color: #fff;
    font-size: small;
    font-weight: bold;
}

div.jtable-main-container div.jtable-title div.jtable-toolbar span.jtable-toolbar-item span.jtable-toolbar-item-text {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
}

div.jtable-main-container table.jtable thead th.jtable-column-header div.jtable-column-header-container span.jtable-column-header-text {
    display: inline-block;
    font-size: small;
    font-weight: bold;
}

div.jtable-main-container table.jtable tbody > tr > td {
    font-size: 13px;
    padding: 5px;
    border-left: 1px dotted #bebebe;
}
div.jtable-main-container table.jtable tbody > tr > td .jtable-edit-command-button {
    background: none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 17px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    opacity: 0.85;
}