.chosen-container-single .chosen-single{
    border-radius: 0;
    height: 34px;
    background: #fff;
}
.chosen-container-single .chosen-single span
{

    padding:5px;
}
.chosen-container{
    height: 34px;
}
.chosen-container-single .chosen-single div{
    /*top:5px;*/
    width:32px;
    padding:5px 10px;
    background: #eee;
}