.user_checkbox,
.checkboxStyle {
    display: none; }

.checkboxStyle  + label,
.user_checkbox + label {
    padding: 9px;
    display: inline-block;
    position: relative;
    margin-top: 7px; }

.checkboxStyle  + label {
    padding-bottom: 0; }

.user_checkbox + label:after,
.checkboxStyle  + label:after {
    content: "\f096";
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #027a98; }

.checkboxStyle + label:after {
    color: #fff; }

.user_checkbox:checked + label:after,
.checkboxStyle:checked + label:after {
    content: "\f14a";
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #027a98; }

.checkboxStyle:checked + label:after {
    color: #fff; }


.userOnline
{
    color:#669932;
}

.userOffline
{
    color:#ff3232;
}


.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


.largeDate
{
    font-size: 15px !important;
    font-weight: bold !important;
    color: cadetblue !important;
}
 .textAreaSize{
     resize:none;
 }

.btn_custom:hover, .btn_custom:focus, .btn_custom.focus {
    color: #2f2b2b ;
    cursor: pointer;
}

.prevNextBtn {
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
    background-image: linear-gradient(#134134134, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
    margin-left: 2px;
}


