#active_trade-common {
    .well {
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .05);
    }
    .active-trade-unordered {
        .nav-tabs {
            border-bottom: 2px solid transparent;
        }
        .nav-tabs > li {
            border-right: 1px solid #555555;
            padding: 0px 10px;
            background-color: transparent;
            border-bottom: 2px solid transparent;
            &:first-child {
                padding-left: 0px;
            }
            &:last-child {
                border-right: 0px solid #7c7c82;
            }
            > a {
                padding: 0px;
                border-radius: 0px;
                background-color: transparent;
                border: 1px solid transparent;
                border-bottom-color: transparent;
                font-size: 18px;
                color: #555555;
            }
            &.active > a,
            > a:hover {
                color: $app-primary;
                cursor: pointer;
                background-color: transparent;
                border: 1px solid transparent;
                border-bottom-color: transparent;
            }
        }
    }
}
