
// my earnings keyword data ul li starts here          need to chk  while merging coz it is same in keyword_html
.keymarketplace-data ul {
    padding-left: 0px;
    margin-bottom: 0px;
    li {
        list-style: none;
        border-bottom: 1px solid $darkest-gray;
        color: $results-desc-col;
        @include stripedBG($white, #e5f3fc);
    }
}
// my earnings keyword data ul li ends here



// seperate breadcrumb css for earnings starts here
// .breadcrumb {
//     padding: 0px;
//     margin-bottom: 0px!important;
//     background-color: transparent!important;
//     li {
//         a {
//             color: #7c7c7c;
//             @extend .transition; font-size: 18px;
//             &:hover {
//                 color: $dark-blue-hvr;
//                 text-decoration: none;
//             }
//             &:focus {
//                 color: $dark-blue-hvr;
//                 text-decoration: none;
//             }
//         }
//         &:before {
//             display: none !important;
//             padding-left: 0 !important;
//             color: #7c7c7c;
//             content: "";
//             // content: "|";
//         }
//         &:after {
//             display: inline-block;
//             padding-left: 0.3em;
//             color: #7c7c7c;font-size: 18px;
//             content: "|";
//         }
//         &:last-child {
//             &:after {
//                 content: "";
//             }
//         }
//     }
// }
// seperate breadcrumb css for earnings ends here
