#my-earning{
  .font-light{font-weight: lighter!important;}


  .earnings-selectlist{
    select{
      height: 30px;
      width: 100%; color: $light-grey-color;
     -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; background-color: #fff;
    }
    select:focus{outline: none;}
      .select:after {
      content:"\f107";
      font-family: FontAwesome;
      color: $dark-blue-color;padding: 5px; padding-left: 2px;
      position: absolute; right: 0; top: 0;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
      box-sizing: border-box;
    }

  }



}

#my-earning-unordered-list {
  > ul > li {
  list-style: none;
    &:nth-child(1) {
      color:$darkest-blue-color;
    }
    &:nth-child(2) {
      color:$dark-blue-color;
    }
    &:nth-child(3) {
      color:$light-blue-color;
    }
    &:nth-child(4) {
      color:$lightest-blue-color;
    }
span{color: #444444;}


  }


}

// For monthwise calendar
#calendar{
  .month-picker-title{
  .ui-corner-all {span{
      color: #444444 !important;
    }
    }
  }
  .month-picker-year-table {
      width: 100%;
      tr:first-child {
          * {
              background: #d1d9dc;
              color: $grayscale-4;
          }
      }
      .ui-button .ui-icon {
          background-image: none;
      }
      .ui-icon-circle-triangle-w,
      .ui-icon-circle-triangle-e {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          // color: red;
          text-indent: 0;
          &:before {
              padding: 10px;
          }

            color: #444 !important;

      }
      .ui-icon-circle-triangle-e {
          &:before {
              content: "\f105";
          }
      }
      .ui-icon-circle-triangle-w {
          &:before {
              content: "\f104";
          }
      }
  }
  .month-picker-month-table {
      width: 100%;
      td {
          border: 1px solid #f1f1f1;
      }

      .ui-button-text-only .ui-button-text {
        padding :0 !important;
        font-size: 13px;
      }
  }
  .ui-corner-all {
      border-radius: 0 !important;
      background: $white;
      width: 100%;
      border: none;
      span{
        color: $light-grey  !important;
      }
  }
  .ui-state-active {
    span{
      color: $username-link !important;

    }
  }
}

$position : sticky;
$top : 10px;

.stickyPostion_dashbord-leftPannel
{
  position: $position;
  top : $top + 10px;
}
.stickyPostion_myEarning-leftPannel
{
  position: $position;
  top : $top - 5px;
}
.stickyPostion_myEarning-rightPannel
{
  position: $position;
  top : $top - 10px;
}
.stickyPostion_contentUpload_leftPannel
{
  position: $position;
  top : $top + 10px; 
}
.stickyPostion_contentUpload_rightPannel
{
  position: $position;
  top : -161px + $top; 
}
.stickyPostion_ownKeyword_leftPannel
{
  position: $position;
  top : $top + 10px; 
}
.stickyPostion_ownKeyword_rightPannel
{
  position: $position;
  top : $top + 55px; 
}
.stickyPostion_activeTrade_leftPannel
{
  position: $position;
  top : $top + 10px; 
}
.stickyPostion_activeTrade_rightPannel
{
  position: $position;
  top : $top + 50px; 
}
.stickyPostion_tradinghistory_leftPannel
{
  position: $position;
  top : $top + 10px; 
}
.stickyPostion_tradinghistory_rightPannel
{
  position: $position;
  top : $top + 50px; 
}
.stickyPostion_referral_leftPannel
{
  position: $position;
  top : $top + 10px;
}
.stickyPostion_referral_rightPannel
{
  position: $position;
  top : $top + 50px; 
}