.myearnings-main-container{
  .my-info-card{
    .user-name{
      color: #757575;
    }
    .user-earnings-text{
      font-size: 13px;
      color: #a3a3a3;
    }
    img {
        width: 70px;
        height: 70px;
        box-shadow: 1px 1px 1px 0 silver;
    }
  }
  .earnings-left-module{
    .active{
      border-left: 2px solid #90a1a9;
      background-color: #f0f3f4;
      a{
        color: $primary-blue;
      }
    }
    a{
      padding: 5px 10px;
      display: block;
      text-decoration: none;
      color: $text-social-gray;
      border-left: 2px solid transparent;
      &:hover{
        color: $primary-blue;
        border-left: 2px solid #90a1a9;
        background-color: #f0f3f4;
      }
      span{
        color: #ff6524;
      }
    }
  }
  .earnings-tabs{
    font-size: 13px;
    .pull-left{
      a{
        color: #cfcfcf;
      }
    }
    .pull-right{
      a{
        color: #7c7c7c;
      }
    }
    a{
      text-decoration: none;
      &.active,
      &:hover {
          color: $summer-sky;
          text-decoration: none;
      }
    }
  }
  .earnings-container{
    .earnings-day{
      color: #757575;
      font-weight: 600;
    }
    .earnings-text{
      @include text-ellipses;
    }
    .image-circle-container{
      position:relative;
      i:first-child{
        font-size: 40px;
      }
      i:last-child{
        position: absolute;
        top: 12px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }
      img{
        position: absolute;
        top: 3px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }
    }
  }



  // .select-box-content{
  //   background: white;
  //   width: 100%;
  //   font-size: 13px;
  //   height: 29px;
  //   color: silver;
  //   text-indent: 5px;
  //   outline: none;
  //   border: 1px solid #dadcdb;
  // }
  .earnings-right-module{
    span{
      display: block;
      text-decoration: none;
      color: $text-social-gray;
    }
  }
  .list-title{
    font-size: 16px;
  }

  .calendar-heading{
    position: relative;
    background-color: #cfd8db;
    .calendar-left-angle{
      @include angle-position;
      left: 20px;
    }
    .calendar-right-angle{
      @include angle-position;
      right: 10px;
    }
  }
  .calendar-table{
    color: #c1c1c1;
    font-size: 13px;
    font-weight: 600;
    .calendar-month{
      cursor: pointer;
      &:hover{
        color: #0a6b93;
      }
    }
  }
  .download-btn{
    position: relative;
    span{
      position: absolute;
      left: 48px;
      top: 14px;
      font-size: 12px;
    }
  }
  .download-calendar-button{
        width: 160px;
  }
  .earnings-select{
    width: 100%;
    background-color: #90a1a9;
    color: white;
    font-size: 16px;
    outline: none;
  }

  #content_consumption ul{
    li {

      &:nth-child(odd) {
           background-color: $white;
       }
       &:nth-child(even) {
           background-color: $white;
       }

    }
}
}
