
.about-us-left-panel{
  .active{
    border-left: 2px solid #90a1a9;
    background-color: #f0f3f4;
    a{
      color: $primary-blue;
    }
  }
  a{
    padding: 5px;
    display: block;
    text-decoration: none;
    color: $text-social-gray;
    border-left: 2px solid transparent;
    &:hover{
      color: $primary-blue;
      border-left: 2px solid #90a1a9;
      background-color: #f0f3f4;
    }
    span{
      color: #ff6524;
    }
  }
}
.terms-of-use-container, .privacy-policy-container, .disclaimer-container{
  h3{
    font-weight: 600;
  }
  .list-of-terms{
    height: 600px;
    font-size: 15px;
    overflow-y: auto;
  }

}
.sub-heading{
  color: black;
  font-size: 15px;
}

.about-us-image{
  position: relative;
  background-image: url(../images/about_us_meeting.jpg);
  background-size: 100% 100%;
  height: 350px;
  background-repeat: no-repeat;
  .objective{
    width: 80%;
    right: 0px;
    bottom: 0px;
    background-color: #1e729c;
    position: absolute;
    color: white;
    opacity: 0.6;
    p{
      margin: 20px;
      font-size: 20px;
    }
    .company-info{
      margin-right: 20px;
    }
  }
}
//Press page styling
.press-container{
  .press-img{
    height: 80px;
    width: 80px;
  }
  .press-information{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .press-detail{
    width:Calc(100% - 90px);
  }
  .publisher-name{
    color: #59b7ec !important;
    &:after{
      content:"|";
      padding-left: 3px;
      color: black;
    }
  }
  .read-more{
    color: #59b7ec !important;
    text-decoration: underline;
    &:hover{
      text-decoration: underline;
    }
  }
  .press-title{
    cursor: pointer;
  }
  #search_box{
    width:100%;
  }
  .search-box-group{
    width: 100%;
  }
  .search-icon{
    background: url(../images/searchBtn.png);
    border: 0;
    display: block;
    height: 25px;
    right: 10px;
    position: absolute;
    width: 25px;
    background-repeat: no-repeat;
    top: 12px;
    z-index: 3;
    background-size: 18px;
  }
  .right-banner{
    border-top: 2px solid $blue;
  }
  .title{
    display: inline-block;
  }
  .panel--right{
    ul{
      display: block;
      list-style: none;
    }
  }
  .panel--right ul:nth-child(3){
    list-style: none;
    li{
      padding: 5px 0px;
    }
    img{
      height: 100%;
      width: 100%;
    }
  }

  #datepicker{
    border: 0;
    cursor: pointer;
    padding: 0;
    color: transparent;
    display: block;
    height: 25px;
    right: 10px;
    position: absolute;
    width: 25px;
    background-repeat: no-repeat;
    top: 5px;
    z-index: 3;
    opacity: 0;
  }
}
//Contact page styling
.contact-container{
  .contact-info{
    font-size: 16px;
  }
  .contact-icons{
    font-size: 20px;
    i{
      cursor: pointer;
    }
  }
  #map{
    width: 100%;
    height: 300px;
  }
  .contact-info-form{
    input[type="text"]{
      background: #fbfbfb;
      display: inline-block;
      width: 38%;
      margin-right: 1%;
    }
    input[type="email"]{
      background: #fbfbfb;
      display: inline-block;
      width: 60%;
    }
    textarea{
      resize: none;
      background: #fbfbfb;
    }
    input::-webkit-input-placeholder {
        color: #d0d0d0 !important;
    }

    textarea::-webkit-input-placeholder {
        color: #d0d0d0 !important;
    }

    input:-moz-placeholder {
        /* FF 4-18 */
        color: #d0d0d0 !important;
    }

    input::-moz-placeholder {
        /* FF 19+ */
        color: #d0d0d0 !important;
    }

    input:-ms-input-placeholder {
        /* IE 10+ */
        color: #d0d0d0 !important;
    }
  }
}
//announcement page styling
.announcement-container{
  .announcement-information{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
//blog page styling
.about-us-blog-container{
  .recent-blog-heading{
    i{
      cursor: pointer;
    }
  }
  .recent-blog{
    float: left;
    margin-right: 5px;
    img{
      width: 60px;
    }
  }
  .bolg-info{
    width: Calc(100% - 65px);
  }
  .blog-information{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .wid-50 {
    width: 50px;
  }
}
