.personal_details {
    &__account_handel_name {}
    &__key {}
    &__value {
        word-wrap: break-word;
    }
}

li {
  list-style-type:none;
}
.fsz18{
  font-size: 18px;
}
 .list-group{
  // padding: 6px 10px !important;
 }
  .text-gray{
    color:#ccc;
  }
   .line-height{
      line-height: 1;
   }
   .MT-2
   {
    margin-top: 3px;
   }
   .border-All
   {
    border:1px solid #ccc;
   }
  li .border-bottom
   {
    border-bottom: 1px solid #ccc !important;
   }
   hr
   {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
    border: 0 !important;
    border-top: 1px solid #ddd !important;
    width: 100% !important;
   }