/*search Page*/
@mixin social-card() {
    box-shadow: 1px 1px 0 0 #bababa;
    -webkit-box-shadow: 1px 1px 0 0 #bababa;
    -moz-box-shadow: 1px 1px 0 0 #bababa;
}
@mixin social-form-compressed() {
    pointer-events: auto;
    cursor:pointer;
    padding: 5px;
    font-weight: 800;
    font-size: 24px;
    color: #356c87;
}
.social-card {
    @include social-card;
}

/*
  profile-Image
*/
.social-timeline-profile-pic {
    img {
        height: 40px;
        width: 40px;
    }
}
.social-timeline-profile-details{
  width:calc(100% - 40px);
}
.social-user-link-name {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
        text-transform: capitalize;
        color: $username-link;
        font-weight: 600;
        font-size: 16px;
    }
}

.social-user-link {
    a {
        color: $username-follow;
        font-size: 12px;
        top: -3px;
        position: relative;
    }
}
.social-timeline-content-message{
  p{
    font-size: 13px;
    word-wrap: break-word;
  }
}


/*other user content*/
.social-timeline-other-user-content{
  position: relative;
  color:#444444;
  font-size: 13px;
  // &:before{
  //   content: "";
  //   border-top: 1px solid #cbcbcb;
  //   position: absolute;
  //   width: 100%;
  //   top:0px;
  // }
  // &:after{
  //   content: "";
  //   border-bottom: 1px solid #cbcbcb;
  //   position: absolute;
  //   width: 100%;
  //   bottom:0px;
  // }

}

.social-main-container {


    /*==============
    Left Panel
    ==========*/
    /*
    User Info
    */
    .social-left-panel {
        .my-info-name,
        .my-info-status {
            font-weight: bold;
            .editable-pre-wrapped{
              white-space: normal;
              color: inherit;
              word-wrap:break-word;
            }
            a{
              height: 40px !important;
            }
        }

        /*
        Bootstrap editable
        */
        .editable-click, a.editable-click, a.editable-click:hover{
              border-bottom: none;
        }
        .editable-input{
          textarea{
            height: 4em !important;
          }
        }
        .editableform{
          .editable-buttons{
            float: left !important;
            margin: 10px 5px !important;
            text-align: center;
          }
          .editable-error-block{
            display: none !important;
          }
        }

        .my-info-card {
            img {
                width: 70px;
                height: 70px;
                box-shadow: 1px 1px 1px 0 silver;
            }

            .my-info-detail {
                width: Calc(100% - 80px);
            }

            .my-info-status {
                font-size: 11px;
                color: #575757;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: justify;
            }

            .my-info-followers,
            .my-info-following,
            .my-info-posts {
                font-size: 13px;
                font-weight: bold;
            }

            .my-info-followers-count,
            .my-info-following-count,
            .my-info-posts-count {
                font-weight: bold;
            }
            .input-large{
              resize: none;
            }
        }
    }
    /*==============
      Center Panel
      ==========*/
    /*
      For the Search box
      */
    .social-center-panel {
      #input-wth-bg{
        & input{
        background-color:transparent;
        }
      }
        .social-search-box{
          .share-small{
            max-height: 30px;
            overflow-y: hidden;

          }
          .compressed-div{
              border: none;
              background: none;
              max-height: 30px;
              overflow-y: hidden;
          }
          .extended-post{
            max-height: 100px;
            -webkit-transition: max-height 0.4s;
            -moz-transition: max-height 0.4s;
            -ms-transition: max-height 0.4s;
            -o-transition: max-height 0.4s;
            transition: max-height 0.4s;

          }
        }
        .btn-group{
          width: 160px !important;
          float: right !important;
          .btn{
            padding: 4px 10px !important;
            color: #5cabd0 !important;
            font-size: 14px !important;
          }
        }
        .share-something-span {
            font-size: 13px;
            color: silver;
        }
        .share-textbox-quick-links{
          font-size: 18px;
          a{
            &:focus,&:hover{
              outline: 0px;
              outline-offset: 0px;
              text-decoration: none;
            }
          }
        }
        .social-form-buttons{
          &:hover{
            color: white;
          }
        }


        /*
          Post Option align with profile Image
        */
        .social-post-options{
          display: block;
          .fa-dot-circle-o{
            font-size: 16px;
          }
          .dropdown-menu{
            top: 14px;
            right: 20px;
            border-radius: 0px;
            background-color: #fbfbfb;
            >li{
              border-bottom: 1px solid #d9dbdc;
              > a{
                color: #555555;
                padding:5px 20px 5px 10px;
                i{
                  padding-right: 5px;
                }
              }
              &:last-child{
                  border-bottom: 0px;
              }
            }

          }
          .social-post-time-container{
            display: block;
            clear: right;
          }
        }
        .social-post-time{
          font-size: 13px;
          color: #a9a9a9;
        }

        .form-control {
            width: 100%;
            background-color: #fbfbfb;
            box-shadow: none;
        }

        input::-webkit-input-placeholder {
            color: #d0d0d0 !important;
        }

        textarea::-webkit-input-placeholder {
            color: #d0d0d0 !important;
        }

        input:-moz-placeholder {
            /* FF 4-18 */
            color: #d0d0d0 !important;
        }

        input::-moz-placeholder {
            /* FF 19+ */
            color: #d0d0d0 !important;
        }

        input:-ms-input-placeholder {
            /* IE 10+ */
            color: #d0d0d0 !important;
        }

        textarea {
            resize: none;
        }
        /*
          FOR the Quick links after the search box
        */
        .social-all-status-tabs {
            li {
                a {
                    color: black;
                    font-weight: 500;

                    &.active,
                    &:hover {
                        color: $username-link;
                        text-decoration: underline;
                    }
                }
            }
        }
        /*Content Image*/
        .social-timeline-content-image {
          .post-display-img{
            max-height: 500px;
            overflow-y: hidden;
            text-align: center;
          }
          a{
            cursor: pointer;
          }
            img {

            }
        }
        /*Blog Content Image*/
        .social-timeline-content-blog-thumb {
          word-wrap: break-word;
            // img {
            //     width: 460px;
            //     height: 158px;
            // }
        }



        .social-timeline-user-status {
            // border-bottom: 1px solid #e1e1e1;
            // border-top: 1px solid #e1e1e1;
            // margin-left: -5px;
            // margin-right: -5px;

            .user-status-content {
                // padding: 4px 5px;
                span{
                  word-wrap: break-word;
                }
            }
        }
    }
}

/*
social-timeline-content-video
*/
.social-timeline-content-video
{
  .video-div{
    background-position: center !important;
    background-size: 100% !important;
  }
  .play-img{
      width: 70px;
      height: 70px;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
  }
  .play-img-vimeo {
      width: 55px;
      height: 45px;
      bottom: 20px;
      left: 20px;
      position: absolute;
  }
}

/*
Social timeline Blog content without image
*/

.social-timeline-content-blog-nothumb {
    // border-bottom: 1px solid #e1e1e1;
    // border-top: 1px solid #e1e1e1;
    // margin-left: -5px;
    // margin-right: -5px;
    word-wrap: break-word;

    .blog-nothumb-content {
        // padding: 4px 5px;
        a {
          &:hover{
            text-decoration: none;
          }
            .blog-nothumb-head {
                display: block;
                color: #444444;
                word-wrap: break-word;

            }

            .blog-nothumb-body {
                padding-top: 5px;
                display: block;
                color: #999999;
            }
        }
    }
}
// For blog thumbnail images
.blog-display-img{
  max-height: 200px;
  overflow-y: hidden;
  text-align: center;
}
/*
Main post box
*/
#social-micro-blog-box{
  #tags{
    width: 100%;
    background-color: #fbfbfb;
    float:left;
    border:1px solid #ccc;
  }
  .tag-input{
    margin: 7px;
    margin-right: 0;
    border: none;
    box-shadow: none;
  }
  #tags > span{
    position: relative;
    cursor: pointer;
    display: block;
    float: left;
    color: #367893;
    background: #eeedee;
    border-radius: 5px;
    padding: 3px 10px;
    padding-right: 25px;
    margin: 5px;
  }

  #tags > input{
    border:0;
    margin:4px;
    padding:2px 5px;
    width: 98%;
    outline: none;
    background: none;
  }

  #tags > span:after{
    font-weight: 700;
    color: #006995;
    position: absolute;
    content: "x";
    padding: 2px 5px;
    margin-left: 0px;
    font-size: 13px;
    right: 8px;
    top: 2px;
  }
}
/*
    Common css fOR the Forms with modal
  */
.social-form-modal {
    width: 490px;
    margin: 46px auto 0;
    border-radius: 0;
    // max-height: 600px;
    // overflow-y: auto;
    // overflow-x: hidden;
    margin-top:70px;
    a{
      text-decoration: none;
    }
    //   Select dropdown for maintain privacy
    .form-select-dropdown{
      .btn-group{
        width: 160px !important;
        .btn{
          padding: 2px 10px !important;
          color: #5cabd0 !important;
          font-size: 14px !important;
        }
      }
    }
    .form-control {
        width: 100%;
        background-color: #fbfbfb;
    }

    input::-webkit-input-placeholder {
        color: #d0d0d0 !important;
    }

    textarea::-webkit-input-placeholder {
        color: #d0d0d0 !important;
    }

    input:-moz-placeholder {
        /* FF 4-18 */
        color: #d0d0d0 !important;
    }

    input::-moz-placeholder {
        /* FF 19+ */
        color: #d0d0d0 !important;
    }

    input:-ms-input-placeholder {
        /* IE 10+ */
        color: #d0d0d0 !important;
    }

    textarea {
        resize: none;
    }

    #tags{
      width: 100%;
      background-color: #fbfbfb;
      float:left;
      border:1px solid #ccc;
    }
    .tag-input{
      margin: 7px;
      margin-right: 0;
      border: none;
      box-shadow: none;
    }
    #tags > span{
      position: relative;
      cursor: pointer;
      display: block;
      float: left;
      color: #367893;
      background: #eeedee;
      border-radius: 5px;
      padding: 3px 10px;
      padding-right: 25px;
      margin: 5px;
    }

    #tags > input{
      border:0;
      margin:4px;
      padding:2px 5px;
      width: 98%;
      outline: none;
      background: none;
    }

    #tags > span:after{
      font-weight: 700;
      color: #006995;
      position: absolute;
      content: "x";
      padding: 2px 5px;
      margin-left: 0px;
      font-size: 13px;
      right: 8px;
      top: 2px;
    }
}
/*
  For Audio Form with modal
*/
.audio-form {
    .audio-add-link {
        position: relative;

        input {
            padding-right: 50px;
        }

        .sound-cloud-icon {
            position: absolute;
            right: 6px;
            top: 0;

            img {
                height: 30px;
            }
        }
    }
}
/*
  For Image Form with modal
*/
.image-form {
    /*
    For browse button(image upload css)
*/
    #image-input{
      padding-right: 75px;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .image-form-add-image {
        position: relative;

        .image-form-icon {
            color: #49a4df;
            float: right;
            position: absolute;
            right: 10px;
            top: 6px;
            font-size: 13px;
        }

        .image-form-icon:hover {
            cursor: pointer;
        }

        .browse-span {
            float: right;
            margin-top: 2px;
            font-weight: 600;
            margin-left: 5px;
        }
    }
}
/*
  For Video Form with modal
*/
.video-form {
    .video-add-link {
        position: relative;

        input {
            padding-right: 68px;
        }

        .vimeo-icon {
            position: absolute;
            right: 40px;
            top: 6px;

            img {
                height: 22px;
            }
        }

        .youtube-icon {
            position: absolute;
            right: 6px;
            top: 6px;

            img {
                height: 18px;
                margin-top: 2px;
                width: 26px;
            }
        }
    }
}
/*
  For Blog Form with modal
*/
.blog-form {
    .hero-unit {
        background-color: #fbfbfb;
        border: 1px solid #e4e6e5;

        .social-blog-form-btn {
            padding: 6px 8px !important;
            display: inline-block;
        }

        .btn-group {
            margin-left: 10px;
            background-color: #e9e9e9;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
    /*
    For Editor in Form
  */
    #editor[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }

    #editor {
        background-color: #fbfbfb;
        border: none;
        box-shadow: none;
        overflow: auto;
        padding: 10px 5px;
    }
    /*
    For browse button(image upload css)
*/
    .fileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .blog-add-link {
        position: relative;

        input {
            padding-right: 75px;
        }

        .blog-form-icon {
            color: #49a4df;
            float: right;
            position: absolute;
            right: 10px;
            top: 6px;
            font-size: 13px;
        }

        .blog-form-icon:hover {
            cursor: pointer;
        }

        .browse-span {
            float: right;
            margin-top: 2px;
            font-weight: 600;
            margin-left: 5px;
        }
    }
}

/*
Audio preview form
*/
.audio-preview-form{
  word-wrap: break-word;
  pointer-events: none;
  border-top: 1px solid #e1e4e4;
  display:none;
  .loader-audio-form{
    position: absolute; top: 45%;
    left: 45%;
    font-size: 20px;
    margin: auto;
    text-align: center;
  }
  .compress-icon{
    @include social-form-compressed;
  }
}
.image-preview-form{
    word-wrap: break-word;
    pointer-events: none;
    border-top: 1px solid #e1e4e4;
    display:none;
    .compress-icon{
      @include social-form-compressed;
    }
}
.video-preview-form{
    word-wrap: break-word;
    pointer-events: none;
    border-top: 1px solid #e1e4e4;
    display:none;
    .compress-icon{
      @include social-form-compressed;
    }
}
.blog-preview-form{
    word-wrap: break-word;
    pointer-events: none;
    border-top: 1px solid #e1e4e4;
    display:none;
    .compress-icon{
      @include social-form-compressed;
    }
}

.post-display-img{
  max-height: 500px;
  overflow-y: hidden;
  text-align: center;
}
.modal-img-size{
    max-height: 450px;
    display: inline-block;
}
/*
social keyword detail card
*/
.compress-expand-icon{
  cursor: pointer;
  padding: 5px;
  font-weight: 800;
  text-align: center;
  font-size: 16px;
  color: #356c87;
  position: absolute;
  right: -6px;
  top: -2px;
}
.keyword-detail-data{
  border-top: 1px solid #dadcdb;
  .view-analytics{
      cursor: pointer;
  }
}
/*
like dislike page compress-icon
*/
.all-box-shadow{
  @include all-box-shadow;
}
.name-accounthandle-card{
  display: flex;
  align-items: center;
  margin-top: -1px;
  .account-handle-name{
    color: #a8a7a8;
    font-size: 14px;
  }
}
.search-box-like-dislike, .search-box-comments{
  input[type="text"]{
    width: 250px;
    height: 30px;
  }
  input[type="submit"]{
    background-size: 16px 16px;
    background-position: 5px 2px;
  }
  input::-webkit-input-placeholder {
      color: #d0d0d0 !important;
      font-size: 13px;
  }
}

.like-dislike-container, .comments-container{
  color: #565656;
  .heading{
    color: #515151;
    margin-top: 1px;
  }
  .like-dislike-time,.comments-time, .followed-time{
    color: #717171;
    font-weight: 600;
  }
  .like-dislike-list, .comments-list, .followed-list{
    .post-earning-text, .user-like-post{
      @include text-ellipses;
    }
    .like-dislike-img{
      width: 100%;
      height: 40px;
    }
    .thumbs-icons{
      font-size: 20px;
      color: #bdbdbd;
      span{
        cursor: pointer;
      }
    }
  }
}
.comments-container{
  .comment{
    .user-comment-icon{
      font-size: 20px;
      display: inline-block;
    }
    .user-comment{
      width: Calc(100% - 35px);
      display: inline-block;
      color: #707070;
      font-size: 13px;
      @include text-ellipses;
    }
  }
}

.followed-people-container, .followed-keywords-container{
    .followed-user-img{
      border-radius: 50%;
      height: 35px;
    }
    .followed-keyword-name{
      font-weight: bold;
    }
    .followed-user-account-handle{
      color: #a8a7a8;
      font-size: 13px;
      @include text-ellipses;
    }
    .followed-user-name{
      @include text-ellipses;
    }
    .comn-lft-rght-cont{
      label,span{
        color: #444444;
      }
    }
}
.sort-by{
  select{
    background: white;
    color: #0b628f;
    height: 30px;
    margin-top: 5px;
    width: 100px;
  }
  label{
    font-weight: normal;
  }
}
/* index_html  side panel's card*/
.suggested-module{
  @include text-ellipses;
}
.followed-keywords-name{
  @include text-ellipses;
}

.social-timeline-keywords-details{
  a{
    @include text-ellipses;
    word-wrap: break-word;
    max-width: 140px;
    display: inline-block;
  }
}
//Report dialog
.report-popup{
  .report-question{
     font-size: 17px;
  }
  .radio-primary{
    display:block;
  }
  .other-input-comment{
    display: block;width: 100%;
  }
  input[type="radio"]{
    margin-left: 0px;
  }
  .radio {
      padding-left: 20px !important;
  }
  .radio label {
      display: inline-block;
      position: relative;
      padding-top: 3px;
      padding-left: 3px;
  }
  .radio-primary input[type="radio"] + label::after {
      background-color: #428bca !important;
  }
  .radio-primary input[type="radio"]:checked + label::before {
      border-color: #428bca !important;
  }
  .radio-primary input[type="radio"]:checked + label::after {
      background-color: #428bca !important;
  }
  .radio input[type="radio"] {
      opacity: 0;
  }
  .radio input[type="radio"]:focus + label::before {
      outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc !important;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
  }
  .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 13px !important;
      height: 13px !important;
      left: 1px !important;
      top: 4px !important;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
}

//likes list
.like-list-body{
  max-height: 430px;
  overflow-y: auto;
}
.liked-user-img{
  width: 40px;float: left;
}

//shared post styling
.shared-post-icons{
  font-size: 20px;
  margin-top: -5px;
}

//image in modal
.main-img{
  display: inline-block;
  max-width: 100%;
  max-height: 400px;
}


//related post bottom cards
.bottom-related-post{
  .popular_blog_img{
    width:62px;
    height:37px;
  }
}



//timelines popup dropdown (menu) style
.modal-body-social-user-image{
  .dropdown-menu{
    top: 14px;
    right: 20px;
    border-radius: 0px;
    background-color: #fbfbfb;
    >li{
      border-bottom: 1px solid #d9dbdc;
      > a{
        color: #555555;
        padding:5px 20px 5px 10px;
        i{
          padding-right: 5px;
        }
      }
      &:last-child{
          border-bottom: 0px;
      }
    }

  }

}
 .publicwall-panel
 {
   border-color: #ccc !important;
  }
.fsz14
{
  font-size: 16px;
}
.radius-none
{
  border-radius: 0px !important;
}
.closeBtn
{
   opacity:1;
   font-size: 16px;
   font-weight: 400px;
}

.fa-thumbs-o-up{
  background:url('../images/social/like.png');
  background-size:100%;
  background-repeat:no-repeat;
  width:15px;
  height:15px;
  
}
.fa-coin-hand{
  background:url('../images/social/liked.png');
  background-size:100%;
  background-repeat:no-repeat;
  width:15px;
  height:15px;
  
}
.fa-thumbs-o-up:before{
  content:"" !important;
}
.fa-like-hand:before{
  content:""
}