.comments-module {
    padding: 10px 0px;
    font-size: 13px;
    // margin-bottom: -10px;
    .col-xs-11 {
        padding-left: 0px;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .comments-module-wrapper {
        padding: 5px 0px;
        img {
            height: 30px;
            width: 30px;
        }
        .edit-comment {
            font-size: 18px;
        }
        .dropdown-menu {
            min-width: 50px;
            width: 100px;
            top: 35%;
            left: -95px;
            a {
                float: left;
                width: 100%;
            }
        }
        .reply-img {
            width: 28px !important;
            height: 28px !important;
        }
        .reply-input-box {
            height: 28px !important;
        }
        .col-xs-10 {
            width: calc(91.3% - 64px);
            word-wrap: break-word;
        }
        .col-xs-11 {
            width: calc(100% - 64px);
        }
    }
    .comments-module-wrapper.comment-reply-create {
        .col-xs-11 {
            width: calc(100% - 64px)
        }
    }
    .comments-module-comment-block {
        line-height: 1.2;
        .comments-module-username {
            color: #0b6796;
            white-space: nowrap;
            width: initial;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            max-width: 50%;

        }
        .comments-module-comment {
            color: #444444;
            padding-left: 5px;
        }
    }
    .comments-module-time-block {
        line-height: 1.2;
        .comments-module-reply {
            color: #0b6796;
        }
        .comments-module-hrs {
            color: #999999;
            &:before {
                content: "-";
                padding-right: 5px;
            }
        }
    }
    .comments-module-all-comments {
        color: $app-primary;
    }
}

.wid-50 {
    width: 50px;
}

.comment-main-dropdown {
    .fa-angle-down {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
    .comment-main-dropdown {
        min-width: 50px;
        width: 100px;
        top: 35%;
        left: -100px !important;
        a {
            float: left;
            width: 100%;
        }
    }
}

.comment-append-section {
    .comment-inner-section {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.user-comment-input {
    height: 30px;
}
.form-control {
    width: 100%;
    background-color: #fbfbfb;
    box-shadow: none;
}

.UI {
    &--comment-append-reply {
        padding-top: $padding/2;
    }
    &--comment-reply-create {
        // &:last-of-type{
        padding-bottom: 0 !important;
        // }
    }
    &--comments-module-wrapper {
        .UI--edit-comment {
            opacity: 0;
        }
        &:hover {
            > .UI--comment-editing-action-post {
                .UI--edit-comment {
                    opacity: 1
                }
            }
        }
    }
}
