
/*
likes and Dislikes
*/
.social-timeline-likes-dislikes{
  .social-likes-dislikes{
    a{
      color: #0b6795;
    }
  }
}

/*
Earning Comments View
*/

.social-timeline-earning-comments-view{
  label,span{
    font-weight: 400;
    color:#444444;

  }
}
