.left-panel-modules{
  h4{
    color: white;
    font-size: 17px;
    i{
      padding-right: 5px;
    }
  }

  .suggested-module{
    .suggested-user-image{
      border:1px solid #959595;
      height: 38px;
      width: 38px;
    }
    .social-user-link-name{
      width: 116px;
      @include text-ellipses();
      a{
        font-size: 14px;
        font-weight: 500;
        text-overflow: ellipsis;
      }
    }
    .social-user-link{
        width: 116px;
        @include text-ellipses();
      a{
        font-size: 14px;
      }
    }
  }

  .followed-keywords-module{
    label{
      font-weight: 500;
      margin-bottom: 0px;
    }
    .followed-keywords-name{
      a{
        font-size: 14px;
        color:$text-social-primary;
      }
    }
  }

  .settings-preference-module{
    .active{
      border-left: 2px solid #90a1a9;
      background-color: #f0f3f4;
      a{
        color: $primary-blue;
      }
    }
    a{
      padding: 5px 10px;
      display: block;
      text-decoration: none;
      color: #565656;
      border-left: 2px solid transparent;
      &:hover{
        color: $primary-blue;
        border-left: 2px solid #90a1a9;
        background-color: #f0f3f4;
      }
      span{
        color: #ff6524;
      }
    }
  }
}

.popular-image-module{
  span{
    font-size: 11px;
  }
}

//individual post page styling
.blog-module{
    ul{
      list-style:none;
      display:flex;
      padding:1%;
      margin:5px 0px;
      li{
        display: inline-block;
        text-align: center;
        width:33.33%;
        margin:0 1%;
        a{
          display: inline-block;
          .image-preview-display{
            max-height: 44px;
            max-width: 65px;
            overflow-y: hidden;
            text-align: center;
          }
          .blog-detail-div{
            display:inline-block;
          }
        }
      }
    }
}
