.notification-page-container{
  .notification-page-module{
    .active{
      border-left: 2px solid #90a1a9;
      background-color: #f0f3f4;
      a{
        color: $primary-blue;
      }
    }
    a{
      padding: 5px 10px;
      display: block;
      text-decoration: none;
      color: #565656;
      border-left: 2px solid transparent;
      &:hover{
        color: $primary-blue;
        border-left: 2px solid #90a1a9;
        background-color: #f0f3f4;
      }
      span{
        color: #ff6524;
      }
    }
  }

  .image-circle-container{
    position:relative;
    i:first-child{
      font-size: 40px;
    }
    i:last-child{
      position: absolute;
      top: 12px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
    img{
      position: absolute;
      top: 12px;
      left: 10px;
      height: 15px;
      width: 14px;
    }
  }
  .notification-day{
    color: #757575;
    font-weight: 600;
  }
  .notification-text{
    @include text-ellipses;
  }
  .time-text{
    color: #bfbfbf;
    font-size: 12px;
  }
}
