// @import "compass/css3/user-interface";
.social-right-panel-search {
    &__input-group {}
    &__form-control {
        height: 32px;
        border-right: none;
        box-shadow: none;
        padding-right: 0;
        color: $grayscale-4;
        &:-moz-placeholder {
            color: $grayscale-be !important;
        }
        &::-moz-placeholder {
            color: $grayscale-be !important;
        }
        &:-ms-input-placeholder {
            color: $grayscale-be !important;
        }
        &::-webkit-input-placeholder {
            color: $grayscale-be !important;
        }
        &:focus {
            box-shadow: none !important;
            border-color: #ccc;
        }
    }
    &__input-group-addon {
        padding: 0;
        background: $white;
    }
    &__search-btn {
        border: none;
        font-size: 15px;
        height: 30px;
        // color: $grayscale-6;
        color: #3c85ab;
        line-height: 1.4;
        border-radius: 0;
        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            background: $white;
            outline: none;
            box-shadow: none;
        }
    }
}

.right-panel-modules {
    h4 {
        color: white;
        font-size: 17px;
        i {
            padding-right: 5px;
        }
    }
    .personal-details-content {
        padding-top: 5px;
        padding-left: 0px;
        list-style: none;
        li {
            padding-left: 0px;
            font-size: 15px;
            label {
                font-weight: normal;
                color: #666666;
                padding-left: 5px;
                margin-bottom: 0px;
            }
            a {
                padding-left: 3px;
            }
            &:before {
                content: '\25CF';
                color: $text-social-primary;
                /* or whatever color you prefer */
            }
        }
    }
    .popular-content,
    .trending-content {
        .list-inline {
            >li {
                padding-left: 5px;
                a {
                    color: white;
                    &:hover,
                    &.active {
                        color: $text-social-primary;
                    }
                }
            }
        }
    }
    .follow-keyword-module {
        label {
            font-weight: 500;
            margin-bottom: 0px;
        }
        .row.active {
            border-left: 2px solid #90a1a9;
            background-color: #f0f3f4;
        }
        .social-btn-link.btn-social-dark.pull-right,
        .social-btn-link.pull-right{ 
            background-color: transparent;
            box-shadow: none;
            color: #337ab7;
            // padding: 0;
            // margin: 0;
            /* text-align: left; */
            font-size: 14px;
            // display: flex;
            // padding-left: 5px;
            padding-right:0px
        }

    }
    .popular_blog_img {
        width: 62px;
        height: 37px;
    }
    .popular_status_img{
        width: 40px;
        height: 40px;
    }
}

.video-module,
.blog-module,
.sound-module,
.image-module {
    font-size: 13px;
}

.ellipsis-multiline {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    font-size: 13px;
    word-break: break-all;
}

#popular-sound-module {
    .popular_blog_img {
        width: 35px;
    }
}

.popular-modules {
    label {
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 14px;
    }
}

.social-btn-link {
    background-color: transparent;
    color: #337ab7;
    border: none;
    outline: none;
    text-align: right;
    padding-right:0px !important;
    padding-top:0px !important;
}
.widget-img-ico {
    width: 62px;
    height: 37px;    
}
