.heading{
  h4{
    display: inline-block;
  }
}

.chat-input{
  textarea{
    border: none;
    background: #f2f2f2;
    width: 100%;
    resize: none;
    overflow:hidden;
    border-radius: 5px;
    outline: none;
    padding: 10px 8px;
    font-size: 15px;
    overflow-y: auto;
    max-height:150px;
   
  }
  .button__chat--div{
    height: 30px;
    position: absolute;
    right: 15px;
    top: 5px;
    .button__chat--box{
      cursor: pointer;
      position: relative;
      display: inline-block;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      i{
        font-size: 14px;
        position: absolute;
        top: 8px;
        left: 6px;
      }
    }
  }
}
.chat-container{  
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f2f2f2;
  .arrow_box {
    position: relative;
    min-height: 50px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
    font-size: 15px;
  }
  .arrow_box:after, .arrow_box:before {
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  .right-arrow:after{
    @extend .arrow_box:after;
    left: 100%;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ffffff;;
    border-width: 7px;
    margin-top: -5px;
  }
  .left-arrow:before{
    @extend .arrow_box:before;
    right: 100%;
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #dbe9f1;
    border-width: 7px;
    margin-top: -5px;
  }
  .chat-left, .chat-right{
    width: 100%;
    .chat-time{
      font-size: 13px;
    }
  }
 .chatbox-other-user{
     background-color:#dbe9f1;
   }

}
.chat-date{
  padding: 2px 10px;
  display: inline-block;
  font-size: 12px;
}
.close-ticket{
  cursor: pointer;
}
#ticketCloseModal{
  .modal-content{
    border-radius: 0px;
    width: 300px;
    margin: 100px auto;
    .modal-header{
      background-color: #0b628f;
      padding: 7px 10px;
      .close{
        opacity: 1;
        color: white;
        outline: none;
      }
    }
    .support-text{
      width: Calc(100% - 65px);
    }
    .support-img{
      height: 45px;
      width: 45px;
    }
    .rating{
      font-size: 20px;
      i{
        cursor: pointer;
      }
    }
    .continue-btn{
      padding: 2px 5px;
      background: #0b628f;
      border: #0b628f;
      font-size: 14px;
    }
  }
}

.model_header{
     padding:2px !important;
     margin-left:5px;
     margin-top:4px;
     border-bottom:1px solid #ccc;
}
.fsz-8
{
  font-size:8px;
}
