.heading{
  h4{
    display: inline-block;
  }
}
.issue-list{
  list-style: none;
  li{
    padding: 5px 0px;
  }
  li:before{
    content:"■";
    font-size:10px;
    margin-right: 10px;
  }
  ul{
    list-style: none;
    li{
      cursor: pointer;
      color: #2fade8;
      padding: 2px 0px;
    }
    li:before{
      content:"";
    }
  }
}
#supportForm{
  .modal-content{
    border-radius: 0px;
    margin: 100px auto;
    .modal-header{
      padding: 4px 10px;
      font-size:18px;
    }
    .close{
      outline: none;
      opacity: 0.5;
    }
    .modal-body{
      .support-form-label{
        position: relative;
        display: inline-block;
      }
      input{
          width: 285px;
          border-radius: 5px;
          height: 30px;
          box-shadow: none;
      }
      textarea{
        resize: none;
        border-radius: 5px;
        box-shadow: none;
      }
      select{
        width: 285px;
        height: 30px;
        background: #ffffff;
        border-radius: 5px;
        outline: none;
        text-indent: 5px;
        border: 1px solid #dadbdd;
      }
      .kwd-purchase-input{
        width: 284px;
      }
      .btc-address-input{
        width: 100%;
      }
      .mandatory-field{
        font-size: 7px;
        position: absolute;
        top: 0;
        right: 5px;
        color: #a94442;
      }
    }
    .modal-footer{
      border-top:none;
      .reset-btn,.submit-btn{
        padding: 0px 20px;
        font-size: 14px;
        background: #f3f9fd;
        border-radius: 5px;
        border: 1px solid #e3e6e6;
        margin: 5px;
      }
    }
  }
}

#tradingIssueForm, 
#tradingIssueForm, 
#itPurchaseIssueForm, 
#issueItCashout,
#issueItReceiving,
#issueItSending,
#generalQuery,
#feedback{
  .modal-content{
    border-radius: 0px;
    margin: 100px auto;
    .modal-header{
      padding: 4px 10px;
      font-size:18px;
    }
  }
}
.textAreaSize {
    resize: none;
}
