.header-title {
    padding: 8px 4px;
    font-size: 18px;
    background-color:#fff;
    span{
    	font-size:0.8em;
    }
}

.box-shadow {
    box-shadow: 1px 1px 1px #ddd;
}

a.nohover,
a.nohover:hover {
    background-color: #90a1a9 !important;
    color: #fff;
}

a:focus,
a:hover {
    text-decoration: none;
}

.sidemenu-active {
    border-left: 2px solid #90a1a9;
    background-color: #eff3f4;
}

.general__sidecol {
    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.font {
    color: #4b86aa;
}

.nospace {
    border-bottom: 0;
}

.list-group-item {
    padding: 10px 8px;
}


i.gap {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.faq-wrapper {
    .panel-group {
		.panel {
			margin-top: 0px;
            border-top:none;
		}
    }
    .panel-default{
    	>.panel-heading{
    		background-color:#fff;
    		border-top-left-radius: 0px;
   		    border-top-right-radius: 0px;
    	}
	}
}
.panel-group {
    .panel_margin {
        margin-bottom: 0;
        border-radius: 0px;
        border: 1px solid #ccc;
    }
}

.panel-titleM
{
    border: 1px solid #ccc;
    border-bottom:none;
}
    

.panel-title {
    font-size: 14px;

}

.panel-heading {
    display: -webkit-box;
    width: 95%;
    padding: 12px 13px 0;
}

.text-black-light {
    color: #333333;
}

