     .sidemenu-active {
        border-left: 2px solid #90a1a9;
        background-color: #eff3f4;
    }
    
    .rating-table
    {
    	>thead{
    		>tr{
    			>th{
    				border-bottom:1px solid #ddd;
    			}
    		}
		}
    	>tbody{
    		>tr{
    			>td {
			        border-top: none;
			        padding:4px 8px;	
				}
			}
		}
    }

@-moz-document url-prefix() { 
  .file-in input[type="file"] {
      padding: 0 !important;
    }
}