.font-header{
	font-size:18px;
}
.span-header{
	font-size:14px;
}

.sidemenu-active {
    border-left: 2px solid #90a1a9;
    background-color: #eff3f4;
}


.img-wrapper{
	background-color: #eaeaea;
    width: 470px;
    height: 330px;
    margin:10px;
    margin-bottom: 20px;
}