<html>
  <head>
    <title>
      Testing
    </title>
    <script src=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  </head>
  <body ng-app>
    <div>
      <input type="text" ng-model="hi"/>
    </div>
    <div>
      {{hi}}
    </div>
  </body>
</html>
