.ADP11 {
    .filter {
        .form-control {
            box-shadow: none;
            &:not(textarea) {
                border-right: none;
            }
        }
        .input-is-focused {
            .input-group-btn,
            .input-group-btn .btn,
            .input-group-btn .btn.btn-default,
            .input-group-addon {
                border-color: $lightest-blue !important;
            }
        }
    }
}