.ADP6 {
    .archived__table {
        @extend %ad_manager--table; // class defined in  sass/ad_manager/pages/_Billing_Page.scss
        .btn {
            /* for "duplicate" icon */
            .fa-file {
            
                font-size: 0.8em;
                + .fa-file {
                    top: 0.5em;
                    left: -0.5em;
                    position: relative;
                    border: 1px solid #fff;
                    
                }
            }
        }
    }
    //
    //pop-ups Starts
    //-------------------------------------
    //pop-ups Starts-duplicate
}
