.ADP5 {
    .billing__table {
        @extend %ad_manager--table;
    }
    //
    //pop-ups Starts
    //-------------------------------------
    //pop-ups Starts--invoice
    //
    .billing-invoice {
        &__logo {
            width: 83px;
        }
        &__datebox {}
        &__subhead {
            min-height: 100px;
        }
        &__transaction-details {
            &__table-body {
                min-height: 200px;
            }
        }
        &__recievers {
            &-details {}
            &__name {}
            &__email {}
            &__account-handel-name {}
        }
    }
}
