.ADP4 {
    .scoreboard {
        ul {
            li {
                position: relative;
                &::before {
                    font: normal normal normal 0.5em/1 FontAwesome;
                    content: "\f04d";
                    // color: $username-link;
                    left: -2em;
                    top: 0.9em;
                    position: absolute;
                }
            }
        }
        &__heading {
            margin-left: 285px;
        }
        &__impressions_heading,
        &__clicks_heading {
            width: 90px
        }
        &__subtitle {}
        &__list {
            padding-left: 6px;
        }
        &__key {
            width: 60%
        }
        &__impressions {
            width: 20%;
        }
        &__clicks {
            width: 20%;
        }
    }
}
