.ADP2 {
    /* START base */
    .btn {
        // height: 30px;
    }
    input.form-control {
        height: 30px;
    }
    .input-group {
        .input-group-addon + input {
            border-left: none;
            box-shadow: none;
        }
    }
    /* END base */
    .select_campaign_type-panel {
        .select_campaign_type__icon {
            position: absolute;
            right: 1em;
        }
        .select_campaign_type__type-text {
            padding-right: 1em;
        }
        .btn-group {
            &[data-toggle=buttons]>.col-xs-6 .btn {
                padding: $padding $padding+5;
                background: #80bcde;
                border-width: 2px;
                border-color: #80bcde;
                width: 100%;
                &.active {
                    color: #80bcde;
                    background: transparent;
                    box-shadow: none;
                    .fa {
                        opacity: 1;
                    }
                }
                .fa {
                    opacity: 0;
                    line-height: 1;
                }
                input[type=radio] {
                    position: absolute;
                    clip: rect(0, 0, 0, 0);
                    pointer-events: none;
                }
            }
            label.btn {
                height: 44px;
                span {
                    line-height: 1.2;
                    margin-right: -20px;
                }
            }
        }
    }
    .choose_ad_pacement-panel {
        &__nav {
            li {
                a {
                    color: #80bcde;
                    border: 1px solid;
                    padding: $padding;
                }
                &.active {
                    a {
                        background: #80bcde;
                        color: #fff;
                    }
                }
                padding: 5px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        .widget-radio_option {
            &[data-toggle=buttons]>.col-xs-4 .btn {
                padding: 0;
                background: $white;
                border-width: 1px;
                border-color: #80bcde;
                width: 100%;
                color: #80bcde;
                .fa-weather_forecast,
                .fa-unit_converter {
                    background-image: url("../images/icons/ad_manager.png");
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 20px;
                }
                .fa-weather_forecast {
                    background-position: left top;
                }
                .fa-unit_converter {
                    background-position: left -25px;
                }
                &.active {
                    color: $white;
                    background: #80bcde;
                    box-shadow: none;
                    border: none;
                    .fa {}
                    .widget-icon {
                        border-right: 1px solid $white;
                    }
                    .fa-weather_forecast {
                        background-position: right top;
                    }
                    .fa-unit_converter {
                        background-position: right -25px;
                    }
                }
                .fa {
                    line-height: 1;
                }
                input[type=radio] {
                    position: absolute;
                    clip: rect(0, 0, 0, 0);
                    pointer-events: none;
                }
            }
            label.btn {
                height: 30px;
                span {
                    line-height: 30px;
                    min-width: 30px;
                    // margin-right: -20px;
                    height: 100%;
                    &.widget-icon {
                        border-right: 1px solid #80bcde;
                        padding-top: 2px;
                    }
                    &.widget-name {}
                }
            }
        }
    }
    .campaign_targeting-panel {
        &__btn-group {
            &[data-toggle=buttons]>.col .btn {
                // padding: $padding;
                padding-left: $padding;
                padding-right: $padding;
                outline: none;
                height: 30px;
                background: transparent;
                // border-width: 2px;
                border-color: #d9dbdc;
                color: #999;
                width: 100%;
                &.active {
                    box-shadow: none;
                    background: #80bcde;
                    color: $white;
                }
                input[type=radio] {
                    position: absolute;
                    clip: rect(0, 0, 0, 0);
                    pointer-events: none;
                }
            }
        }
        .tag-text {
            input.tag-input {
                border: none;
                outline: none;
                padding-left: 15px;
                display: inline;
                width: 100%;
                height: 30px;
            }
            >span {
                cursor: pointer;
                display: block;
                float: left;
                color: #367893;
                background: #eeedee;
                border-radius: 5px;
                padding: 3px 10px;
                padding-right: 25px;
                margin: 5px 5px 5px;
                &:hover {
                    opacity: 0.7;
                }
                &:after {
                    position: absolute;
                    content: "x";
                    padding: 0px 0.5em;
                    font-weight: 600;
                    margin-left: 3px;
                    font-size: 14px;
                    // top: 32px;
                    color: #006995;
                }
            }
        }
        .add-location-list {
            li {
                height: 30px;
                line-height: 1;
                padding: 8px 0;
            }
            .fa-close {
                cursor: pointer;
            }
        }
        .add-interest-list {
            @extend .add-location-list;
        }
    }
    .create_ad-panel {
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            // opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            align-items: baseline;
            color: inherit;
            text-align: start;
        }
        .inputfile-preview {
            .fa-close {
                // margin-right: -5px;
                position: absolute;
                padding: 0.1em;
                top: 0;
                right: 1em;
                cursor: pointer;
            }
        }
        .inputfile_fileName {
            position: absolute;
            left: 1em;
            top: 0.5em;
            width: 60%;
        }
        .create_ad-upload_creatives-button {
            background: #80bcde;
            .fa {
                height: 28px;
                width: 28px;
                color: #80bcde;
            }
        }
    }
    .setup_campaign_schedule-panel {
        .Setup_Campaign_Schedule-date {
            width: 150px;
        }
        .Setup_Campaign_Schedule-time {
            width: 125px;
        }
    }
    .ad_budget-panel,
    .setup_campaign_schedule-panel {
        .radio {
            padding-left: 1em;

            label {
                display: inline-block;
                position: relative;
                padding-left: 5px;
                padding-right: 10px;
                &:before,
                &:after {
                    background: transparent;
                    font-family: "FontAwesome";
                    height: 1em;
                    width: 1em;
                }
            }
            label:before {
                color: #ccc;
                content: "\f10c";
                border: none;
                margin-left: -1em;
            }
            input[type="radio"] {
                opacity :0;
            }   input[type="radio"]:checked + label:before {
                color: $text-primary-blue;
                content: "\f192";
            }
            label:after {
                display: none
            }
        }
        .input-is-focused {
            .input-group-addon {
                border-color: $lightest-blue !important;
            }
        }
    }
    // 
    // 
    // 
    /* START right panel  */
    .audience_details_summary {
        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::before {
                font: normal normal normal 0.5em/1 FontAwesome;
                content: "\f111";
                color: $username-link;
                margin-left: 0.1em;
                top: -0.3em;
                position: relative;
            }
        }
        .progress {
            background-color: #fff;
            background-image: linear-gradient(90deg, #d9dadc 1px, transparent 2px);
            background-size: 20%;
            box-shadow: none;
            width: 99.4%;
        }
        .progressBar {
            height: 18px // list-style:none;
            // li {
            //     // width: 20%;
            //     height:18px;
            //     float: left;
            //     &:not(:last-child) {
            //         border-right:1px solid $darkest-gray; ;
            //     }
            // }
        }
        .daily_reach {
            height: 2px;
            position: relative;
            span {
                position: absolute;
                height: 6px;
                top: -2px;
            }
        }
    }
    /* END right panel */
    /*===============================
    =            pop-ups            =
    ===============================*/
    /*----------  upload Banner  ----------*/
    /*----------  Post Upload Popup  ----------*/
    /*=====  End of pop-ups  ======*/
}


/*==================================
=            autocoplet            =
==================================*/


/**
*
* #ui-id-1 is cosidered as it is applied to 'list' which is called by autocomplete methode first.
*
*/

#ui-id-1.ui-menu .ui-menu-item {
    padding-left: 0.8em;
    &:before {
        content: "\f041 ";
        color: $text-primary-blue;
        padding-right: 0.2em;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}


/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */

* html .ui-autocomplete {
    height: 100px;
}

.ui-menu .ui-menu-item {
    padding-left: 12px
}


/*=====  End of autocoplet  ======*/

.modal-body {
    .carousel--in-popup {
        .carousel-control {
            background-image: none !important;
            opacity: 1;
            color: $grayscale-80;
            .fa {
                height: 1em;
                width: 1em;
                color: $text-primary-blue;
                &:before {
                    height: 1em !important;
                    width: 1em !important;
                }
            }
            &.left,
            &.right {
                height: 1em;
                width: 1em;
                // background: #000;
                top: -22px;
            }
            &.right {
                right: 0em;
                left: initial !important;
                .fa {
                    &:before {
                        content: "\f105";
                    }
                }
            }
            &.left {
                right: 1em;
                left: initial;
                .fa {
                    &:before {
                        content: "\f104";
                    }
                }
            }
        }
        .modal-footer {
            border-top: none;
        }
    }
}

.carousel--image-select {
    min-height: 237px;
    .item>div {}
    input[type="checkbox"]:checked + label {
        border: 1px solid $text-primary-blue;
    }
    label {
        margin: 0;
        cursor: pointer;
        border: 1px solid $light-grey-color;
        &:hover {
            border-color: $text-primary-blue;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
}


/*----------  Post Upload Popup  ----------*/

.pramote_post {
    &--nav {
        >li {
            width: 0;
            > a {
                padding: 0;
                margin-right: $padding;
                color: $grayscale-4;
                // &,
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: $username-link;
                    text-decoration: underline;
                }
            }
        }
        >li.active > a {
            &,
            &:hover,
            &:focus {
                // color: @nav-pills-active-link-hover-color;
                background-color: transparent;
                color: $username-link;
                text-decoration: underline;
            }
        }
    }
    &--modal-body {
        .filter {}
        .tab-content {
            max-height: 427px;
            overflow: auto;
        }
    }
    &--modal-body__searchbox {
        input[type="text"] {
            border-right: none !important;
            height: 30px !important;
        }
        &-button {
            height: 30px;
        }
    }
    &--media-object {
        width: 62px;
        height: 40px;
    }
    &--media-date {
        color: $grayscale-be;
        line-height: 1;
    }
    &--media {
        border-bottom: 1px solid #d9dadc;
    }
}

.filter .input-group-btn .btn {
    font-size: 14px;
    border-left: 0;
    padding: 6px 12px;
    border-radius: 0;
    border: solid 1px #ccc;
    border-left: 0;
    background: $grayscale-fb;
}
