$carousal-x-sapcing:10px;
.ADP1 {
    .banner {
        .carousel {
            padding: 10px 30px;
        }
        .carousel-inner {}
        .carousel-control {
            background-image: none;
            .fa {
                margin-top: -10px;
                position: absolute;
                top: 50%;
                z-index: 5;
                display: inline-block;
                line-height: 1;
                width: 1em;
                height: 1em;
                &-chevron-right {
                    right: $carousal-x-sapcing;
                }
                &-chevron-left,
                {
                    left: $carousal-x-sapcing;
                }
            }
        }
        .right.carousel-control {
            text-align: right;
        }
        .left.carousel-control {
            text-align: left;
        }
    }
    .ad_option {}
    .stats {}
    /*===============================
    =            pop-ups            =
    ===============================*/
    /*=====  End of pop-ups  ======*/
}
