.ADP9 {
    .panel-group {
        // margin-bottom: $line-height-computed;
        margin-bottom: 0;
        // Tighten up margin so it's only between panels
        .panel {
            margin-bottom: 0;
            + .panel {
                margin-top: 0;
                border-top: none;
            }
        }
        .panel-default>.panel-heading {
            padding: 9px 10px;
            border-radius: 0;
            background: $white;
            + .panel-collapse > .panel-body,
            + .panel-collapse > .list-group {
                border-top: none;
            }
        }
        .panel-title {
            line-height: 1;
            .fa-plus-circle {
                display: none;
            }
            a {
                text-decoration: none;
                display: block;
                padding-left: 2em;
                font-size: 15px;
                .fa {
                    position: relative;
                    margin-left: -2em;
                    margin-right: 1em;
                }
            }
            .collapsed {
                .fa-minus-circle {
                    display: none;
                }
                .fa-plus-circle {
                    display: inline-block;
                }
            }
        }
        .panel-body {
            border-top: 0;
            // padding-top: 0;
            
        }
    }
}
