.ADP7 {
    .img-thumbnail {
        // padding: $padding;
    }
    .file-upload {
        @extend .btn-trading;
        // position: relative;
        cursor: pointer;
        .hide_file {
            position: absolute;
            z-index: 1000;
            opacity: 0;
            cursor: pointer;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }
}
