html {
    height: 100%
}

body {
    min-height: 100%;
    // background: $lightBlue;
}

aside {
    background: $blue;
    min-height: 100%;
    position: absolute;
    background: $lightBlue;
}

::-moz-selection {
    /* Code for Firefox */
    background: fade-in($gray, .1)
}

::selection {
    background: fade-in($gray, .1)
}

.table {
    thead {
        tr {
            th {
                background: $lightBlue;
                color: $white;
                border-bottom: none;
                text-align: center;
            }
        }
    }
    td {
        vertical-align: middle;
    }
}

label {
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
    margin-bottom: 5px;
    font-weight: 100;
}

.rounded-corner {
    border-radius: 4px;
}
.box-shadow{
  box-shadow: 1px 1px 1px #d0d0d0;
}

.scrollBar::-webkit-scrollbar
  {
    width:4px;

  }

.scrollBar::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    background:#c1c1c1;
}

.vertical-center{
    display: flex;
    align-items:center;
}

