$navbar-padding:10px;
// Uncollapse the nav
.navbar-default {
    border: none;
    margin-bottom: 0;
    
    @at-root {
        .navbar-brand {
            width: 233px;
            background-color: $black1;
            height: $navbar-height;
            padding-top: $navbar-padding;
            padding-bottom: $navbar-padding;
            &:hover,
            &:focus {
                color: $text-white;
                background-color: $black1;
            }
        }
    }
    .navbar-nav {
        margin-left: 10px;
        > li {
            margin: 0 10px;
            > a {
                padding-top: $navbar-padding;
                padding-bottom: $navbar-padding;
                &:hover,
                &:focus {
                    color: $text-white;
                }
            }
        }
        .fa {
            color: $text-white
        }
    }
    .navbar-right {
        .fa {
            &-circle {
                color: $yellow;
            }
        }
        @at-root {
            .caret {
                color: $yellow;
            }
        }
        .dropdown {
            margin-right: -15px;
            width: 203px;
            background-color: $black1;
            >a {
                padding-top: $navbar-padding - 3;
                padding-bottom: $navbar-padding - 3;
            }
        }
    }
}

.notification_count {
    background: $lightBlue;
    border-radius: 50%;
    color: $text-white;
    display: inline-block;
    font-size: 11px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    margin-top: .5em;
    margin-left: -20%;
    text-indent: .2em;
    line-height: 1.6em;
}
