/**

    INDEX:
    - 1. margin padding helper classes collected from main branch
    - 2. borders

 */


/*==============================
=            margin padding helper classes collected from main branch            =
==============================*/


/*=====  End of margin padding helper classes collected from main branch  ======*/

.full-width {
    width: 100%;
}


/*===============================
=            borders            =
===============================*/


/*----------  classes are collected randomly
 from other branches  ----------*/

//.border-none must be at the begning.
.border-none {
    border: 0px solid transparent !important;
}

.border-all {
    border: 1px solid #d9dbdc;
}

.border-top {
    border-top: 1px solid #d9dbdc;
}

.border-right {
    border-right: 1px solid #d9dbdc;
}

.border-bottom {
    border-bottom: 1px solid #d9dbdc;
}

.border-left {
    border-left: 1px solid #d9dbdc;
}


/*=====  End of borders  ======*/


/*==================================
=            font sizes            =
==================================*/

@for $i from 10 through 30 {
    .f-sz#{$i} {
        font-size: #{$i}px !important;
    }
}


/*=====  End of font sizes  ======*/


/*===================================
=            line height            =
===================================*/

@for $i from 0 through 20 {
    $v: $i/10;
    .l-h#{$i} {
        line-height: #{$v} !important;
    }
}


/*=====  End of line height  ======*/


/*===================================
=            font-weight            =
===================================*/

@for $i from 1 through 9 {
    .f-wt#{$i} {
        font-weight: unquote("#{$i}00");
    }
}


/*=====  End of font-weight  ======*/

.noresize {
    resize: none;
}

.vresize {
    resize: vertical;
}

.hresize {
    resize: horizontal;
}

.no-shadow {
    box-shadow: none !important;
}

[onclick] {
    cursor: pointer;
}

.wrd-wrp_brk-wrd {
    word-wrap: break-word
}
