main {
    // position: absolute;
    position: static;
    transition: all 0.75s ease-in-out;
    margin-left: 233px;
    // min-height: 100%;
    // width: 85%;
    background: $white;
    &.in {
        margin-left: 36px;
        transition: all 0.75s ease-in-out;
    }
    @at-root {
        .title {
            border-bottom: solid 1px $lightBlue2;
            padding: 7px 15px;
            margin: 0 -15px;
            h1 {
                margin: 0;
                // text-indent: .6em;
                font-size: 24px;
                color: $lightBlue;
                line-height: 1.4;
                + span {
                    color: lighten($black, 50%);
                    padding: 9px 10px 0;
                    display: inline-block;
                 
                }
            }
            .btn {
                color: $lightBlue;
                text-align: left;
                width: 218px;
                border: solid 1px lighten($black, 75%);
                border-radius: 5px;
                .caret {
                    float: right;
                    margin-top: .5em;
                    // border-color:$black;
                    color: $black;
                }
            }
        }
    }
}

/*=============================
=            modals            =
=============================*/


/****************for moadl by dinesh ***********/

.ModalHeaderBackground {
    background: #35ccf1;
}

.CustomPaddingModal {
    padding: 30px;
}


/****************for moadl by dinesh ***********/


/*=====  End of modals  ======*/


/****************globle by dinesh ***********/

#userList table td .date {
    width: 100%;
    text-align: center;
    display: block;
    font-size: .8em;
    color: #cccccc;
}

#userList table td time {
    color: #35ccf1;
}


/****************globle by dinesh ***********/

.date-picker-wrapper {
    z-index: 10 !important;
}
/****************globle by Shailesh ***********/
.color-light-blue
{
    background:#aceaf9 !important;
}
.color-light-blue2
{
    background:#d3f4fb !important;
}
/* to hide data table search*/
div.dataTables_filter{
    display: none;

}

