@mixin tableBorder( $borderColor) {
    border-top: solid 1px $borderColor;
    &:not(:last-child) {
        border-right: solid 1px $borderColor;
    }
}


/**

    TODO:
    - should be called imadiately inside table, tableID, tableClass.
    - $TblBdrColr => Tables default border color
    - $THBG       => thead bg

 */

@mixin setTable( //
$TblBdrColr:$lightBlue, // Tables default border color
$THBG:$lightBlue, // thead bg
$th-y-bdr-Colr:$lightBlue, //
$td-x-bdr-Colr:$lightBlue, //
$td-y-bdr-Colr:$lightBlue, //
$THPD-tb:0, //
$TDPD-tb:0 //
) {
    border: solid 1px $TblBdrColr;
    // color: $black;
    >thead {
        >tr {
            >th {
                background-color: $THBG;
                border-bottom: 0;
                padding-top: $THPD-tb;
                padding-bottom: $THPD-tb;
                &:not(:last-child) {
                    border-right: solid 1px $th-y-bdr-Colr;
                }
            }
        }
    }
    >tbody {
        >tr {
            >td {
                padding-top: $TDPD-tb;
                padding-bottom: $TDPD-tb;
                border: none;
                vertical-align: middle;
                &:not(:last-child) {
                    border-right: solid 1px $td-y-bdr-Colr;
                }
            }
            &:not(:first-child) {
                td {
                    border-top: solid 1px $td-x-bdr-Colr;
                }
            }
        }
    }
}
