.sidbarWrapper {
    padding-top: 40px;
    position: relative;
    max-width: 233px;
    width: 233px;
    transition: all 0.75s ease-in-out;
    .panel {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
    &.in {
        width: 36px;
        transition: all 0.75s ease-in-out;
    }
    >span.fa-stack.sidebar-toggler {
        cursor: pointer;
        color: $text-white;
        position: absolute;
        top: 2px;
        right: -18px;
        i:last-child {
            color: $blue;
        }
    }
    @at-root {
        .sidebarCurtain {
            max-width: 233px;
            overflow: hidden;
        }
    }
}

#sidebar {
    // height: 10%;
    max-width: 233px;
    min-width: 233px;
    border: solid 1px $lightBlue;
    .in & >li:hover span {
        height: 35px;
        color: $lightBlue2;
        position: absolute;
        width: 197px;
        background: $blue;
        padding: 5px 0 0 1px;
        text-indent: 10px;
        border-bottom: solid 1px $lightBlue1;
        ul {
            display: block;
            padding-top: 5px;
            li {
                border-bottom: solid 1px $lightBlue1;
                a {
                    padding-left: 0;
                }
            }
        }
    }
    a {
        display: inline-block;
        height: 34px;
        line-height: 1;
    }
    >li {
        line-height: 0;
        background: $blue;
        border-bottom: solid 1px $lightBlue;
        a {
            color: $lightBlue2;
            width: 100%;
            .fa {
                width: 34px;
                height: 34px;
                float: right;
                @extend .text-center;
                &:first-child {
                    background: $darkblue;
                    float: left;
                }
                &:last-child {
                    padding-top: 10px;
                }
            }
            span {
                display: inline-block;
                line-height: 1.8;
                padding: 4px 10px;
                height: 100%;
                .in & ul {
                    display: none
                }
                .in .panel:hover & ul {}
            }
        }
    }
    ul {
        @extend .list-unstyled;
        >li {
            background: $lightBlue1;
            &:nth-child(even) {
                background-color: $lightBlue2;
            }
            &:nth-child(odd) {}
            a {
                color: $blue;
                padding: 10px 0 0 43px;
            }
        }
    }
}
