// Margin and Padding

@each $prop,
$abbrev in (margin: m, padding: p) {
    @for $i from 0 through 4 {
        $size: $i*5;
        .#{$abbrev}-#{$size} {
            #{$prop}: #{$size}px #{$size}px !important;
        }
        .#{$abbrev}-t-#{$size} {
            #{$prop}-top: #{$size}px !important;
        }
        .#{$abbrev}-r-#{$size} {
            #{$prop}-right: #{$size}px !important;
        }
        .#{$abbrev}-b-#{$size} {
            #{$prop}-bottom: #{$size}px !important;
        }
        .#{$abbrev}-l-#{$size} {
            #{$prop}-left: #{$size}px !important;
        }
        .#{$abbrev}-x-#{$size} {
            #{$prop}-right: #{$size}px !important;
            #{$prop}-left: #{$size}px !important;
        }
        .#{$abbrev}-y-#{$size} {
            #{$prop}-top: #{$size}px !important;
            #{$prop}-bottom: #{$size}px !important;
        }
    }
}


