/*===================================
=            colors            =
===================================*/

// $color-list includes colors defined in variables.scss
$color-list:(
"transparent": transparent, //
"black": $black, //
"gray": $gray, //
"lightGray1":$lightGray1, //
"lightGray":$lightGray, //
"blue": $blue, //
"darkblue": $darkblue, //
"lightBlue": $lightBlue, //
"lightBlue1": $lightBlue1, //
"lightBlue2": $lightBlue2, //
"red": $red, //
"yellow": $yellow, //
"orange--1": $orange--1, //
"green": $green, //
"brand-success": $brand-success, //
"white": $white,//
"sparkle-green": $sparkle-green,

);
@each $colorName,
$colorCode in $color-list {
    .text-#{$colorName} {
        color: $colorCode !important;
    }
    .bg-#{$colorName} {
        background: $colorCode !important;
    }
    .border-#{$colorName} {
        border-color: $colorCode !important;
    }
}


/*=====  End of colors  ======*/

.materialize {
    &.input-group {
        border: none;
        border-bottom: solid 1px;
        .form-control {
            box-shadow: none;
            border: none;
            background: transparent;
        }
        .input-group-addon {
            border: none;
            background: transparent;
        }
    }
}

.box-shadow-none {
    box-shadow: none;
}
