$black: #333;
$gray: #4c4c4c;
$lightGray: #bebebe;
// $lightGray1: #f1f1f1;
$lightGray1: #f5f5f5;
$default-border: #d9dbdc;

//
$blue: #0299be;
$darkblue: #027a98;
$lightBlue: #35ccf1;
$lightBlue1:#97e5f8;
$lightBlue2:#bdeefa;
// $lightBlue--3:#
//
$red:#ff323b;
$yellow: #f39c12;
$orange--1:#ff6600;
$green:#76a459;
$sparkle-green:#01a300;
$brand-success:$green;
$white:#fff;




/*===============================
=            padding            =
===============================*/
$padding:10px;



/*=====  End of padding  ======*/

/*===================================
=            text-colors            =
===================================*/

$text-white:#fff;

/*=====  End of text-colors  ======*/


/*------------bootstrap/variables------*/

// $body-bg: $lightBlue;
$border-radius-base:       0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

/*------------bootstrap/mixins------*/


/*------------bootstrap/normalize------*/


/*------------bootstrap/print------*/

  
/*------------bootstrap/glyphicons------*/


/*------------bootstrap/scaffolding------*/


/*------------bootstrap/type------*/


/*------------bootstrap/code------*/


/*------------bootstrap/grid------*/


/*------------bootstrap/tables------*/


/*------------bootstrap/forms------*/


/*------------bootstrap/buttons------*/
$btn-default-border : transparent;
$btn-primary-border : transparent;


/*------------bootstrap/component-animations------*/


/*------------bootstrap/dropdowns------*/


/*------------bootstrap/button-groups------*/


/*------------bootstrap/input-groups------*/


/*------------bootstrap/navs------*/
$nav-pills-active-link-hover-bg: $darkblue;


/*------------bootstrap/navbar------*/

$navbar-height:51px; //variables
$navbar-default-bg: $gray; //variables
$navbar-border-radius: 0; //_navbar 21
$navbar-default-link-color:$text-white; //_navbar 416

/*------------bootstrap/breadcrumbs------*/


/*------------bootstrap/pagination------*/


/*------------bootstrap/pager------*/


/*------------bootstrap/labels------*/


/*------------bootstrap/badges------*/


/*------------bootstrap/jumbotron------*/


/*------------bootstrap/thumbnails------*/


/*------------bootstrap/alerts------*/


/*------------bootstrap/progress-bars------*/


/*------------bootstrap/media------*/


/*------------bootstrap/list-group------*/


/*------------bootstrap/panels------*/


/*------------bootstrap/responsive-embed------*/


/*------------bootstrap/wells------*/


/*------------bootstrap/close------*/


/*------------bootstrap/modals------*/


/*------------bootstrap/tooltip------*/


/*------------bootstrap/popovers------*/


/*------------bootstrap/carousel------*/


/*------------bootstrap/utilities------*/


/*------------bootstrap/responsive-utilities------*/
