.follower {
    &-container {
        .h4 {
            font-size: 16px;
            margin-top: 20px;
            text-indent: 10px;
        }
        ul {
            background: $white;
            li {
                // @extend .innerTB;
                font-size: 15px;
                border-bottom: solid 1px $light-gray-border;
                .img-circle {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
    &-id {
        color: $gray;
        display: inline-block;
        margin-top: 3px;
    }
    &-follow-button {
        &.hvr-vertical,
        &.hvr-vertical-wid-auto-dark {
            width: 74px;
            padding: 3px 0;
            &:before {
                width: 100%;
            }
        }
    }
}

.followers-unfollowers{
  text-align: center;
  a{
    font-size: 16px;
    color: #555555;
    &.active,&:hover{
      color: $text-social-primary;
      text-decoration: none;
    }
  }
}
