.mailinbox {
    tfoot,
    thead {
        th {
            background: rgb(237,237,237);
            background: -moz-linear-gradient(top,rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
            background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(237,237,237,1)),color-stop(100%,rgba(222,222,222,1)));
            background: -webkit-linear-gradient(top,rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
            background: -o-linear-gradient(top,rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
            background: -ms-linear-gradient(top,rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
            background: linear-gradient(to bottom,rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#ededed',endColorstr='#dedede',GradientType=0);
            font-weight: 600;
            color: #4C4B4B;
            font-size: 12px;
        }
    }
}
