#menu-apps {
    .headh4 {
        font-size: 20px;
        color: $text-social-primary;
    }
    #menu-apps-nav {
        // width: 223px;
        // position: fixed;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // background: #fff;
        // overflow-y: auto;
        // -webkit-overflow-scrolling: touch;
        // margin-top: 45px;
        .navbar-default {
            background-color: transparent;
        }
        .sidebar ul li {
            border-left: 2px solid transparent;
            &:hover,
            &.active {
                border-left: 2px solid #90a1a9;
                background-color: #f0f3f4;
                a {
                    color: #0b6796;
                }
                svg {
                    fill: #0b6796;
                }
            }
            a {
                color: #585858;
                font-size: 14px;
                font-weight: bold;
                padding: 3px 15px 8px 15px;
                svg {
                    position: relative;
                    top: 8px;
                    margin-right: 8px;
                    fill: #585858;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .sidebar-nav {}
        .sidebar .sidebar-search {
            margin-bottom: 22px;
            margin-top: 12px;
            position: relative;
        }
        .app-search {
            word-spacing: 2px;
            height: 34px;
            font-weight: 400;
            font-family: sans-serif;
            display: block;
            width: 100%!important;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #737375;
            vertical-align: middle;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            // border-right: none;
            border-radius: 0px;
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
        .input-group-btn {
            border-radius: 0px;
        }
        .noError {
            font-size: 12px;
        }
    }
    /*tabs*/
    .tab-content {}
    .product-template,
    .product-template2,
    .product-template3 {
        margin-bottom: 20px;
        border-radius: 2px;
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
        figure {
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden;
            text-align: center;
            padding: 0;
            color: #fff;
            margin: 0 auto;
            &:hover {
                background: rgba(70, 69, 69, 0.05);
                -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
                img {
                    opacity: 0.1;
                }
                figcaption {
                    opacity: 1;
                }
            }
            figcaption {
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                bottom: 0;
                padding: 0;
                height: auto;
                opacity: 0;
                -webkit-transition: opacity 0.4s;
                transition: opacity 0.4s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
            .defaultAppBtn {
                text-decoration: underline;
                border-radius: 1px;
                border: none;
                background-color: rgba(51, 157, 232, 0)!important;
                color: red;
                padding: 1px 0;
                font-size: 12px;
                font-weight: 600;
            }
            .links {
                text-align: center;
                margin: 4% 0;
                height: 100%;
                a {
                    min-width: 140px;
                    color: black;
                }
            }
            .dailogM {
                margin-bottom: 7px;
                button {
                    text-decoration: underline;
                    border-radius: 1px;
                    border: none;
                    background-color: rgba(51, 157, 232, 0)!important;
                    padding: 1px 0;
                    font-size: 11px;
                    font-weight: 600;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
        .imagSize {
            width: 100%;
        }
        .appName {
            height: 40px;
            font-weight: 400;
            color: #797979;
            font-size: 16px;
        }
        .goldStarClass {
            height: auto;
            width: 16px;
            position: relative;
            top: -3px;
        }
    }
    .numberCount {
        display: inline-block;
        padding: 0px 16px;
        border-radius: 6px;
    }
    .favCount {
        color: #e9574b;
    }
    .product-template2 a:hover,
    .product-template2 a:focus {
        outline: none;
    }
    .product-template2 {
        figure {
            &:hover {
                background: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                img {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}

#menu-apps {
    #widget {
        .product-template3 {
            figure {
                max-width: 100%;
                .dailogM {
                    margin-top: 17%;
                }
            }
            button.st-wid-but {
                background: none;
                border: 0px;
                outline: none;
            }
            .appName {
                margin-top: 20px;
            }
        }
    }
}

.sugg {
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding: 14px 14px;
    color: #8C8C8C;
    text-transform: capitalize;
}

.app-info {
    .btn {}
}

.keyword-information-search {
    h3 {
        color: #0571ae;
        font-size: 16px;
        padding: 5px 0px;
    }
}

.ui-menu .ui-menu-item {
    padding: 2px 5px;
}

.modal-content {
    .apperror {
        color: #a94442;
        // position: absolute;
        width: 100%;
    }
}

.apperror {
    color: #a94442;
    text-align: center;
    width: 100%;
    // position: absolute;
    top: 30px;
}

.search-side-bar {
    #errorBlank {
        position: absolute;
        top: -1.5em;
        color: #a94442;
    }
    #errorSearch {
        position: absolute;
        top: -1.5em;
        color: #a94442;
    }
    .search-side-bar_button-submit {
        height: 34px;
    }
}

#hideFav {
    a {
        i {
            font-size: 35px;
            padding: 11px 0px;
        }
    }
    .appName {
        position: relative;
        top: 5px;
    }
}

#appSearchForm {
    #appSuggest.input {
        // border-right:1px solid white;
    }
    .btn {
        border-radius: 0 !important;
        border-left: 1px solid transparent;
        &:hover {
            color: $username-link;
            background: $white;
            border-color: #ccc;
            border-left: 1px solid transparent;
        }
    }
}
