.bg-concrete{
  background-color: #e4e4e4;
}


.bg-skyblue{
  background-color:#25a2dc;
}
.bg-white{
  background-color:$white;
}

.bg-light-gray{
  background-color:#90a1a9;
}

.bg-light-purple{
  background-color: #fbfbfb;
}

.bg-view-all{
  background-color:$viewall;
}
//
// .bg-blue{
//   background-color: #00ccfb;
// }
//
// .bg-orange{
//   background-color: #dd833a;
// }
//
// .bg-light-orange{
//   background-color: #ff9534;
// }
//
// .bg-dark-green{
//   background-color: #00acbb;
// }
//
// .bg-dark-blue{
//   background-color: #006692;
// }
//
// .bg-dark-grey{
//   background-color: #8ea0a7;
// }
//
// .bg-red{
//   background-color: #cf0014;
// }
//
.bg-light-grey{
  background-color: #f5f5f5;
}
