/*===============================
=            borders            =
===============================*/


/*----------  classes are collected randomly
 from other branches  ----------*/

//.border-none must be at the begning.
.border-none {
    border: 0px solid transparent !important;
}

.border-all {
    border: 1px solid $darkest-gray;
}

.border-top {
    border-top: 1px solid $darkest-gray;
}

.border-right {
    border-right: 1px solid $darkest-gray;
}

.border-bottom {
    border-bottom: 1px solid $darkest-gray;
}

.border-left {
    border-left: 1px solid $darkest-gray;
}

.no-radius {
    border-radius: 0 !important;
}


/*=====  End of borders  ======*/
