.btn {
    &.btn-signup {
        background-color: $blue;
        color: $white;
        box-shadow: 1px 1px 1px 1px #999999;
        &:hover,
        &f:focus {
            color: $blue;
            background-color: $white;
            border: 1px solid $blue;
        }
    }
    &.btn-reset-password,
    &.btn-cancel {
        background-color: #fffcff;
        box-shadow: 1px 2px 2px -1px #c2c2c2;
        border-radius: 2px;
        color: $primary-blue;
        font-size: 14px;
        padding: 5px 15px;
    }
    .btn-forgot-password {
        box-shadow: 0px 0px;
    }
    &.btn-user-detail-submit {
        background-color: #d3edfa;
        box-shadow: 1px 2px 2px -1px #c2c2c2;
        width: 70px;
        font-size: 13px;
        padding: 5px 5px;
        color: #0b628e;
        margin-top: -5px;
    }
}


/*signup button*/

.signup-button {
    background-color: #25a2dc;
    color: $white;
    width: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    height: auto;
    margin: auto;
    max-width: 200px;
}


/*search landing button*/

.landing-search-btn {
    width: 100%;
    height: 34px;
    border: none;
    outline: none;
}


/*Cart Buttons*/

.btns {
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    &.btns-checkout {
        background-color: #009eeb;
        cursor: pointer;
        color: white;
    }
    &.btns-clear-cart {
        background-color: #ff8a00;
        color: white;
    }
}

.btn-app {
    padding: 1px 5px;
    display: inline-block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    &.btn-app-primary {
        background-color: $app-primary;
        color: $white;
    }
    &.btn-app-success {
        background-color: $app-success;
        color: $white;
    }
}

.social-form-buttons {
    background-color: #5cabd0;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    box-shadow: 1px 1px 0px 0px #bababa;
    font-weight: 600;
}

// button css starts here
.btn-trading,
.btn-social {
    background-color: #62abd4;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    padding: 2px 14px;
    width: 100px;
    transition: all 0.5s ease;
    box-shadow: 1px 1px 1px 1px #7393a2;
    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
        background-color: $light-blue-hvr;
        transition: all 0.5s ease;
        outline: 0;
    }
}

.btn-trading-dark,
.btn-social-dark {
    @extend .btn-trading;
    background-color: #4d7f96;
    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
        background-color: $dark-blue-hvr;
        outline: 0;
    }
}

.btn-trading-wthout-bg {
    @extend .btn-trading;
    color: $lightest-blue;
    box-shadow: none;
    background-color: transparent;
    box-shadow: none;
    &:hover,
    &:focus {
        color: $light-blue-hvr;
        background-color: transparent;
        text-decoration: none;
        outline: 0;
    }
}

.btn-trading-wid-auto,
.modal-body input .btn-trading-wid-auto,
.btn-social-wid-auto {
    @extend .btn-trading;
    width: auto;
    &:hover {
        background-color: $light-blue-hvr;
    }
}

.btn-trading-wid-auto-dark,
.modal-body input .btn-trading-wid-auto-dark,
.btn-social-wid-auto-dark {
    @extend .btn-trading;
    width: auto;
    background-color: #4d7f96;
    &:hover {
        background-color: $dark-blue-hvr;
    }
}

.btn-trading-wid-auto-green {
    @extend .btn-trading-wid-auto;
    background-color: #619f24;
    &:hover {
        background-color: $light-green-hvr;
    }
}

// button apply css in date picker starts here
.applyBtn {
    @extend .btn-trading;
    margin-right: 10px;
    background-color: $lightest-blue;
    &:hover,
    &:focus {
        background-color: $light-blue-hvr;
        text-decoration: none;
        outline: 0;
    }
}

// button apply css in date picker starts here
// cancel apply css in date picker starts here
.cancelBtn {
    @extend .btn-trading;
    background-color: $dark-blue;
    &:hover,
    &:focus {
        background-color: $dark-blue-hvr;
        text-decoration: none;
        outline: 0;
    }
}

// cancel apply css in date picker starts here
// button  css ends here
#status-post {
    .form-post-btn {
        background-color: #5cabd0;
        border: none;
        border-radius: 3px;
        padding: 5px 15px;
        font-size: 13px;
        color: white;
        box-shadow: 1px 1px 0px 0px #bababa;
        font-weight: 600;
    }
}

.social-form-modal {
    .form-post-btn {
        background-color: #5cabd0;
        border: none;
        border-radius: 3px;
        padding: 5px 15px;
        font-size: 13px;
        color: white;
        box-shadow: 1px 1px 0px 0px #bababa;
        font-weight: 600;
    }
    .form-preview-btn {
        background-color: #356c87;
        border: none;
        border-radius: 3px;
        padding: 5px 15px;
        font-size: 13px;
        color: white;
        box-shadow: 1px 1px 0px 0px #bababa;
        font-weight: 600;
    }
}

.btn_Act_Link {
    padding: 2px 13px !important;
    font-size: 15px !important;
    color: #ebf3f8 !important;
    background-color: #6bb1d6;
    margin-left: 4px;
    .btn_Act_Link:hover {
        color: #ebf3f8;
        text-decoration: none;
    }
}

// .active-linkBTM
// {
// margin-bottom: 16px !important;
// }
// for All _buttons.scss
.proper-reset-btn {
    padding: 2px 12px !important;
    background-color: #61acd3 !important;
    color: #deedf5 !important;
}

.proper-cancel-btn {
    padding: 2px 14px !important;
    background-color: #356c8a !important;
    color: #deedf5 !important;
}

.proper-reset-btn:hover {
    color: #deedf5 !important;
    text-decoration: none;
}

.proper-cancel-btn:hover {
    color: #deedf5 !important;
    text-decoration: none;
}
