
/*==========================================
=            colors             =
==========================================*/

// $color-list should includes colors defined in variables.scss 

/**
 *
 * this block is to use same defined color for text, background, border & placeholder.
 *
 */

$color-list:( // 
"transparent":transparent, // 
"facebook": $facebook, // 
"twitter": $twitter, // 
"linkedIn": $linkedIn, // 
"googlePluse": $googlePluse, // 
"outlook": $outlook, // 
"yahoo": $yahoo, //
"sound-cloud":$sound-cloud,//
"youtube":$youtube,// 
"White":$white, // 
"header_1":$header_1, // 
"header_2":$header_2, // 
"Blue":$blue, // 
"Black":$black, // 
"Dark-Gray":$dark-gray, // 
"Darkest-Gray":$darkest-gray, // 
"Light-Blue":$light-blue, // 
"Primary-blue":$primary-blue, // 
"Text-Primary-Blue":$text-primary-blue, // 
"Dark-Blue":$dark-blue, // 
"Lightest-grey":$lightest-grey, // 
"Lightest-Blue":$lightest-blue, // 
"Dark-Blue-Hvr":$dark-blue-hvr, // 
"Light-Blue-Hvr":$light-blue-hvr, // 
"Bg-Concrete":$bg-concrete, // 
"Light-Black":$light-black, // 
"Red":$red, // 
"Deep-Sky-Blue":$deep-sky-blue, // 
"Summer-Sky":$summer-sky, // 
"Slate-Grey":$slate-grey, // 
"Arapawa":$Arapawa, // 
"Light-Grey":$light-grey, // 
"Light-Gray":$light-gray, // 
"Gray":$gray, // 
"Light-Gray-Border":$light-gray-border, // 
"Placeholder":$placeholder, // 
"Padding":$padding, // 
"Badge-Danger":$badge-danger, // 
"Badge-Blue":$badge-blue, // 
"Results-Num-Txt-Col":$results-num-txt-col, // 
"Results-Title-Col":$results-title-col, // 
"Results-Desc-Col":$results-desc-col, // 
"App-Primary":$app-primary, // 
"App-Success":$app-success, // 
"Username-Link":$username-link, // 
"Username-Follow":$username-follow, // 
"orange":$orange, // 
"grayscale-3":$grayscale-3, //
"grayscale-4":$grayscale-4, // 
"grayscale-5":$grayscale-5, // 
"grayscale-6":$grayscale-6, // 
"grayscale-80":$grayscale-80, //
"grayscale-fb":$grayscale-fb, //
"grayscale-be":$grayscale-be);
@each $colorName,
$colorCode in $color-list {
    .text-#{$colorName} {
        color: $colorCode !important;
    }
    .bg-#{$colorName} {
        background: $colorCode !important;
    }
    .border-#{$colorName} {
        border-color: $colorCode !important;
    }
    .text-color-#{$colorName} {
        color: $colorCode !important;
    }
    .bg-color-#{$colorName} {
        background: $colorCode !important;
    }
    .border-color-#{$colorName} {
        border-color: $colorCode !important;
    }
}
 .text-skyeblue
 {
    color:#29a9eb;
 }

/*=====  End of colors   ======*/


/*=================================
=            opacities            =
=================================*/


@for $i from 0 through 10 {
    $v: $i/10;
    .opacity-#{$i} {
       opacity: #{$v} !important;
    }
}




/*=====  End of opacities  ======*/

