/*====================================
=            month picker            =
====================================*/

.month-picker {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    .month-picker-header {
        margin: 0;
    }
    .month-picker-year-table {
        width: 100%;
        tr:first-child {
            * {
                background: #d1d9dc;
                color: #333;
            }
        }
        .ui-button .ui-icon {
            background-image: none;
        }
        .ui-icon-circle-triangle-w,
        .ui-icon-circle-triangle-e {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            // color: red;
            text-indent: 0;
            &:before {
                padding: 10px;
            }
        }
        .ui-icon-circle-triangle-e {
            &:before {
                content: "\f105";
            }
        }
        .ui-icon-circle-triangle-w {
            &:before {
                content: "\f104";
            }
        }
    }
    .ui-corner-all {
        border-radius: 0 !important;
        background: $white;
        width: 100%;
        border: none;
        color: #666 !important;
        &:hover {
            border: none;
        }
    }
    .month-picker-month-table {
        width: 100%;
        td {
            border: 1px solid #f1f1f1;
        }
    }
    .ui-state-highlight {
        border: none !important;
    }
}

/*=====  End of month picker  ======*/



/*====================================
=            my-info-card            =
====================================*/
     .my-info-card {
     img {
         width: 70px;
         height: 70px;
         box-shadow: 1px 1px 1px 0 silver;
     }
     .my-info-detail {
         width: Calc(100% - 80px);
     }
     .my-info-status {
         font-size: 11px;
         color: #575757;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -webkit-line-clamp: 3;
         display: -webkit-box;
         text-overflow: ellipsis;
         overflow: hidden;
         text-align: justify;
     }
     .my-info-followers,
     .my-info-following,
     .my-info-posts {
         font-size: 13px;
         font-weight: bold;
     }
     .my-info-followers-count,
     .my-info-following-count,
     .my-info-posts-count {
         font-weight: bold;
     }
     .input-large {
         resize: none;
     }
 }

/*=====  End of my-info-card  ======*/
.force-caret-icon {
    &:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0d7";
        //
        position: absolute;
        z-index: 10;
        top: 0;
        right: 1.5em;
        line-height: 2em;
    }
}


/*===================================================================================
=            modal style collected to avoid use of  .keyword-* classES            =
===================================================================================*/


/**
 * needed to maintain apearance of madal from maeketplace UI 
 */

.madal--1 {
    .modal-dialog {
        width: 490px !important;
        .modal-header {
            // @extend .custom-modal-header; //defined in "sass/components/_keyword-popup.scss" [not imported]
            /**
             * copied from sass/components/_keyword-popup.scss
            */
            text-align: left!important;
            color: #0b6798!important;
            text-transform: capitalize;
            letter-spacing: 0px!important;
            border-top: 0px solid;
            padding: 9px !important;
            // 
            top: 14px!important;
            right: 16px!important;
            font-size: 23px!important;
        }
        .close {
            /**
             * copied from sass/components/_keyword-popup.scss
            */
            z-index: 99999999;
            color: #999999;
            text-shadow: 0px 0px 0px;
            font-weight: normal;
            top: 4px;
            right: 6px;
            position: absolute;
            opacity: 1;
            //
            //
            top: 14px !important;
            right: 16px !important;
            font-size: 23px !important;
        }
    }
}


/*=====  End of modal style collected to avoid use of .keyword-* classES  ======*/


/*=====================================
=            Stacked modal            =
=====================================*/

// .modal:nth-of-type(even) {
//     z-index: 1042 !important;
// }
// // .modal {
// //     z-index: 1050 !important;
// // }
// .modal-backdrop:nth-of-type(even) {
//     z-index: 1051;
// }
.modal-backdrop:not(:last-of-type) {
    // z-index: 1051;
}

// .modal-backdrop {
//     z-index: 1040 !important;
// }

/*=====  End of Stacked modal  ======*/

.tooltip {
    z-index: 15 !important;
    position: absolute;
}

.errMsg {
    position: absolute;
    top: -23px;
    color: red;
}

/*=================================
=            positions            =
=================================*/

.position-relative {
    position: relative !important;
}

.position-fixed {
    position: fixed !important;
}

.position-absolute {
    position: absolute !important;
}


/*=====  End of positions  ======*/
/*================================
=            textarea            =
================================*/

.noresize {
    resize: none;
}

.vresize {
    resize: vertical;
}

.hresize {
    resize: horizontal;
}

/*=====  End of textarea  ======*/


/*========================================
=            bootstrap-select            =
========================================*/

.bootstrap-select {
    // max-width: 112px;
    // width: 112px !important;
    &,
    &.open {
        .dropdown-toggle {
            height: 34px;
            padding: 1px 12px;
            font-size: 16px;
            &,
            &:hover,
            &:focus {
                border: solid 1px #ccc !important;
                background: $white;
                box-shadow: none;
                color: $grayscale-be;
                outline: 1px solid transparent;
                border-radius: 0;
            }
            .filter-option {
                // color: $text-primary-blue;
            }
            .bs-caret {
                color: $text-primary-blue;
                .caret {
                    top: 0.5em;
                    right: 1em;
                    border: none;
                    &:after {
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\f107";
                    }
                }
            }
        }
        .dropdown-menu.open {
            padding: 0;
            border: solid 1px #ccc;
            margin-top: -1px;
            border-radius: 0;
            top:34px;
            .dropdown-menu.inner {
                li {
                    // height: 30px;
                    padding: 0;
                    background: transparent;
                    border-bottom: solid 1px #ccc;
                    &.selected {
                        display: none;
                    }
                    a {
                        color: $light-grey;
                        padding: 6px 12px;
                        span {
                            color: $grayscale-4;
                        }
                        &:focus {
                            // background-color: transparent;
                            // border: 0px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    &:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
}

.bootstrap-select.dropup {
    // max-width: 112px;
    // width: 112px !important;
    &,
    &.open {
        .dropdown-toggle {
            .bs-caret {
                .caret:after {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\f106";
                }
            }
        }
    }
}


/*----------  theme  ----------*/

.dropdownOptions--bg-light-gray .bootstrap-select {
    &,
    &.open {
        .dropdown-toggle {
            &,
            &:hover,
            &:focus {
                border: solid 1px #ccc !important;
                background: $light-grey;
                color: $white;
                outline: 1px solid transparent;
            }
            .filter-option {}
            .bs-caret {
                color: $white;
                .caret {
                    &:after {}
                }
            }
        }
        .dropdown-menu.open {
            border: solid 1px #ccc;
            .dropdown-menu.inner {
                li {
                    background: transparent;
                    border-bottom: solid 1px #ccc;
                    &.selected {
                        display: none;
                    }
                    a {
                        color: $light-grey;
                        // &,
                        &:hover,
                        &:focus {
                            background: #009eeb;
                            span {
                                color: $white;
                            }
                        }
                        span {
                            color: $grayscale-4;
                        }
                        // &:focus {
                        //     background-color: transparent;
                        // }
                    }
                }
            }
        }
    }
    &:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {}
}

.bootstrap-select.dropup {
    // max-width: 112px;
    // width: 112px !important;
    &,
    &.open {
        .dropdown-toggle {
            .bs-caret {
                .caret:after {}
            }
        }
    }
}


/*=====  End of bootstrap-select  ======*/

.outline-none:focus {
    outline: none !important;
}

.display-flex-keyword {
    display: flex;
}

.width-100-percent {
    width: 100%;
}

.select-analytics {
    background-color: #efefef;
    color: #222222;
    width: 100px;
    font-size: 12px;
    height:20px;
}

.keyword-analytics-li-pad li {
    padding: 5.1px 5px!important;
}

.bg-grey {
    background-color: #90a1a9;
}

.bg-red {
    background-color: #ce3d3d;
}

.unavailable-keyword-box {
    margin-left: 10px;
    position: absolute;
    right: 9px;
    float: right;
    top: 4px;
}

.transition {
    transition: all 0.5s ease;
}

.height-30 {
    height: 40px;
}

.width-keyword-owned {
    width: 50px;
    display: inline-block;
    line-height: 10px;
    margin-bottom: -3px;
}

.float-left-k {
    float: left;
}

// global datepicker css starts here
.daterangepicker {
    width: 505px!important;
}

.daterangepicker.ltr .ranges {
    margin: 0 auto!important;
    text-align: center!important;
    width: 100%!important;
    padding: 12px!important;
}

// global datepicker css ends here
.border-top-none {
    border-top: 0px!important;
}

// bg colors starts here
.darkest-blue-bg {
    background-color: $darkest-blue-color;
}

.dark-blue-bg {
    background-color: $dark-blue-color;
}

.light-blue-bg {
    background-color: $light-blue-color;
}

.lightest-blue-bg {
    background-color: $lightest-blue-color;
}

// bg colors ends here
#my-earnings-trading {
    .float-left {
        display: inline-block!important;
    }
}

.goto-marketplace {
    position: absolute;
    bottom: 5%;
}

.max-width-80 {
    max-width: 80px;
}

// css for autocomplete suggestion
.atwho-inserted {
    color: #4183C4;
}

.atwho-query {
    color: #4183C4;
}

.atwho-inserted {
    color: #4183C4;
}

.atwho-query {
    color: #4183C4;
}

.sugg-wrapper {
    list-style: none;
    display: flex !important;
    align-items: center;
    background-color: white;
    .sugg-img {
        display: inline-block;
    }
    .sugg-name {
        display: inline-block;
        line-height: 1;
        margin-left: 10px;
        font-weight: bold;
    }
}
.padng-l-7{
    padding-left:7px!important;
}
// /
#myModal_like {
    // z-index: 1055;
    .modal-dialog {
        top: 90px;
    }
}
[onclick]{
    cursor:pointer;
}

#cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    margin-top:15px;
}
#keyword-referral-pop.keyword-markt-popup-common .modal-dialog {
    width: 750px !important;
}

.tab-pane.fa-thumbs-o-up:before{
  content:""
}
.tab-pane.fa-like-hand:before{
  content:""
}
.social-right-position{
    position: sticky!important;
    top: 60px;
}