/*
============ arialregular =================
*/
@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial/arial_0-webfont.eot');
    src: url('../fonts/arial/arial_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arial_0-webfont.woff2') format('woff2'),
         url('../fonts/arial/arial_0-webfont.woff') format('woff'),
         url('../fonts/arial/arial_0-webfont.ttf') format('truetype'),
         url('../fonts/arial/arial_0-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
============ arialbold =================
*/
@font-face {
    font-family: 'arialbold';
    src: url('../fonts/arial/arialbd_0-webfont.eot');
    src: url('../fonts/arial/arialbd_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialbd_0-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialbd_0-webfont.woff') format('woff'),
         url('../fonts/arial/arialbd_0-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialbd_0-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*
============ arialbold_italic =================
*/
@font-face {
    font-family: 'arialbold_italic';
    src: url('../fonts/arial/arialbi_0-webfont.eot');
    src: url('../fonts/arial/arialbi_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialbi_0-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialbi_0-webfont.woff') format('woff'),
         url('../fonts/arial/arialbi_0-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialbi_0-webfont.svg#arialbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*
============ arialitalic =================
*/
@font-face {
    font-family: 'arialitalic';
    src: url('../fonts/arial/ariali_0-webfont.eot');
    src: url('../fonts/arial/ariali_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/ariali_0-webfont.woff2') format('woff2'),
         url('../fonts/arial/ariali_0-webfont.woff') format('woff'),
         url('../fonts/arial/ariali_0-webfont.ttf') format('truetype'),
         url('../fonts/arial/ariali_0-webfont.svg#arialitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
============ arialnarrow =================
*/


@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arial/arialn-webfont.eot');
    src: url('../fonts/arial/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialn-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialn-webfont.woff') format('woff'),
         url('../fonts/arial/arialn-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialn-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
============ arialnarrow =================
*/

@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arial/arialnb-webfont.eot');
    src: url('../fonts/arial/arialnb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialnb-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialnb-webfont.woff') format('woff'),
         url('../fonts/arial/arialnb-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialnb-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
============ arialnarrow =================
*/

@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arial/arialnbi-webfont.eot');
    src: url('../fonts/arial/arialnbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialnbi-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialnbi-webfont.woff') format('woff'),
         url('../fonts/arial/arialnbi-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialnbi-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
============ arialnarrow =================
*/

@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arial/arialni-webfont.eot');
    src: url('../fonts/arial/arialni-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialni-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialni-webfont.woff') format('woff'),
         url('../fonts/arial/arialni-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialni-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
============ arialblack =================
*/

@font-face {
    font-family: 'arialblack';
    src: url('../fonts/arial/ariblk_0-webfont.eot');
    src: url('ariblk_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/ariblk_0-webfont.woff2') format('woff2'),
         url('../fonts/arial/ariblk_0-webfont.woff') format('woff'),
         url('../fonts/arial/ariblk_0-webfont.ttf') format('truetype'),
         url('../fonts/arial/ariblk_0-webfont.svg#arialblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
============ robotobold =================
*/

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/oboto-bold-webfont.eot');
    src: url('../fonts/roboto/oboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/oboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/oboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/oboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
============ robotobold_italic =================
*/


@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto-bolditalic-webfont.eot');
    src: url('../fonts/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/oboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/oboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/roboto/oboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
============ robotoitalic =================
*/


@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto-italic-webfont.eot');
    src: url('../fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
============ robotoregular =================
*/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
============ Calibri =================
*/

@font-face {
    font-family: Calibri;
    src: url("../fonts/calibri/calibri.ttf");
}