


// popup css starts here
.keyword-markt-popup-common{

.modal-dialog {
    width: 480px !important; 
}
.modal-header {
    padding: 9px!important;
}
.modal-body {
    padding: 5px;
}
.modal-content {
    border-radius: 0px!important;
}
.modal-content input[type="text"],
.modal-content input[type="number"]  {
    color: #000!important;
    border-radius: 0px;
    border: 1px solid #dadbdd;
    background-color: #fbfbfb;
    font-size: 13px;
    padding: 2px 5px;
    box-shadow:none;
    height:34px;
}
.dialog-loading-icon{
  display:none;
  position: absolute;
  width: 11px;
  height: 11px;
  right: 11px;
  top: 14px;
}

.dialog-loading-icon-delete{
  display:none;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 60px;
  top: 4px;
}
// .keyword-popup .modal-dialog {
//     width: 400px;
//     padding: 0px;
//     position: relative;
//     width: 400px;
//     padding: 0px;
//     position: relative;  }
    .keyword-popup .modal-dialog :before {
        content: '';
        height: 0px;
        width: 0px;
        position: absolute;
        top: 1px;
        left: -14px;
        z-index: 99;
    }

    .close {
        top: 14px!important;
        right: 16px!important;
        font-size: 23px!important;
    }

.custom-modal-header {
    text-align: left!important;
    color: #0b6798!important;
    text-transform: capitalize;
    letter-spacing: 0px!important;
    border-top: 0px solid;
}
.keyword-popup .modal-dialog .close {
    z-index: 99999999;
    color: #999999;
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    top: 4px;
    right: 6px;
    position: absolute;
    opacity: 1;
}
.custom-modal-header .modal-title {
    /* font-weight: bold; */

    font-size: 18px;
}
.keyword-popup .modal-dialog:after {
    content: '';
    height: 0px;
    width: 0px;
    /* border-right: 50px solid rgba(255, 0, 0, 0.98); */

    position: absolute;
    top: 1px;
    right: -14px;
    z-index: 999999;
}
.form-group {
    margin-bottom: 15px !important;
}
.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}}
// popup css ends here
