.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
  padding-left: 10px;
  padding-right: 10px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}
.row-10 .row {
    margin-right: -10px;
    margin-left: -10px;
}

/*======================================
=            custom grids             =
======================================*/

/**
 *
 * Columns create gutters (gaps between column content) via padding.
 * That padding is offset in rows for the first and last column via negative margin on .rows.
 *           From -http://getbootstrap.com/css/
 * hence we need rows margin value = | Columns padding value |
 */

$space:10;
.row-10 {
    .row {
        margin-right: -#{$space}px;
        margin-left: -#{$space}px;
    }
}


/**
 * To use with width assigned class.
 * To use insted of Bootstraps column in case 
 * we want userdefined width. 
 * 
 */

.col {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
    float: left;
    position: relative;
    min-height: 1px;
}

.col-50{
  width:50px;
}
.col-440{
  width: 440px;
}

/*=====  End of custom grids   ======*/

.form-control{
	border-radius:0px;
}

.input-group-addon{
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.container{
  width:1000px;
  padding-left:0px;
  padding-right: 0px;
}

input::-webkit-input-placeholder {
color: $placeholder !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: $placeholder !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: $placeholder !important;
}

input:-ms-input-placeholder {
color: $placeholder !important;
}

 input[type="password"]{
	font-family: inherit;
}
main {
    padding-top: 105px;
    position: relative;
}

.boxshadow{
  @include boxshadow();
}
.b-shadow-none {
    &,
    &:focus {
        box-shadow: none;
    }
}

.login_line{
  margin-right: -9px !important;
  margin-left: -10px !important;
  margin-top:-3px !important;
}
