.padding-none {
    padding: 0px !important;
}

.padding-left-none {
    padding-left: 0px !important;
}

.padding-right-none {
    padding-right: 0px !important;
}

.padding-top-none {
    padding-top: 0px !important;
}

.padding-bottom-none {
    padding-bottom: 0px !important;
}

.margin-none {
    margin: 0px !important;
}

.margin-left-none {
    margin-left: 0px !important;
}

.margin-right-none {
    margin-right: 0px !important;
}

.margin-top-none {
    margin-top: 0px !important;
}

.margin-bottom-none {
    margin-bottom: 0px !important;
}
.innerMT-1px{margin-top: 1px;}
.innerMT-3px{margin-top: 3px;}
.innerML-10{margin-left: 15px;}
.innerAll {
    padding: $padding;
}

.innerTB {
    padding-top: $padding;
    padding-bottom: $padding;
}

.innerLR {
    padding-left: $padding;
    padding-right: $padding;
}

.innerT {
    padding-top: $padding;
}

.innerB {
    padding-bottom: $padding;
}

.innerL {
    padding-left: $padding;
}

.innerR {
    padding-right: $padding;
}

.innerMAll {
    margin: $padding;
}

.innerMTB {
    margin-top: $padding;
    margin-bottom: $padding;
}

.innerMLR {
    margin-left: $padding;
    margin-right: $padding;
}

.innerMT {
    margin-top: $padding;
}

.innerMB {
    margin-bottom: $padding;
}

.innerML {
    margin-left: $padding;
}

.innerMR {
    margin-right: $padding;
}

.half {
    &.innerAll {
        padding: $padding / 2;
    }
    &.innerTB {
        padding-top: $padding / 2;
        padding-bottom: $padding / 2;
    }
    &.innerLR {
        padding-left: $padding / 2;
        padding-right: $padding / 2;
    }
    &.innerT {
        padding-top: $padding / 2;
    }
    &.innerB {
        padding-bottom: $padding / 2;
    }
    &.innerL {
        padding-left: $padding / 2;
    }
    &.innerR {
        padding-right: $padding / 2;
    }
    &.innerMAll {
        margin: $padding / 2;
    }
    &.innerMTB {
        margin-top: $padding / 2;
        margin-bottom: $padding / 2;
    }
    &.innerMLR {
        margin-left: $padding / 2;
        margin-right: $padding / 2;
    }
    &.innerMT {
        margin-top: $padding / 2;
    }
    &.innerMB {
        margin-bottom: $padding / 2;
    }
    &.innerML {
        margin-left: $padding / 2;
    }
    &.innerMR {
        margin-right: $padding / 2;
    }
}

.inner-2x {
    &.innerAll {
        padding: $padding * 2;
    }
    &.innerTB {
        padding-top: $padding * 2;
        padding-bottom: $padding * 2;
    }
    &.innerLR {
        padding-left: $padding * 2;
        padding-right: $padding * 2;
    }
    &.innerT {
        padding-top: $padding * 2;
    }
    &.innerB {
        padding-bottom: $padding * 2;
    }
    &.innerL {
        padding-left: $padding * 2;
    }
    &.innerR {
        padding-right: $padding * 2;
    }
    &.innerMAll {
        margin: $padding * 2;
    }
    &.innerMTB {
        margin-top: $padding * 2;
        margin-bottom: $padding * 2;
    }
    &.innerMLR {
        margin-left: $padding * 2;
        margin-right: $padding * 2;
    }
    &.innerMT {
        margin-top: $padding * 2;
    }
    &.innerMB {
        margin-bottom: $padding * 2;
    }
    &.innerML {
        margin-left: $padding * 2;
    }
    &.innerMR {
        margin-right: $padding * 2;
    }
}

.inner-3x {
    &.innerAll {
        padding: $padding * 3;
    }
    &.innerTB {
        padding-top: $padding * 3;
        padding-bottom: $padding * 3;
    }
    &.innerLR {
        padding-left: $padding * 3;
        padding-right: $padding * 3;
    }
    &.innerT {
        padding-top: $padding * 3;
    }
    &.innerB {
        padding-bottom: $padding * 3;
    }
    &.innerL {
        padding-left: $padding * 3;
    }
    &.innerR {
        padding-right: $padding * 3;
    }
    &.innerMAll {
        margin: $padding * 3;
    }
    &.innerMTB {
        margin-top: $padding * 3;
        margin-bottom: $padding * 3;
    }
    &.innerMLR {
        margin-left: $padding * 3;
        margin-right: $padding * 3;
    }
    &.innerMT {
        margin-top: $padding * 3;
    }
    &.innerMB {
        margin-bottom: $padding * 3;
    }
    &.innerML {
        margin-left: $padding * 3;
    }
    &.innerMR {
        margin-right: $padding * 3;
    }
}

.inner-4x {
    &.innerAll {
        padding: $padding * 4;
    }
    &.innerTB {
        padding-top: $padding * 4;
        padding-bottom: $padding * 4;
    }
    &.innerLR {
        padding-left: $padding * 4;
        padding-right: $padding * 4;
    }
    &.innerT {
        padding-top: $padding * 4;
    }
    &.innerB {
        padding-bottom: $padding * 4;
    }
    &.innerL {
        padding-left: $padding * 4;
    }
    &.innerR {
        padding-right: $padding * 4;
    }
    &.innerMAll {
        margin: $padding * 4;
    }
    &.innerMTB {
        margin-top: $padding * 4;
        margin-bottom: $padding * 4;
    }
    &.innerMLR {
        margin-left: $padding * 4;
        margin-right: $padding * 4;
    }
    &.innerMT {
        margin-top: $padding * 4;
    }
    &.innerMB {
        margin-bottom: $padding * 4;
    }
    &.innerML {
        margin-left: $padding * 4;
    }
    &.innerMR {
        margin-right: $padding * 4;
    }
}

.inner-5x {
    &.innerAll {
        padding: $padding * 5;
    }
    &.innerTB {
        padding-top: $padding * 5;
        padding-bottom: $padding * 5;
    }
    &.innerLR {
        padding-left: $padding * 5;
        padding-right: $padding * 4;
    }
    &.innerT {
        padding-top: $padding * 4;
    }
    &.innerB {
        padding-bottom: $padding * 5;
    }
    &.innerL {
        padding-left: $padding * 5;
    }
    &.innerR {
        padding-right: $padding * 5;
    }
    &.innerMAll {
        margin: $padding * 5;
    }
    &.innerMTB {
        margin-top: $padding * 5;
        margin-bottom: $padding * 5;
    }
    &.innerMLR {
        margin-left: $padding * 5;
        margin-right: $padding * 5;
    }
    &.innerMT {
        margin-top: $padding * 5;
    }
    &.innerMB {
        margin-bottom: $padding * 5;
    }
    &.innerML {
        margin-left: $padding * 5;
    }
    &.innerMR {
        margin-right: $padding * 5;
    }
}

.inner-6x {
    &.innerAll {
        padding: $padding * 6;
    }
    &.innerTB {
        padding-top: $padding * 6;
        padding-bottom: $padding * 6;
    }
    &.innerLR {
        padding-left: $padding * 6;
        padding-right: $padding * 6;
    }
    &.innerT {
        padding-top: $padding * 6;
    }
    &.innerB {
        padding-bottom: $padding * 6;
    }
    &.innerL {
        padding-left: $padding * 6;
    }
    &.innerR {
        padding-right: $padding * 6;
    }
    &.innerMAll {
        margin: $padding * 6;
    }
    &.innerMTB {
        margin-top: $padding * 6;
        margin-bottom: $padding * 6;
    }
    &.innerMLR {
        margin-left: $padding * 6;
        margin-right: $padding * 6;
    }
    &.innerMT {
        margin-top: $padding * 6;
    }
    &.innerMB {
        margin-bottom: $padding * 6;
    }
    &.innerML {
        margin-left: $padding * 6;
    }
    &.innerMR {
        margin-right: $padding * 6;
    }
}

.inner-7x {
    &.innerAll {
        padding: $padding * 7;
    }
    &.innerTB {
        padding-top: $padding * 7;
        padding-bottom: $padding * 7;
    }
    &.innerLR {
        padding-left: $padding * 7;
        padding-right: $padding * 7;
    }
    &.innerT {
        padding-top: $padding * 7;
    }
    &.innerB {
        padding-bottom: $padding * 7;
    }
    &.innerL {
        padding-left: $padding * 7;
    }
    &.innerR {
        padding-right: $padding * 7;
    }
    &.innerMAll {
        margin: $padding * 7;
    }
    &.innerMTB {
        margin-top: $padding * 7;
        margin-bottom: $padding * 7;
    }
    &.innerMLR {
        margin-left: $padding * 7;
        margin-right: $padding * 7;
    }
    &.innerMT {
        margin-top: $padding * 7;
    }
    &.innerMB {
        margin-bottom: $padding * 7;
    }
    &.innerML {
        margin-left: $padding * 7;
    }
    &.innerMR {
        margin-right: $padding * 7;
    }
}

.inner-8x {
    &.innerAll {
        padding: $padding * 8;
    }
    &.innerTB {
        padding-top: $padding * 8;
        padding-bottom: $padding * 8;
    }
    &.innerLR {
        padding-left: $padding * 8;
        padding-right: $padding * 8;
    }
    &.innerT {
        padding-top: $padding * 8;
    }
    &.innerB {
        padding-bottom: $padding * 8;
    }
    &.innerL {
        padding-left: $padding * 8;
    }
    &.innerR {
        padding-right: $padding * 8;
    }
    &.innerMAll {
        margin: $padding * 8;
    }
    &.innerMTB {
        margin-top: $padding * 8;
        margin-bottom: $padding * 8;
    }
    &.innerMLR {
        margin-left: $padding * 8;
        margin-right: $padding * 8;
    }
    &.innerMT {
        margin-top: $padding * 8;
    }
    &.innerMB {
        margin-bottom: $padding * 8;
    }
    &.innerML {
        margin-left: $padding * 8;
    }
    &.innerMR {
        margin-right: $padding * 8;
    }
}

.inner-9x {
    &.innerAll {
        padding: $padding * 9;
    }
    &.innerTB {
        padding-top: $padding * 9;
        padding-bottom: $padding * 9;
    }
    &.innerLR {
        padding-left: $padding * 9;
        padding-right: $padding * 9;
    }
    &.innerT {
        padding-top: $padding * 9;
    }
    &.innerB {
        padding-bottom: $padding * 9;
    }
    &.innerL {
        padding-left: $padding * 9;
    }
    &.innerR {
        padding-right: $padding * 9;
    }
    &.innerMAll {
        margin: $padding * 9;
    }
    &.innerMTB {
        margin-top: $padding * 9;
        margin-bottom: $padding * 9;
    }
    &.innerMLR {
        margin-left: $padding * 9;
        margin-right: $padding * 9;
    }
    &.innerMT {
        margin-top: $padding * 9;
    }
    &.innerMB {
        margin-bottom: $padding * 9;
    }
    &.innerML {
        margin-left: $padding * 9;
    }
    &.innerMR {
        margin-right: $padding * 9;
    }
}

.border-none {
    border: 0px solid transparent;
}


/*=======================================
=            laed correction            =
=======================================*/


/*
Appropriate for using with 'calibri' font's one-line text (Headings),
as padding for boxes is sometimes considered from font's 'x-height' and 'baseline' in designed layouts.
*/

.leadCorrect-b {
    margin-bottom: -0.25em !important;
}

.leadCorrect-t {
    margin-top: -0.25em !important;
}


/*=====  End of laed correction  ======*/
.margin-up{
   margin-top:-2px;
   margin-bottom:8px;
}