*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}*/

/*Fun begins*/

.trade-analytics-tabs {

  .tab_container {
	width: 100%;
	position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}


label.tabs-head {
  height:36px;
  font-weight: lighter;
  font-size: 14px;
  display: block;
  float: left;
  width: 25%;
  padding: 5px;
  color: #f8faf9; text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #90a1a9;border: 1px solid transparent;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 0px;
  background: #fff;
  color: #999;
	// border: 1px solid #d9dadc;
	border-top: 0px;
}
.tab_container .tab-content table{font-size: 13px;font-family: sans-serif;margin-bottom: 0px;}
.tab_container .tab-content table td:first-child{text-align: left;}
.tab_container .tab-content table tr:nth-child(odd){background-color: #e5f3fc;padding: 7px 30px;
   font-size: 13px;
   font-family: sans-serif;}
.tab_container .tab-content table tr:nth-child(even){background-color: #fff;padding: 7px 30px;
   font-size: 13px;
   font-family: sans-serif;}

.tab_container .tab-content table td{text-align: right;}
// .trade-analytics-tabs .tab_container table .comn-lft-rght-cont label{background-color: transparent!important;}


.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
	// border: 1px solid #d9dadc;
	color: #90a1a9;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}
.tab_container label{
  // height:36px;

  margin-bottom: 0px!important;}

.tab_container label .fa {
  font-size: 1.3em;margin-bottom: 0px!important;
  margin: 0 0.4em 0 0;
}
}
