.text-small {
    font-size: 13px;
}
.text-small-ticket{
    font-size:14px;
}
.text-white {
    color: $white;
}

.text-blue {
    color: $blue;
    a {
        color: $blue;
        &:hover {
            text-decoration: none;
        }
    }
}

.text-black {
    color: $black;
}

.text-red {
    color: $red;
}

.text-summer-sky {
    color: $summer-sky;
}
.text-Arapawa {
    color: $Arapawa;
}

.text-primary-blue {
    color: $primary-blue;
}

.text-dark-gray {
    color: $dark-gray;
}
.text-grey-ear{
    color: $dark-gray!important;    
}
.text-light-blue {
    color: $light-blue;
}

.text-deep-sky-blue {
    color: $deep-sky-blue;
}

.text-header-light {
    color: #595F6E;
}
.text-link{
    color:$light-blue-color;
}

.keyword-name {
    font-size: 18px;
}

.keyword-grey {
    color: $results-desc-col;
    font-size: 13px;
    font-weight: lighter;
}

.keyword-grey-span {
    // color: $blue;
    color: $username-link;
    font-size: 13px;
    text-transform: capitalize;
    a {
        text-decoration: none;
        color: $blue;
        &:hover {
            text-decoration: none;
        }
    }
}
.modal-body{
  .keyword-grey-span {
      text-transform: none;
    }
}

.text-bold {
    font-weight: bold;
}

.text-social-primary {
    color: $text-social-primary;
    -webkit-font-smoothing: antialiased;
}

.text-social-gray {
    color: $text-social-gray;
}

.text-red {
    color: #ce0015;
}

.text-sky-blue {
    color: #2fade8;
}

.text-dark-blue {
    color: #006793;
}

.text-light-blue {
    color: #00cbfb;
}

.text-orange {
    color: #ff6423;
}

.text-light-orange {
    color: #ff9534;
}

.text-lighter-orange {
    color: #de833a;
}

.text-dark-green {
    color: #00abbb;
}

.text-light-grey {
    color: #8ea0a7;
}

.text-dark-red {
    color: $dark-red!important;
    a {
        color: $dark-red!important;
    }
}

.text-dark-green {
    color: $dark-green!important;
    a {
        color: $dark-green!important;
    }
}


/*==================================
=            font sizes            =
==================================*/

@for $i from 10 through 30 {
    .f-sz#{$i} {
        font-size: #{$i}px !important;
    }
}


/*=====  End of font sizes  ======*/


/*===================================
=            line height            =
===================================*/

@for $i from 0 through 20 {
    $v: $i/10;
    .l-h#{$i} {
        line-height: #{$v} !important;
    }
}


/*=====  End of line height  ======*/


/*===================================
=            font-weight            =
===================================*/

@for $i from 1 through 9 {
    .f-wt#{$i} {
        font-weight: unquote("#{$i}00");
    }
}


/*=====  End of font-weight  ======*/

.word-break-all{
    word-break:all;
}

.text-yellow{
  color: #ffcc33;
}
.error-color{
  color: #a94442 !important;
}
.error-color-border{
  color: #a94442 !important;
}

.activation-text-header{
  font-size:18px;
  color:#71a7d3;
}
.width-250{
    width:250px!important;
}