/*
Social Mode Button in the Navigation
*/

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 22px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//radio button styling
.radio-div {
    display: inline-block !important;
}

#registerForm{
    .radio {
        padding-left: 20px !important;
    }
    .radio label {
        display: inline-block;
        position: relative;
        padding-top: 3px;
        padding-left: 3px;
    }
    .signupRadio {
        label {
            display: inline-block;
            position: relative;
            margin-right: 0px;
        }
    }
    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca;
    }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca;
    }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca;
    }
    .radio input[type="radio"] {
        opacity: 0;
    }
    .radio input[type="radio"]:focus + label::before {
        outline-offset: -2px;
    }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
    }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 15px;
        height: 15px;
        left: 1px;
        top: 4px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
           
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

.tooltip-inner {
    border-radius: 0px;
    padding: 5px 10px;
    background-color: $text-primary-blue !important;
    color: $white;
    min-width: 130px;
    max-width: auto;
    word-wrap: break-word;
}

.tooltip.left .tooltip-arrow {
    border-left-color: $text-primary-blue;
}

.tooltip.right .tooltip-arrow {
    border-width: 10px 10px 10px 0;
    border-right-color: $text-primary-blue;
    margin-top: -10px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: $text-primary-blue;
}

.tooltip.top .tooltip-arrow {
    border-top-color: $text-primary-blue;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $text-primary-blue;
}

.popover.right>.arrow {
    border-right-color: $text-primary-blue;
}

.popover.right>.arrow:after {
    border-right-color: $text-primary-blue;
}

// ellipses common starts here
.ellipses {
    white-space: nowrap;
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        white-space: nowrap;
        max-width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// ellipses for view all pages starts here
.display-in-block {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

.display-in-block-txt-blk {
    @extend .display-in-block;
    width: auto;
    max-width:100%;
    padding-left: 0px;
}

// ellipses for view all pages ends here
//ellipses for keyword owned
.display-in-keywrd-owned {
    @extend .display-in-block;
    width: 100%;
    padding-left: 0px;
}

//ellipses for keyword owned
// ellipses for tooltip for trade analytics page css starts here
.ellipses-market-trade-label {
    @extend .ellipses;
    float: left;
    width: 50%;
    a {
        @extend .ellipses;
        width: 50%;
        float: left;
    }
}

.ellipses-market-trade-span {
    @extend .ellipses;
    float: right;
    width: 50%;
    a {
        @extend .ellipses;
        width: 50%;
        float: right;
    }
}

#tooltip-arrw--left {
    .tooltip.bottom .tooltip-arrow {
        left: 40px!important;
    }
}

#tooltip-arrw--left span {
    .tooltip.bottom .tooltip-arrow {
        left: 60px!important;
    }
}

#tooltip-arrw--left-view-all {
    .ellipses-market-trade-label {
        @extend .ellipses;
        float: left;
        width: 100%;
        a {
            @extend .ellipses;
            width: 100%;
            float: left;
        }
    }
    .tooltip.bottom .tooltip-arrow {
        left: 100px!important;
    }
    .tooltip-inner {
        margin-left: 80px!important;
    }
}

// #tooltip-arrw--left-view-all span{
//   .tooltip.bottom .tooltip-arrow{
//     left: 60px!important;}
// }
#ellipses-viewall .ellipses-market-trade-label {
    width: 100%!important;
}

//for first name and last name ellipses
.ellipses-wid {
    width: 115px;
    display: inline-block;
}

.ellipses-general {
    width: 100px;
    display: inline-block;
}
// checkout ellipses
.ellipses-check {
    width: 83px;
    display: inline-block;
}
.ellipses-check-itd {
    width: 43px;
    display: inline-block;
}

// ellipses common ends here

/*
Toast overriding css*/

#toast-container {
    .toast-img-div {
        display: inline-block;
        float: left;
        padding: 10px;
        background-color: #2c8cb6;
        height: 90px;
        img {
            float: left;
        }
    }
    .toast-content {
        width: Calc(100% - 100px);
        padding: 10px;
        float: left;
        display: inline-block;
        .toast-content-title {
            font-weight: 600;
            color: #484848;
            font-size: 18px;
        }
    }
    .toastMsg-class {
        color: #707070;
        font-size: 13px;
        margin-top: 10px;
    }
    .toast {
        margin: 0;
        /*width: 65%;*/
        opacity: 1;
        padding: 0px;
        background-color: white;
        button {
            top: 5px;
            right: 5px;
            color: #818181;
        }
    }
}


/*'
Badges
*/

.badge {
    border-radius: 2px;
    &.badge-danger {
        background: $badge-danger;
    }
    &.badge-blue {
        background: $badge-blue;
    }
}


/*
Jquery UI
*/

.ui-autocomplete {
    z-index: 999999;
}


/*
Choosen UI Widget
*/

.chosen-container .chosen-drop {
    z-index: 7;
}


/**Scroll top for scrolling result up**/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #25a2dc url(../images/cd-top-arrow.svg)no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}


/*
CDP Red and Green Circle
*/

.cdp-green {
    color: #7fba00;
}

.cdp-red {
    color: #ff0000;
}


/*
CLose Button in Modal
*/

.closebutton-absolute {
    position: absolute;
    right: 60px;
    top: -25px;
}

.close-button {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size:20px;
    cursor:pointer;
}

.radio-primary input[type="radio"] {
    &+ label::before {
        border: 2px solid #fff;
        width: 15px;
        height: 15px;
        top: 3px;
        background-color: transparent;
    }
    &+ label::after {
        border: 2px solid #fff;
        width: 5px;
        height: 5px;
        left: 5px;
        top: 8px;
        background-color: transparent;
    }
    &:checked + label::before {
        border-color: $white;
    }
    &:checked + label::after {
        background: $white;
    }
}


//scrollbar styling
::-webkit-scrollbar {
     width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
} /* background color */

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    // box-shadow: inset 1px 0px 1px #999;
} /* scroll div*/

::-webkit-scrollbar-button {
    display: none;
} /* top scroll button */
