//extended in "_stnews_search.scss , _search_result_bitcoin.scss"
%news_search_result {
    max-width: 100%;
    .card-img {
        width: 120px;
        height: 78px;
    } 
    .card-img img {
        width: 100%;
        height:auto;
    }
    .card-img ~ .card-info {
        width: calc(100% - 120px);
        cursor: default;
    }
    .card-text {
        font-size: 13px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .card-by {
        font-size: 12px;
        color: green;
    }
    .card-time {
        font-size: 12px;
        color: gray;
    }
    .cd-top {
        left: 75%;
    }
    #paginate {
        .pagebtn {
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: -49;
            font-size: smaller;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid #717171;
            border-radius: 2px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        .pagebtn-success {
            color: #fff;
            background-color: #5BC0DE;
            border-color: #5BC0DE;
            font-weight: 600;
            background-image: #5BC0DE;
        }
    }
    .news-title {
        a:hover {
          text-decoration:underline;

        }
    }
}
