//extended in "_youtube_search.scss , _searchresult_dailymotion.scss"
$searchCard__info__title_Color:#257CC7;
$searchCard__info__by_Color:#D86262;
$searchCard__info__text_Color: gray;
$imgPath:"../images/search/";
%video_search_results {
    a {
        cursor: pointer;
    }
    .card-img {
        position: relative;
        min-height: 100px;
        width: 200px;
        cursor: pointer;
        img {
            width: 200px;
            height: 120px;
        }
        .info{
          float: left;
          position: relative;
          margin-top: -120px;
          padding: 26%;
          background: rgba(66, 64, 62, 0.65098);
          width: 200px;
          color: white;
          font-weight: bold;
          text-align: center;
          height: 120px;
          cursor: pointer;
          display: none;
          img{
            margin-top: -15px;
            width: 40px;
            height: 40px;
            text-align: center;
          }
        }
    }

    .card-info {
        width: Calc(100% - 210px);
    }
    .card-title {
        color: $searchCard__info__title_Color;
        font-size: 13px;
        a{
          color: #257CC7;
          font-weight: 600;
          &:hover{
            text-decoration: underline;
          }
        }
    }
    .card-by {
        color: $searchCard__info__by_Color;
        font-size: 12px;
    }
    .card-time {
        font-size: 11px;
    }
    .card-text {
        color: $searchCard__info__text_Color;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 12px;
    }
    .card-text.channel{
      color: black;
    }
    //
    //inline styles added after implementation gose below
    //
    max-width: 100%;
    .cd-top {
        left: 75%;
    }
}
.ui-widget-overlay{
  background: #aaaaaa;
  opacity: 0.9;
  z-index: 100;
}
.ui-widget-content{
  a{
    color: #337ab7 !important;
    &:hover{
      text-decoration: underline;
    }
  }
}
