.amazon-search-results{
  .amazon-card{
    position: relative;
    height: 335px;
  }
  a:hover{
    text-decoration: none;
    color: $blue;
  }
  .product-box-price{
      color:#b12704;
      font-weight: 600;
      font-size: 14px;
  }
  .amazon-buy-button{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .product-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .product-box-title{
    max-height: 32px;
    min-height: 32px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 16px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
       &:hover{
      text-decoration:underline;
    }
  }
  .product-buy-now{
      width: 90%;
      margin: 0 auto;
      padding: 5px;
      border-radius: 5px;
      background-color: #5BC0DE;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
  }

}
.pagebtn-group{
  .pagebtn {
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: -49;
      font-size: smaller;
      font-weight: normal;
      line-height: 1.428571429;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid #717171;
      border-radius: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .pagebtn-success {
        color: #fff;
        background-color: #5BC0DE;
        border-color: #5BC0DE;
        font-weight: 600;
        background-image: #5BC0DE;
    }
}
