#b_header, #b_context, .b_footer, .ftrB, .ftrH, .sb_pagF, .b_ad{
    display: none;
}
#b_content {
    visibility: visible !important;
    padding: 0 !important;
    margin-left: 30px;
}
input, textarea, h4, h5 {
    font: auto !important;
    font-size: large;
}
.b_algo{
    margin-bottom:10px !important;
    padding: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02);
}
#b_tween {
    margin-top: 0px !important;
    padding-top: 10px;
    margin-bottom: 10px;
}
.b_ans {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02);
}
.b_msg{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02);
}
#b_results>.b_ad+.b_top{
    margin-top: 10px !important;
    margin-bottom: 10px;
}
.poolHeaderData{
    font-size:14px;
}
#key0{
    font-size:14px;
}
/**********************************/
.b_algo {
  margin-bottom: 10px !important;
  padding: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.02);
}

#b_results > {
  li {
    a {
      color: #001ba0;
      &:visited {
        color: #600090;
      }
    }
    background-color: #fff;
  }
  .b_ad {
    color: #666;
    background-color: #f9fcf7;
    a {
      color: #001ba0;
      &:visited {
        color: #600090;
      }
    }
  }
  .b_pag {
    background-color: transparent;
    a {
      &:hover {
        background-color: #f4f4f4;
      }
      &.sb_pagP:hover, &.sb_pagN:hover {
        background-color: inherit;
      }
    }
  }
}
//
#b_context {
  .b_ans, #wpc_ag {
    background-color: #fff;
  }
  > li.b_ad {
    color: #666;
    background-color: #fff;
    a {
      color: #001ba0;
      &:visited {
        color: #600090;
      }
    }
  }
}
//
 #b_tween a:visited, #b_results .b_no a, #sw_footL > li a#sb_feedback {
  color: #001ba0;
}
//
 #b_results > li a:visited, #sb_feedback:visited {
  color: #600090;
}
//
#b_context a, .b_expando a {
  color: #001ba0;
}
//
#b_context .b_ans a:visited {
  color: #600090;
}
//
cite {
  color: #006d21;
}

#b_results cite {
  &.sb_crmb a, a.sb_metalink {
    color: #006d21;
  }
}
//
.b_posText {
  color: #006d21;
}

.b_negText {
  color: #c80000;
}

#b_context {
  cite {
    color: #006d21;
    a {
      color: #006d21;
    }
  }
  .b_posText {
    color: #006d21;
  }
  .b_negText {
    color: #c80000;
  }
}

.b_ad cite {
  color: #006d21;
}

#b_context .b_entityTitle, #b_results .b_entityTitle {
  color: #444;
}

#b_context .b_entitySubTitle, #b_results .b_entitySubTitle {
  color: #767676;
}

#b_context {
  color: #666;
  #wpc_eif {
    color: #666;
  }
}
//
.b_promoteText {
  color: #666;
}

#b_tween a.ftrH {
  color: #666;
  &:hover {
    color: #666;
  }
}

.b_expando {
  color: #666;
  h2 {
    color: #666;
  }
}
//
.b_active a {
  color: #666;
  &:visited, &:hover {
    color: #666;
  }
}
//
#b_results {
  > .b_pag a, .b_no {
    color: #666;
  }
}

//
#b_content a.cbl {
  &:visited {
    color: #666;
  }
  color: #666;
}
//
#b_results {
  color: #666;
  .b_defaultText, > .b_pag a:hover {
    color: #666;
  }
}

#b_tween {
  .b_toggle:hover, .b_highlighted {
    color: #666;
  }
}

.b_top {
  color: #444;
  .b_promoteText {
    color: #444;
  }
}
//
.b_alert, .b_pAlt {
  color: #d90026;
}

#b_results {
  .b_alert, .b_pAlt {
    color: #d90026;
  }
}

#b_context .b_alert {
  color: #d90026;
}

#sb_feedback {
  color: #666;
}

#b_content .b_lowFocusLink a {
  color: #767676;
}

#b_context {
  .b_secondaryText, .b_attribution, .b_factrow, .b_footnote, .b_ad .b_adlabel {
    color: #767676;
  }
}
//
.b_expando {
  .b_secondaryText, .b_attribution, .b_factrow, .b_footnote {
    color: #767676;
  }
}

#b_context .b_pointer.b_mhdr:hover .b_secondaryText {
  color: #36b;
}

#b_content {
  clear: both;
  min-height: 344px;
  padding: 0 0 20px 100px;
}

#b_pole {
  margin: 3px 0 15px -100px;
  padding-left: 120px;
}

#b_results {
  width: 560px;
}

#b_context {
  margin: 0 0 0 30px;
  padding: 0 20px;
  .b_ans, .b_ad {
    margin: 0 -20px;
  }
  .b_ans {
    padding: 10px 20px 0;
  }
  .b_ad {
    padding: 10px 20px;
  }
}

#b_results, #b_context, #b_tween > span, .b_hList > li, .c_tlbxTrg, .b_hPanel > span, .ccal .ccali, .b_footerRight {
  display: inline-block;
}

.b_hPanel {
  .b_xlText, .cico {
    display: inline-block;
  }
}

.b_moreLink, .b_label + .b_hList, .cbtn, .lc_bks, .lc_bkl, .fiw, .csrc {
  display: inline-block;
}

.b_algo .b_title {
  H2, div {
    display: inline-block;
  }
}



.b_pointer {
  cursor: pointer;
}

#b_tween > span {
  padding-right: 25px;
}

#b_results > {
  li {
    padding: 10px 20px;
    margin: 0 0 2px;
  }
  .b_ans {
    padding: 17px 20px 0;
    margin-bottom:10px;
  }
  .b_algo {
    padding: 12px 20px 0;
  }
  li .b_fullb {
    margin-left: -20px;
    margin-right: -20px;
  }
  .b_ad {
    padding-right: 18px;
    border-right: 2px solid #e5e5e5;
  }
  li:first-child {
    padding-top: 10px;
    margin-bottom:10px;
  }
  .b_pag {
    padding: 18px 0 40px 20px;
  }
}
//
.b_lBottom, .b_caption, .b_moreLink, .b_footnote, .b_hList > li, #b_context h2 {
  padding-bottom: 10px;
}

#b_results {
  .b_subModule h2, .b_ad .b_factrow {
    padding-bottom: 10px;
  }
}

.b_expando h2 {
  padding-bottom: 10px;
}

.b_no {
  h1, h4, li {
    padding-bottom: 10px;
  }
}

.b_prominentFocusLabel, .b_locStr, .b_entitySubTitle, .b_vPanel > div, .b_vList > li {
  padding-bottom: 10px;
}

.b_rich {
  padding-top: 3px;
}

h2 + .b_rich {
  padding-top: 2px;
}

.b_algo .b_attribution img {
  vertical-align: text-bottom;
}

.b_lLeft, .b_floatR_img, .b_suffix {
  padding-left: 10px;
}

.wr_tc, .b_xlLeft, .b_deep, #b_results .b_ad .b_vlist2col, #b_tween {
  padding-left: 20px;
}

h2 .b_secondaryText {
  margin-left: 5px;
}

.b_hList.b_imgStrip > li {
  padding-right: 1px;
}

.fiw, .lc_bkl, .b_mRight, .b_label, .csrc {
  padding-right: 5px;
}

.b_lRight, .b_imgStrip .imgData, .b_underSearchbox .b_label, .b_hPanel > span, .b_hList > li {
  padding-right: 10px;
}

.b_xlRight {
  padding-right: 20px;
}

.b_hList {
  &.b_imgStrip > li:last-child, > li:last-child {
    padding-right: 0;

  }
}
//
.b_hPanel > span:last-child, td:last-child, th:last-child, #b_tween > span:last-child {
  padding-right: 0;
   // padding-top: 10px;
  padding-left: 10px;
}

.b_overhangR {
  margin-right: -30px;
  padding-right: 150px;
}

.wr_tc {
  margin-right: -150px;
}

.b_tbl {
  margin-right: -10px;
}

.b_no h4 {
font-family:  Arial, Helvetica, Sans-Serif;
}

h2 {
  .b_secondaryText, .b_alert {
  font-family:  Arial, Helvetica, Sans-Serif;
  }
}
//
//

 .b_no h1 {
  font-size: 18px;
}



#b_tween {
  > span, .ftrH {
    line-height: 30px;font-size: 12px;
  }
}

.sb_count {
  text-transform: uppercase;
}

 .b_topbar a:hover, .b_pag a:hover, .cbtn:hover, .b_hlButton:hover, .ftrB a:hover, .b_algo:hover .b_vList h2 a {
  text-decoration: none;
}

#b_results > .b_ans:hover {
  .ent_cnt h2 > a, #sp_requery h2 > a {
    text-decoration: none;
  }
}
