
.flipkart-search-results{
  text-decoration: none;
  color: $blue;
  a:hover{
    text-decoration: none;
    color: $blue;
  }

  a:visited{
    text-decoration: none;
    color: $blue;
  }
  .product-box-price{
      color:#b12704;
      font-weight: 600;
      font-size: 14px;
  }
  .product-buy-now{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #5BC0DE;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  .flipkart-card{
    height:335px;
  }
  .product-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .product-box-title{
    max-height: 34px;
    min-height: 34px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 16px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &:hover{
      text-decoration:underline;
    }
  }

}
.mainnews-first{
  color:gray;
  font-size: 12px;
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom:10px;
}
.greyBody{
  width: 100%;
  display: inline-block;
}
.no-matching{
  width: 100%;
  padding: 12px;
  font-size: 18px;
}
.flipkart-container{
  .pagebtn{
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: -49;
    font-size: smaller;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #717171;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

  }
  .pagebtn-success {
    color: #fff;
    background-color: #5BC0DE;
    border-color: #5BC0DE;
    font-weight: 600;
    background-image: #5BC0DE;
  }
}
