.results-number {
    color: $results-num-txt-col;
}

.border-light-grey {
    border: 1px solid $light-gray;
}

.gsr-white-box {
    @extend .border-light-grey;
    background-color: $white;
    .gsr-title {
        color: $results-title-col;
        font-size: 16px;
        font-weight: lighter;
    }
    .gsr-desc {
        color: $results-desc-col;
        a {
            color: $black;
        }
    }
}

.gsc-webResult .gsc-result {
    // padding: 15px !important;
    border: 1px solid;
    border-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .02);
}

ol#b_results li.b_ad {
    background-color: #fff;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
    background: url(images/Preloader_2.gif) center no-repeat #fff;
}

.gsc-result-info-container {
    background-color: #e4e4e4 !important;
}

.gsc-wrapper {
    position: relative;
    display: block;
    width: 70%;
}

.gsc-control-cse {
    background-color: #e4e4e4 !important;
    border: none !important;
}

.gsc-cursor-box {
    text-align: center !important;
}

.gsc-above-wrapper-area {
    width: 68% !important;
}

.gsc-cursor-page {
    background-color: #e4e4e4 !important;
}
