.search-landing-img{
  width: 240px;
}
.landing-search-btn{
      font-size: 14px;
}
.block-exp-img{
  width: 200px;
}
.landing-search-box{
  font-size: 14px;
  color: #555;
  width:100%;
  height:35px;
  border: 1px solid silver;
}

/* do not group these rules */
.landing-search-box::-webkit-input-placeholder {
    color: #a1a1a1 !important;
}
.landing-search-box:-moz-placeholder {
    /* FF 4-18 */
    color: #a1a1a1 !important;
}
.landing-search-box::-moz-placeholder {
    /* FF 19+ */
    color: #a1a1a1 !important;
}
.landing-search-box:-ms-input-placeholder {
    /* IE 10+ */
    color: #a1a1a1 !important;
}
.search-landing-thumbnails{
  img{
    height: 25px;
    padding: 3px 10px;
    cursor: pointer;
  }
  a:hover{
    text-decoration: none;
  }
}
.search-landing-buttons{
  cursor: pointer;
  a{
    text-decoration: none;
    color: $black;
    &:hover{
      cursor: pointer;
      text-decoration: none;
      color: $black;
    }
  }
}
.amazon-search-landing-form{
  float: left;
  width: 100%;
  margin-top: 72px;
}
.bitcoin-search-landing-form{
  float: left;
  width: 100%;
  margin-top: 82px;
}

.product-img-box{
  width:95px;
  height:100px;
  .product-img{
     width: 100%;
     padding: 5%;
     // height: 100%;
     height: 95px;
  }
}
.product-detail{
  width: Calc(100% - 100px);
  font-size: 12px;
}
.news-detail{
  font-size:13px;
}
.news-title{
  color:blue;
}
.news-by{
  color: green;
  font-size: 12px;
}
.landing-page-info-boxes{
  margin: 0 auto;
  width:75%;
  .card{
      max-width:250px;
      min-height:130px;
      font-size: 13px;
      a:hover{
        text-decoration: none;
        cursor: auto;
      }
  }
  .info-text{
    font-size: 13px;
  }
}
.widget-landing-img{
  padding: 3px 5px !important;
}
#my_form{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 20px;
  .main-search-box{
    width: 75%;
  }
  .main-search-button{
    width: 25%;
  }
}
#my_form.header-form{
  width: Calc(100% - 115px);
}
