/*===================================================
=            search_result_blockexplorer            =
===================================================*/

.search_result_blockexplorer {
    .table {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .02);
        font-family: arial;
        @extend .text-dark-gray;
        background: $white;
        font-size: 11px;
        thead {
            border-top: 1px solid lightgrey;
            th {
                background: rgb(243, 243, 243);
                color: #4C4B4B;
                border-bottom: 0;
                 font-weight: 600;
                font-size: 12px;
                text-align: center;
                &:first-child {
                    text-align: left;
                }
            }
        }
        td {
            border-color: #EAEAEA;
            &:nth-child(n+3) {
                color: #505050;
            }
            &:first-child,
            &:last-child {
                font-size: 14px;
                color: $light-blue;
            }
        }
        a {
            // color: $primary-blue;
            font-family: cursive;
        }
    }
}

.leftr{
	&:after{
		content:"";
		border-left:1px solid #EAEAEA;
		position:absolute;
		right:0px;
		height:54px;
		top:0px;
	}
}
.card-title-summary{
	color:#009EEB;
}
.transaction-summary-content{
	
	label{
		font-weight:bold;
		font-size:11px;
		padding-top:5px;
	}
	span{
		font-weight:bold;
		font-size:11px;
		color:#009EEB;
	}
	a{
		font-weight:bold;
		font-size:11px;
	}
	.row{
		margin:5px 0px;
	}
}

/*=====  End of search_result_blockexplorer  ======*/
