.search-categories{
  li{
    z-index: 1;
    a{
      color: black;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

#searchCategory{
  position: fixed;
  top: 45px;
  width: 100%;
  z-index: 2;
  background-color: #e4e4e4;
  img{
    width: 35px;
  top: -3px;
  position: relative;
  }
}
