/*============================================================
=            _search_result_blockexplorer_level_2            =
============================================================*/

.search_result_blockexplorer_level_2 {
    // .Segoe{font-family: '"Segoe UI","Microsoft YaHei" !important';}
    .leftheadd {
        color: #646565;
        background-color: #fafafa;
        text-align: center;
        .block_num {
            font-weight: bold;
        }
        .hashmain {
            font-size: 11px;
        }
    }
    .card-title {
        color: $deep-sky-blue;
        font-size: 15px;
        display: block;
    }
    tr {
        height: 1em;
        td {
            border-top: 0 !important; //!importatnt isn't required if we set 'search_result_blockexplorer_level_2' as an ID insted of class 
            padding: .3em 1em !important;//!importatnt isn't required if we set 'search_result_blockexplorer_level_2' as an ID insted of class 
        }
    }
    .Summery {
        table {
            width: 50%;
            float: left;
            // @extend .Segoe;
            font-size: 11px;
            font-weight: bold;
            margin: 1em 0 0 0;
            .text {
                &-green {
                    color: green;
                }
                &-red {
                    color: red;
                }
                &-blue {
                    color: $text-primary-blue;
                }
            }
            td {
                & + td {
                    color: $deep-sky-blue;
                }
            }
            & + table {
                border-left: solid 1px $light-gray;
            }
        }
    }
    .Transactions {
        .Transaction {
            border-top: solid 1px $light-gray;
            font-size: 11px;
            td:last-child {
                text-align: right;
                padding-right: 0!important;//!importatnt isn't required if we set 'search_result_blockexplorer_level_2' as an ID insted of class 
            }
            &-id {
                background: #f7f7f7;
                padding-left:.5em;
                padding-right:.5em;
                a {
                    color: $text-primary-blue;
                    font-size: 13px;
                }
                
            }
            &-From {
                position: relative;
                width: 36%;
                li {
                    height: 1.8em;
                    width: 200px;
    				overflow: hidden;
    				text-overflow: ellipsis;
                }
                .glyphicon-menu-right {
                    position: absolute;
                    right: -30px;
                    color: #8DC429;
                    font-size: 3em;
                }
            }
            &-To {
                width: 59.5%;
                .totalBTC,
                .Confirmations {
                    display: block;
                    // width: 100%;
                    a {
                        color: $white;
                    }
                    color: $white;
                }
                .totalBTC {
                    background: $deep-sky-blue;
                }
                .Confirmations {
                    background-color: #8DC429;
                }
            }
        }
        // .trTtl {}
    }
}


/*=====  End of _search_result_blockexplorer_level_2  ======*/
