/*=================================================
=            _searchresult_dailymotion            =
=================================================*/

@import "__video_search_results.scss";

/** not necessary to  @import "__video_search_results.scss";  it here as already imported in '_youtube_search.scss'*/

.search_result_dailymotion {
    @extend %video_search_results;
}

.search_result_dailymotion{
  .pagebtn{
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: -49;
    font-size: smaller;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #717171;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 5px;
  }
  .pagebtn-success {
    color: #fff;
    background-color: #5BC0DE;
    border-color: #5BC0DE;
    font-weight: 600;
    background-image: #5BC0DE;
  }
}
/*=====  End of _searchresult_dailymotion  ======*/
