/*==============================================
=            _search_result_bitcoin            =
==============================================*/

@import "__news_search_results.scss";

/** not necessary to  @import "__news_search_results.scss";  it here as already imported in '_stnews_search.scss'*/

.search_result_bitcoin {
    @extend %news_search_result;
    //
    //inline styles added after implementation gose below
    //
    .newsTitle, .news-title{
    	a:hover{
    		text-decoration:underline !important;  // used !important coz keywo_PHP / sass / components / text.scss

    	}
    }
 }


/*=====  End of _search_result_bitcoin  ======*/
