/*============================================
=            search_result_stnews            =
============================================*/

@import "__news_search_results.scss";
.search_result_stnews {
    @extend %news_search_result;
    //
    //inline styles added after implementation gose below
    //
    .result-found{
      color:gray;
      font-size: 12px;
      width: 100%;
      float: left;
      margin : 0px 40px;
    }

}


/*=====  End of search_result_stnews  ======*/
