#sticky-hd,.searchLeftTop, .searchBottom, .cardReg, #ft, .bdc, .bd, .compPagination, .searchSuperBottom, .xbkyo, #ee20, .zs92l1kyei, .first{
    display : none;
}
#sidebar{
    padding-top : 0px !important;
    top : 22px !important;
    background-color : #fff;
    display : none;
}
#right{
    display : none;
}
#results{
  float: left;
  padding-left: 20px !important;
  width: 100% !important;
}

#horizontal-bar{
  margin-top: 30px !important;
}
.first, .last{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02) !important;
}
.reg li {
    background-color: white;
    box-shadow: 1px 1px 5px -3px #6d6d6d;
    margin-top: 15px;
    padding: 20px;
    div{
      margin-top: 0px !important;
    }
    // border-bottom : 10px solid #f4f3f3;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02) !important;
}
#algo-bd .dd h3, #web .dd h3, .searchTop .dd h3 {
    font-size : 18px !important;
    color : #1020d0;
}
.lh-18, .fc-1st{
    font-size : 14px;
}
.poolHeaderData{
    font-size:14px;
}
#key0{
    font-size:14px;
}
#main{
      background-color: #e4e4e4 !important;
      border:none !important;
}
