/*---------searchResults-------------*/

@import "__video_search_results.scss";
.search_result_youtube {
    @extend %video_search_results;
    .card-img {
        min-height: 150px;
        img {
            width: 200px;
        }
           a {
            position: absolute;
        }
    }
    /*.youtube-no-result{
      width: 80%;
      margin-top: 2px;
      margin-left: 159px;
      margin:auto;
    }*/


}


/*---------searchResults END-------------*/
