 .bdrR
    {
       border-right:  solid 1px white;
    }
    #filteredTabs .active .bg-darkblue {
        background-color: #35ccf1;
    }

    #filteredTabs{
        margin-top: 15px;
    }


    #filter form[name="filter"] .countryToSearch button
    {
        background: none;
        border: 1px solid #ccc;
        text-indent: 1em;
        color: #b2b2b2;
        height: 34px;
        width: 268px;
        display: table-cell;
        -webkit-writing-mode: horizontal-tb;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none; 
    }

    .head-padding {
       padding-bottom: 18px !important;
   }
   
   .purpule-blue {
       color: #2928fd;
   }
   
   // .btn-bg {
   //     background-color: #027a98 !important;
   //     color: $white;
   // }

 // .btn:hover,
 // .btn:focus,
 // .btn.focus {
 //     // color: #fff;
 //     // text-decoration: none;
 // }

   
   .model-margin {
       margin-bottom: 6px;
   }

   .img-marginL
   {
    margin-left: 22px;
   }
   .bg-lightgray
   {
    background-color: #ebebeb;
    border-color:#ccc;
   }

//    .btn-size{
//     height:34px;
//     border: none;
//     width: 70px;
//     padding: 4px 12px;
//     border-radius:3px;
// }
// .btn-marginB{
// margin-bottom:18px;
// }

// .fa-sz
// {
//   font-size:23px;
// }


