$badgeSize: 39;
$transition: all 0s ease-in-out;
#manageUserTabs {
    margin-bottom: 20px;
    li {
        margin-right: -#{$badgeSize}px;
        &:not(:last-child) {
            padding-right: 15px;
        }
        a {
            padding-left: 5px;
            padding-right: #{$badgeSize + 5}px;
            background: $darkblue;
            color: $white;
            font-size: .9em;
            @media ( max-width:1366px) {
            font-size: .7em;                
            }
        }
        &.no-badge a {
            // padding:10px #{($badgeSize /2)+ 15}px;
            padding-right: 5px;
            padding-left: 5px;
        }
        .badge {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background: $lightBlue;
            // padding: 1em;
            width: #{$badgeSize}px;
            line-height: 2.8;
        }
        %manageUserTabsHover {
            background-color: $lightBlue;
            transition: $transition;
            &:after {
                font-family: FontAwesome;
                color: $lightBlue;
                content: "\f0d7";
                position: absolute;
                top: 60%;
                right: 50%;
                font-size: 2em;
                transition: $transition;
            }
            .badge {
                transition: $transition;
                background: $darkblue;
            }
        }
        & > a {
            // &,
            &:hover,
            &:focus {
                @extend %manageUserTabsHover;
            }
        }
        &.active > a {
            @extend %manageUserTabsHover;
        }
    }
}

%walletTable {
    // padding-top: 20px;
    table {
        border: solid 1px $lightBlue;
    }
    th {
        border-bottom: 0;
        text-align: left;
        &:nth-child(even) {
            // color: $lightBlue;
            padding-left:0;
            padding-right:0;
            text-align:center;           
        }
    }
    td {
        vertical-align: middle;
        border-bottom: solid 1px $lightBlue2;
        border-top: none;
        text-align: left;
        a {
            color: $black;
        }
        &:not(:last-child) {
            border-right: solid 1px $lightBlue2;
        }
    }
    tr:last-child {
        background: $lightBlue2;
        // border-bottom: solid 1px $lightBlue;
        td {
            border-bottom: solid 1px $lightBlue;
        }
    }
}

#userDebitDetails {
    @extend %walletTable;
    table {}
    th {
        padding-left: 5%;
        &:nth-child(even) {
            // text-align: right;
            // padding-right: 10%;
        }
    }
    td {
        padding-left: 5%;
        a {}
        &:not(:last-child) {}
           &:nth-child(even) {
                color: $lightBlue;
                text-align: right;
                // padding-right: 10%;
                padding-left: 0;
                padding-right:5%;
            }
    }
    tr:last-child {
        td {}
    }
    // tr:nth-child(1) {
    //     td:nth-child(-n+2) {
    //         background: $lightBlue2;
    //         color: $darkblue;
         
    //     }
    // }
    td.active{

            background: $lightBlue2;
            color: $darkblue;         
            }
}

#debitPanel {
    @extend %walletTable;
    table {}
    th {
        text-align: center;
        padding: 20px 0;
        &:nth-child(even) {

        }
        &:not(:last-child) {
            border-right: solid 1px $lightBlue2;
        }
    }
    td {
        // padding-left: 5%;
        text-align: center;
        .date{
            width: 100%;
            text-align: center;
            display: block;
            font-size: .8em;
            color: lighten($gray, 50%);

        }
        time{
            color: $lightBlue;

        }
        a {}
        &:not(:last-child) {}
    }
    tr:last-child {
        td {
            color: $darkblue;
        }
    }
}
