
 
 #userAnalitics {
     margin-top: 15px;
     table {
         border: solid 1px $blue;
     }
     tr {
         td {
             vertical-align: middle;
             // text-align: center;
             border-top: none;
             &:not(:last-child) {
                 border-right: solid 1px $blue;
             }
         }
         &:first-child {
             background: $lightBlue;
             color: $white;
         }
         &:nth-child(2) {
             background: $lightBlue1;
             color: $blue;
         }
         &:not(:nth-child(-n+2)) td {
             color: $green;
             &:nth-child(n+2):nth-child(-n+3) {
                 color: $red;
             }
         }
     }
 }

  #filter {
     form[name="filter"] {
         button {
             background-color: $lightBlue;
         }
         .btn-group {
             button {
                 background: $red;
                 color: $white;
             }
         }
     }
 }

 #userList {
     margin-top: 15px;
     table {
         border: solid 1px $lightBlue;
     }
     th {
         text-align: center;
         
         color: $white;
         border-bottom: none;
         &:not(:last-child) {
             border-right: solid 1px $lightBlue2;
         }
     }
     td {
     	vertical-align: middle;
         &:not(:last-child) {
             border-right: solid 1px $lightBlue2;
         }
     }
 }
 

 /*----------  styling check-box  ----------*/
 
 label {
     display: inline;
     // font-family: FontAwesome;
 }
 
 .user_checkbox,
 #select_all {
     display: none;
 }
 
 #select_all + label,
 .user_checkbox + label {
     padding: 9px;
     display: inline-block;
     position: relative;
     margin-top: 7px;
 }
  #select_all + label{
  	padding-bottom:0;

  }
 
 .user_checkbox + label:after,
 #select_all + label:after {
     // content: '\2714';
     content: "\f096";
     font-size: 14px;
     position: absolute;
     top: 0px;
     left: 3px;
     color: $darkblue;
 }
 
 #select_all + label:after {
     color: $white;
 }
 
 .user_checkbox:checked + label:after,
 #select_all:checked + label:after {
     // content: '\2714';
     content: "\f14a";
     font-size: 14px;
     position: absolute;
     top: 0px;
     left: 3px;
     color: $darkblue;
 }
 #select_all:checked + label:after{
     color: $white;

 }
 /*----------  styling check-box  END ----------*/
 .pagination{
 	margin:0; 
 	li {
 		a{
 			color: $black;
 			border-width:0 1px;
 			background: lighten($black, 75%)
 		}
	 	&:first-child, &:last-child {
	 	 	a {
	 	 		color: $blue;	
	 	 	 	background: $lightBlue2;
	 	 	}
	 	}
	 }

 }
 @import "_manageUserWallet";
