.bootstrap-select {
    // max-width: 112px;
    // width: 112px !important;
    width:100%; // paraent lable width will be consoidered
    float: right !important;
    &,
    &.open {
        .dropdown-toggle {
            height: 34px;
            padding: 1px 12px;
            &,
            &:hover,
            &:focus {
                border: solid 1px #ccc !important;
                background: $lightGray1;
                box-shadow: none;
                color: $blue;
                outline: 1px solid transparent;
                border-radius: 0;
            }
            .filter-option {
                color: $black;
            }
            .bs-caret {
                
                .caret {
                    top:35%;
                    right: 2em;
                    color: $black;
                    border: none;
                    display: inline-block;
                    font: normal normal normal 20px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    &:after {
                        content: "";
                    }
                }
            }
        }
        .dropdown-menu.open {
            padding: 0;
            border: solid 1px #ccc;
            margin-top: -1px;
            border-radius: 0;
            .dropdown-menu.inner {
                li {
                    // height: 30px;
                    // padding: 3px 0;
                    border-bottom: solid 1px #ccc;
                    &.selected {
                        display: none;
                    }
                    a {
                        color: $gray;
                        padding: 6px 12px;
                        &:focus {
                            background-color: transparent;
                            // border: 0px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    // .materialize & {
    //     min-width: 300px;
    //     border: none;
    //     border-bottom: solid 1px $blue;
    //     &,
    //     &.open {
    //         .dropdown-toggle {
    //             height: 30px;
    //             padding: 1px 12px;
    //             &,
    //             &:hover,
    //             &:focus {
    //                 border: none !important;
    //             }
    //         }
    //     }
    // }
}
