//**********************************************************************
//**********************************************************************
//
//          PSEUDO CODE MARKUP
//                          
//**********************************************************************
//**********************************************************************
//
//  <div class="checkbox checkbox--1">
//     <label>
//         <input type="checkbox" value=""> Label
//         <i class="fa fa-checkbox--1"> </i>
//     </label>
// </div>
// 
//----------------------------------------------------------------------
// 
// appearance is similar to already used check-box.
// 
// 
.checkbox--1 {
    label {
        position: relative;
    }
    .fa-checkbox--1 {
        &::before {
            content: "\f096";
            position: absolute;
            top: 0px;
            left: 0px;
            color: #027a98;
        }
    }
    input {
        display: none;
        &:checked + .fa-checkbox--1::before {
            content: "\f14a";
        }
    }
}

//**********************************************************************
//**********************************************************************
//
//          PSEUDO CODE MARKUP
//                          
//**********************************************************************
//**********************************************************************
//----------------------------------------------------------------------
// 
// 
// 
.checkbox--2 {
    // padding-left:2.2em;
    .fa-checkbox--2 {
        &::before {
            content: "\f096";
            position: absolute;
            top: 1.4em;
            right: 2em;
            color: $input-color;
        }
    }
    input {
        display: none;
        &:checked + .fa-checkbox--2::before {
            content: "\f14a";
            color: $state-success-text;
        }
    }
}

.alert-default {
    @include alert-variant(#eee, #ccc ,$input-color);
}
