//**********************************************************************
//**********************************************************************
//
// 			IF DESIGN IS IN PROPER GRID, THIS FILE HAS NO USE. 
//
//********************************************************************** 
//********************************************************************** 
//

/**
 * To use with width assigned class.
 * To use insted of Bootstraps column in case 
 * we want userdefined width. 
 * 
 */

//**********************************************************************
//**********************************************************************
//
//          PSEUDO CODE MARKUP
//                          
//**********************************************************************
//**********************************************************************
//
// <div class="col {custom width specified classname}">
//    ...
// </div>
// 
//----------------------------------------------------------------------
$space:15;
.col {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
    float: left;
    position: relative;
    min-height: 1px;
}


/*=====================================================
=            /admin/view/acl/_mg_popup.php            =
=====================================================*/

.col-135 {
    width: 135px;
    max-width: 135px;
}

.col-355 {
    width: 335px;
    max-width: 335px;
}


/*=====  End of /admin/view/acl/_mg_popup.php  ======*/

.col-145
{
	width:145px ;
    max-width:145px ;
}

.col-120
{
	width:120px ;
    max-width:120px ;
}

.col-125
{
	width:125px ;
    max-width:125px ;
}
.col-190
{
	width:190px ;
    max-width:190px ;
}
.col-210
{
	width:210px ;
    max-width:210px ;
}
.col-461
{
 width: 461px ;
 max-width: 461px ;
}

