.input-group {
    .form-control {
        border-left: none;
        border-right: none;
        &:first-child {
            border-left: solid 1px $lightGray;
            &:focus {
                border-left: solid 1px #66afe9;
            }
        }
        &:last-child {
            border-right: solid 1px $lightGray;
            &:focus {
                border-left: solid 1px #66afe9;
            }
        }
    }
}
