/*=============================
=            modals            =
=============================*/


/*========================================================
=            started on acount control module            =
========================================================*/

//**********************************************************************************************************************************************
//**********************************************************************************************************************************************
//
//          PSEUDO CODE MARKUP
//                          
//**********************************************************************************************************************************************
//**********************************************************************************************************************************************
//
// <div class="modal madal--1 fade" id="modal-id">
//     <div class="modal-dialog">
//         <div class="modal-content">
//             <div class="modal-header">
//                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-close"></i> </button>
//                 <h4 class="modal-title">Title</h4>
//             </div>
//             <form class="form-horizontal">
//                 <div class="modal-body">
//                     <div class="form-group m-b-0">
//                         <label for="" class="col-sm-3 control-label p-r-0">Label:</label>
//                         <div class="col-sm-9">
//                             <input type="text" class="form-control" id="" placeholder="" required>
//                         </div>
//                     </div>
//                 </div>
//                 <div class="modal-footer">
//                     <button type="button" class="btn btn-sm bg-transparent border-default-border" data-dismiss="modal">Submit</button>
//                     <button type="button" class="btn btn-sm bg-transparent border-default-border">Cancel</button>
//                 </div>
//             </form>
//         </div>
//     </div>
// </div>
//---------------------------------------------------------------------------------------------------------------------------------------------
// 
.madal--1 {
    .modal-dialog {
        // width: 490px !important;
        width: 490px;
        margin-top: 100px;
        .modal-content {
            box-shadow: none;
            border: none;
        }
        .modal-header {
            background: $darkblue;
            color: $white;
            padding: 5px 15px;
            .close {
                opacity: 1;
                padding-top: 0.2em;
                .fa-close {
                    color: $white;
                }
            }
        }
        .close {}
    }
}

//
//**********************************************************************************************************************************************
// 

/*=====  End of started on acount control module  ======*/


/****************for moadl by dinesh ***********/

.ModalHeaderBackground {
    background: #35ccf1;
}

.CustomPaddingModal {
    padding: 30px;
}


/****************for moadl by dinesh ***********/


/*----------  onother modal defined in _QueryTicket.scss  ----------*/

%monthpiker {
    .month-picker-header {
        margin: 0;
    }
    .month-picker-year-table {
        width: 100%;
        tr:first-child {
            * {
                background: #d1d9dc;
                color: #333;
            }
        }
        .ui-button .ui-icon {
            background-image: none;
        }
        .ui-icon-circle-triangle-w,
        .ui-icon-circle-triangle-e {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            // color: red;
            text-indent: 0;
            &:before {
                padding: 10px;
            }
        }
        .ui-icon-circle-triangle-e {
            &:before {
                content: "\f105";
            }
        }
        .ui-icon-circle-triangle-w {
            &:before {
                content: "\f104";
            }
        }
    }
    .month-picker-month-table .ui-button {
        margin: 0;
    }
    .month-picker-month-table {
        width: 100%;
        td {
            border: 1px solid #f1f1f1;
        }
    }
    .ui-corner-all {
        border-radius: 0 !important;
        background: $white;
        width: 100%;
        border: none;
        color: #666 !important;
    }
    .ui-state-active {
        color: $blue !important;
    }
}

.month-picker {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    .month-picker-header {
        margin: 0;
    }
    .month-picker-year-table {
        width: 100%;
        tr:first-child {
            * {
                background: #d1d9dc;
                color: #333;
            }
        }
        .ui-button .ui-icon {
            background-image: none;
        }
        .ui-icon-circle-triangle-w,
        .ui-icon-circle-triangle-e {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            // color: red;
            text-indent: 0;
            &:before {
                padding: 10px;
            }
        }
        .ui-icon-circle-triangle-e {
            &:before {
                content: "\f105";
            }
        }
        .ui-icon-circle-triangle-w {
            &:before {
                content: "\f104";
            }
        }
    }
    .ui-corner-all {
        border-radius: 0 !important;
        background: $white;
        width: 100%;
        border: none;
        color: #666 !important;
        &:hover {
            border: none;
        }
    }
    .month-picker-month-table {
        width: 100%;
        td {
            border: 1px solid #f1f1f1;
        }
    }
    .ui-state-highlight {
        border: none !important;
    }
}

.madal--monthpicker {
    .modal-dialog {
        width: 235px !important;
        .modal-content {
            // border-radius: 0;x
            .modal-header {
                // height: 30px;
                // padding: 6px 10px;
                h4 {
                    // line-height: 1
                }
                .close {
                    // opacity: 1;
                    // color: #fff;
                    // margin-top: -2px;
                }
            }
            @extend %monthpiker;
            .month-picker-year-table {
                // width: 100%;
            }
            .month-picker-month-table {
                // width: 100%;
            }
            .ui-corner-all {
                // width: 100%;
            }
            .modal-footer {
                padding: 10px 42px;
                border-top: none;
                .btn {
                    font-size: 14px;
                    height: 24px;
                    padding: 2px 15px;
                }
            }
        }
    }
}


/*=====  End of modals  ======*/
