.radio {
    padding-left: 20px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    input[type="radio"] {
        opacity: 0;
        position: absolute;
        margin-top: 4px\9;
        margin-left: -20px;
        margin: 4px 0 0;
        line-height: normal;
        box-sizing: border-box;
        padding: 0;
    }
    label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
        padding-right: 10px;
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
        max-width: 100%;
    }
}

.radio-div {
    display: inline-block;

}

.radio-primary input[type="radio"] {
    &+ label::before {
        position: absolute;
        display: inline-block;
        content: "";
        // 
        width: 15px;
        height: 15px;
        top: 3px;
        // 
        border: 2px solid  $black;
        background-color: transparent;
        margin-left: -20px;
        border-radius: 50%;
    }
    &+ label::after {
        position: absolute;
        display: inline-block;
        content: " ";
        // 
        width: 5px;
        height: 5px;
        left: 5px;
        top: 8px;
        // 
        border: 2px solid  $black;
        background-color: transparent;
        border-radius: 50%;
        // 
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    &:checked + label::before {
        
        border: 2px solid $blue;
    }
    &:checked + label::after {
        background: $blue;
        // background-color: #428bca;
        transform: scale(1, 1);
        border: 2px solid $blue;
        width: 5px;
        height: 5px;
        // left: 5px;
        // top: 8px;
        // background-color: transparent;
    }
}
