//<label class="dropdownOptions">
//    <select id="paymentType" class="form-control" style=" width: 145px;">
//        <option value="" disabled="" selected=""> Payment Modes</option>
//        <option value="Bitcoin" =""="">Bitcoin</option>
//        <option value="Wallet">Wallet</option>
//        <option value="Paypal">Paypal</option>
//        <option value="all">All</option>
//    </select>
//</label>
//
//<label class="dropdownOptions">
//     <select class="form-control">
//         <option value="USD" selected>USD</option>
//         <option value="SGD">SGD</option>
//         <option value="BTC">BTC</option>
//         <option value="ITD">ITD</option>
//     </select>
//</label>
label.dropdownOptions {
    display: block;
    position: relative;
    margin-bottom: 0;
    &:after {
        content: "\f078";
        font-family: "FontAwesome";
        font-size: 10px;
        color: #aaa;
        right: 12px;
        top: 10px;
        padding: 0 0 1px;
        position: absolute;
        pointer-events: none;
    }
    select {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: white;
        color: #999;
        font-weight: 100;
        /*width: 175px;*/
    }
}

//<div class="input-group styled-select pull-right">
//    <select id="" style="{width: 100px}";> {.form control}
//        <option value="" disabled>Status</option>
//        <option value="Approved"> Approved</option>
//        <option value="Rejected"> Rejected</option>
//        <option value="Pending" selected> Pending</option>
//        <option value="Hold"> Hold</option>
//        <!-- <option value=""> All</option>-->
//    </select>
//    <span class="input-group-addon"><i class="fa fa-angle-down"></i></span>
//</div>
.styled-select {
    // width:100%;
    select {
        border: 1px solid #ccc;
        text-indent: 1em;
        color: lighten($gray, 40%);
        // font-size: 16px;
        height: 34px;
        width: 268px;
        // width: 100%;
        display: table-cell;
        -webkit-writing-mode: horizontal-tb;
        background: transparent;
        // border-color: rgb(169, 169, 169);
        border-width: 1px;
        // to hide caret
        margin-right: -34px !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
    }
}


/**
 * <div class="col-xs-6">
 *     <div class="input-group chosen-select--1">
 *          <select data-placeholder="Choose a Country..." class="chosen-select">
 *          </select>
 *     </div>
 * </div>
 *
 *
 * 
 */

.chosen {
    &-select--1 {
        width: 100%;
        &-container {
            width: 100% !important;
        }
    }
}
