//**********************************************************************************************************************************************
//**********************************************************************************************************************************************
//
//          PSEUDO CODE MARKUP
//                          
//**********************************************************************************************************************************************
//**********************************************************************************************************************************************
//
//  <div class="col-sm-12">
//     <div role="tabpanel">
//         <ul class="nav nav-pills nav-justified nav-pills--1" role="tablist">
//             <li role="presentation" class="active">
//                 <a href="one" role="tab" data-toggle="tab">one </a>
//             </li>
//             <li role="presentation">
//                 <a href="two" role="tab" data-toggle="tab">Two</a>
//             </li>
//             <li role="presentation">
//                 <a href="three" role="tab" data-toggle="tab">Three</a>
//             </li>
//         </ul>
//         <div class="tab-content">
//             <div role="tabpanel" class="tab-pane active" id="one">...</div>
//             <div role="tabpanel" class="tab-pane" id="two">...</div>
//             <div role="tabpanel" class="tab-pane" id="three">...</div>
//         </div>
//     </div>
// </div>
// 
//---------------------------------------------------------------------------------------------------------------------------------------------
// 
.nav-pills--1 {
    li {
        &:not(:last-child) {
            border-right: solid 1px $white;
        }
        a {
            background: $darkblue;
            color: $white;
            &:hover,
            &:focus {
                background: darken($lightBlue, 20%);
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus {
                cursor: default;
                background: $lightBlue;
            }
        }
    }
}
/*******************************************************************************************************************************/

/*-----------------------------------------------------------------------------





-------------------------------------------------------------------------------*/

.nav.nav-tabs.tabs-styled {
    margin: 0 -15px;
    border-bottom: solid 1px $lightBlue2;
    li {
        &.active > a {
            &,
            &:hover,
            &:focus {
                // color: $nav-tabs-active-link-hover-color; 
                // background-color: $nav-tabs-active-link-hover-bg; 
                // border: 1pxsolid $nav-tabs-active-link-hover-border-color; 
                // border:none;
                border: 1px solid transparent;
                border-bottom-color: $lightBlue2;
                cursor: default;
            }
        }
    }
}
