.table--lightBlue2 {
    // border: solid 1px $lightBlue;
    // th {
    //     text-align: center;
    //     color: $white;
    //     border-bottom: none;
    //     &:not(:last-child) {
    //         border-right: solid 1px $lightBlue2;
    //     }
    // }
    // td {
    //     text-align: center;
    //     vertical-align: middle;
    //     &:not(:last-child) {
    //         border-right: solid 1px $lightBlue2;
    //     }
    // }
}

.table {
    .timestamp{
        .date {
            width: 100%;
            text-align: center;
            display: block;
            font-size: .8em;
            color: #cccccc;
        }
        time {
            color: $lightBlue;
        }
    }
}

.table--lightBlue2 {
    table {
        @include setTable( //
        $TblBdrColr: $lightBlue, // Tables default border color
        $THBG: $lightBlue, // thead bg
        $th-y-bdr-Colr: $lightGray1, //
        $td-x-bdr-Colr: $lightBlue2, //
        $td-y-bdr-Colr: $lightGray1, //
        $THPD-tb: 10px, //
        $TDPD-tb: 10px //
        );
        // tbody{
        //     tr{
        //         td:first-child{
        //             border-left:1px solid #
        //         }
        //     }
        // }
    }
}

.table--blue {
    table {
        @include setTable( //
        $TblBdrColr: $blue, // Tables default border color
        $THBG: $blue, // thead bg
        $th-y-bdr-Colr: $lightGray1, //
        $td-x-bdr-Colr: $lightBlue2, //
        $td-y-bdr-Colr: $lightGray1, //
        $THPD-tb: 10px, //
        $TDPD-tb: 10px //
        );
    }
}

// .dashboard--lightblue
// table{
//      tr {th {
//             border: #35ccf1 solid 1px !important;
//             }
//      }
