.title {
    .dropdownOptions {
        // -webkit-appearance: menulist;
        border: none;
        margin-bottom: 0;
        select {
            box-shadow: none;
            width: 218px;
            border: solid 1px lighten($black, 75%);
            border-radius: 5px;
            color: $lightBlue;
        }
        &:after {
            content: "\f0d7";
            font-family: "FontAwesome";
            font-size: 10px;
            color: #aaa;
            right: 12px;
            top: 10px;
            padding: 0 0 1px;
            position: absolute;
            pointer-events: none;
        }
    }
    border-bottom: solid 1px $lightBlue2;
    padding: 7px 15px;
    margin: 0 -15px;
    h1 {
        margin: 0;
        // text-indent: .6em;
        font-size: 24px;
        color: $lightBlue;
        line-height: 1.4;
        + span {
            color: lighten($black, 50%);
            padding: 9px 10px 0;
            display: inline-block;
            &::before {
                // display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                // text-rendering: auto;
                // -webkit-font-smoothing: antialiased;
                content: "  ";
            }
        }
    }
    .btn {
        color: $lightBlue;
        text-align: left;
        width: 218px;
        border: solid 1px lighten($black, 75%);
        border-radius: 5px;
        .caret {
            float: right;
            margin-top: .5em;
            // border-color:$black;
            color: $black;
        }
    }
}
