#feesAndCommission {
    margin-top: 15px;
    table {
        @include setTable($lightBlue, $lightBlue, $lightBlue2, $lightBlue2, 13px, $THPD-tb:10px, $TDPD-tb:3px);
        width: 100%;
        // border: solid 1px $lightBlue;
        th {
            line-height: 1;
            font-size: 20px;
        }
        td {
            padding-top: 5px;
            padding-bottom: 5px;
            &:nth-child(3) {
                border-right: none !important;
            }
            &:last-child {
                text-align: right;
                button {
                    color: $lightBlue;
                }
            }
        }
    }
}

@import "_keywordslabsettings";
