%referral-btn {
    padding: 2px 10px;
    line-height: 1.2;
    // width: 58px;
}


/*==================================================
=            for coloring social button            =
==================================================*/

@mixin shareButton($btnColor) {
    width: 82px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px -2px #6d6d6d;
    .input-group-addon {
        // border:none;
        background: $btnColor;
        border-color: $btnColor;
        // box-shadow: 1px 1px 5px -2px #6d6d6d;
    }
    .btn {
        color: $btnColor;
        background: scale-color($btnColor, $lightness: 90%);
        border-color: scale-color($btnColor, $lightness: 90%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        // border:none;
        // box-shadow: 1px 1px 5px -2px #6d6d6d;
    }
}


/*=====  End of for coloring social button  ======*/

.RZ1 {
    .referral {
        .table {
            >thead {
                >tr {
                    >th {
                        padding: 5px 10px;
                        line-height: 1.5;
                        border: none;
                    }
                }
            }
            >tbody {
                >tr {
                    &:first-child {
                        td {
                            padding-top: 17px;
                        }
                    }
                    >td {
                        border-top: 1px transparent;
                        line-height: 1.5;
                        padding: 4px 10px;
                    }
                }
            }
        }
        hr {
            border-color: #d9dbdc;
        }
        ul {}
        &-heading {}
        &-heading_info {
            width: 732px;
            margin: 0 auto;
            float: none;
        }
        // 
        .input-group {
            // box-shadow: 1px 1px 5px -2px #6d6d6d;
        }
        .input-group-addon {
            padding: 3px;
            .fa {
                color: $white;
            }
        }
        .btn {
            @extend %referral-btn;
        }
        &-url {}
        &-url_userInput {
            width: 320px;
            box-shadow: none;
            input {
                border-right: none;
                box-shadow: none;
                border: none;
            }
            .input-group-addon {
                border: none;
                padding: 6px;
                .fa {
                    color: $blue;
                }
            }
        }
        &-url_facebook {
            @include shareButton($facebook);
        }
        &-url_twitter {
            @include shareButton($twitter);
        }
        &-url_linkedin {
            @include shareButton($linkedIn);
        }
        // 
        // 
        &-code {
            .btn {
                @extend %referral-btn;
            }
        }
        &-code_userInput {
            width: 320px;
            input {
                border-right: none;
                box-shadow: none;
                border: none;
            }
            .input-group-addon {
                border: none;
                padding: 6px;
                .fa {
                    color: $blue;
                }
            }
        }
        &-url_google {
            @include shareButton($googlePluse);
        }
        &-url_envelope {
            @include shareButton($outlook);
        }
        &-url_yahoo {
            @include shareButton($yahoo);
        }
    }
    &-table {}
    .search_section {}
    .keyword_section {}
    .post_section {
        footer {
            // height: 30px
        }
    }
}
