.RZ3 {
    .panel {
        border-radius: 0;
    }
    .Email_panel {
        width: 510px;
        margin: 0 auto;
        float: none;
    }
    button {
        padding: 3px 10px;
        line-height: 1;
    }
}
