.left-card{
  height:600px;
}
.profile-picture-div{
  height:130px;
}
.profile-pic{
  border-radius: 50%;
  border: 1px solid #03A9F4;
}
.user-name{
  font-size: 16px;
}
.user-glad{
  color: #a4a4a4;
  font-size: 13px;
}
.upload-profile-pic{
  color:#659cbb;
  cursor: pointer;
  font-size: 13px;
}
.profile-detail-wrapper{
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
  .title{
    font-size: 17px;
    color: $blue;
  }
}
.user-detail-form{
  label{
    font-weight: normal;
    font-size: 15px;
    color: #4f5054;
  }
  input{
    line-height: 1.2;
    width: 100%;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
  }
  .add-btn{
  	font-size: 11px;
    font-weight: 600;
    position: absolute;
    right: 17px;
    top: 5px;
    color: $blue;
    cursor: pointer;
  }
  .rem-btn{
    position: absolute;
    right: 15px;
    color: red;
    cursor: pointer;
    line-height: 1.7;
    top:auto;
  }
  .calendar-icon{
    color: $blue;
    float: left;
    font-size: 17px;
    top: 3px;
    cursor: pointer;
  }
  .date-input-field{
    width: 85px;
    border: none;
    float: left;
  }
  .more-detail{
      a{
        color: #629dbd;
      }

  }
}
