body {
    background-color: $light-gray;
}

.forgot-container {
    width: 1170px;
}

.main-head {
    color: $light-blue;
    padding-top: 14px;
}

.cross-icon {
    float: right;
    color: $gray;
}

.main-desc {
    font-size: 15px;
    color: $gray;
    text-align: center;
}

.form-inline {
    margin-bottom: 21px;
}

.input-group-addon {
    border-left: 0;
}

.email-label {
    margin-left: 35px;
    font-weight: normal;
}

hr {
    margin-top: 4px;
    margin-bottom: 7px;
}

a {
    color: $light-blue;
}

.input-group-addon {
    color: $gray;
    background-color: $white;
}

.submit-password:hover {
    color: $light-blue;
    text-decoration: none;
}

.forgot-group {
    width: 100%;
}

.forgot-email-input {
    width: 100%;
    background: none;
}

.main-forget-pass {
    background-color: white;
    width: 70%;
    margin: 0px auto;
    margin-top: 150px;
    padding-bottom: 20px;
}

.forgot-email-icons {
    position: relative;
}

.forgot-password-icons i,
.forgot-email-icons i {
    position: absolute;
    top: 9px;
    right: 7px;
    color: #8f8f8f;
}

.flex-box {
    display: flex;
    align-items: center;
}

.header-margin {
    margin-top: 0px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid #eee;
}
.password-field
{
    border: none;
}
