.user_login_form{
  .form-control{
    border-radius: 0px;
  }
  .label_login_username,.label_login_password{
    font-weight: 100;
  }
  #loginLink{
    width:32px;
    height:32px;
    background: url("../images/right-arrow.png");
    border: 0;
    display: block;
    outline: none;
  }
}
.content-login{
  position: relative;
  width: 100%;
  height: 100%;

}
.content2{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.logintitle {
    font-size: 14px;
    color:$text-primary-blue;
    text-align: left;
    margin-left: 19px;
    font-weight: 600;

}

.loginpage{
    margin-top: 10%;
    background-color: white;
    border: 1px solid #e3e3e3;
    text-align: center;
    //color:$primary-blue;

}
.labellogin{
  font-weight: normal;
}

.input_backcolor {
    //background-color: #f8f2ff;
    border: 1px solid #d3d3d3;
    width: 30%;
    text-indent: 10px;
  }
.margin-bottom{
	margin-bottom: 20px;
}


  .login-signbutton {
      color: $text-primary-blue;
      background-color: #f6fbfc;
      font-size: 13px;
      border: none;
      cursor: pointer;
      height: auto;
      border-radius: 4px;
      display: initial;
      padding: 3px 5px;
      text-decoration: none !important;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
      &:hover{
        text-decoration: none;
      }
}

.input_label{

	width: 15%;
	color: #383d42;
	font-size: 90%;
  font-weight: 600;
}
.border_title_bottom{
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
}

.input_box{
  height: 5%;
  background-color: #f7f7f7;
}
.active_link p{
  text-align: center;
  color:$Arapawa;
}
.active_link a{
  color:$text-primary-blue;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 600;

}
.active_link a:hover{
  color:#043550;
}
