.prelogin_header{
	height:auto;
  background-color:#0b628f;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 8;
	.label_login_username,
	.label_login_password{
		font-size: 12px;
	}
	.form-control{
		border-radius: 1px;
		height:30px;
	}
}
.keywo-logo{
  display: block;
    img{
      position: relative;
      top:10px;
    }
}

.forgot-Password-font{
  font-size: 13px;
  a{
    &:hover,&:focus{
      color: $white;
    }
  }
}
.submit-arrow{
	border-radius: 50%;
	padding: 7px 9px;
	background-color: white;
	font-size: 20px;
}

.card{
	background-color: white;
	box-shadow: 1px 1px 5px -3px #6d6d6d;

}
.register-block{
	height: 490px;
	.form-control-feedback{
		right: 7px;
	}
}

.keywo_tagline_heading{
	margin-bottom: 20px;
  font-size: 29px;
  font-family: arialbold;
}

.content_title{
  color: $blue;
  font-size: 16px;
  font-family: robotoregular;
}

.content_para{
	color: $light-black;
	font-size: 16px;
}



.prelogin_invest_keyword{
	h3{
		font-weight: bold;
	}
}

.number-info{
	display: inline-block;
    padding: 5px 5px;
    background-color: #c8dce5;
    text-align: center;
    margin: 0px 10px;
    box-shadow: 1px 1px 4px 0px grey;
    width: 150px;
		color: #0b5175;
		font-weight: 600;
		&:hover{
			.number-text{
				background-color: #0b5175;
			}
		}
	.number-text{
		padding: 5px 20px;
		margin: 0;
		color: white;
		margin-bottom: 10px;
		background-color: #498fb3;
	}
}
.registration{
	.register-form-input{
		background-color: #E3E1E2;
	    border-radius: 0;
	    height: 30px;
      box-shadow: none;
	}
	.register-form-input::-webkit-input-placeholder{
		color: #6D6B6C;
		font-size: 12px;
	}
	.form-title{
		text-align: center;
		h2{
			font-size: 18px;
			text-align: center;
			margin-top: 5px;
			color: #046486;
			font-weight: 600;
		}
	}

	form #agree + i.glyphicon{
		top:-7px;
		right:31px;
	}
	.select-input{
	width: 100%;
    text-indent: 8px;
    font-size: 12px;
    color: #555;
	background-color: #E3E1E2;
    border-radius: 0;
    height: 25px;
    box-shadow: none;
    padding: 0px;
	}

	.captcha{
		height:65px;
	}
	.radio-div{
		margin:0px;
	}
	.chosen-container-single{
		.chosen-single{
			height:30px;
			border-radius:0px;
			background:#E3E1E2;
			line-height: 2.3;
		}
	}
  .agreeCheckbox{
    display: inline-block;
    margin-top: 2px;
    margin-right: 5px;
    float: left;

  }
  .agreeText{
    display: inline;
    color: $blue;
    font-size: 13px;
    float: left;
    &:hover{
      cursor: pointer;
    }
  }

  .g-recaptcha{
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
.how-to-earn{
	text-align: center;
	font-weight: 600;
}
.earn-feature-span{
	font-weight: 600;
	font-size: 24px;
  display:block;
}
.how-to-span{
	font-size: 19px;
	color: #27799b;
	line-height: 1.5;
}
.earn-li a{
	color: black;
	cursor: pointer;
  border-radius: 4px !important;
  padding: 4px 10px !important;
  font-size: 17px;
}
.top-block, .middle-block{
	margin-bottom: 30px;
}

.resend_activation_link{
	font-family: "arialregular";
}

.prelogin-carousel{
  .thumbnail{
    margin-bottom: 0px;
    h4{
      text-align: center;
    }
		img{
			height: 420px;
		}
  }
  a{
    color: $blue;
    text-decoration: none;
    border: none;
    border-radius :0px;
  }
}
.has-success-color{
  border: 1px solid green;
}
.has-error-color{
  border: 1px solid red;
}
.glyphicon-success-color{
  display: block;
  color: green !important;
  height: 30px !important;
  top: -3px !important;
	right: 0px !important;
}
.has-padding{
  padding: 0px;
}

.glyphicon-error-color{
  display: block;
  color: #0b628f !important;
  height: 14px !important;
  width: 14px !important;
  top: 7px;
  right: 5px;
}
.error-cross{
  display: block;
  color: #a94442 !important;
  height: 30px !important;
  top: -3px !important;
  right: 7px !important;
}
.email-fa-error{
    display: block;
    color: #0b628f !important;
    height: 14px !important;
    width: 14px !important;
    top: 7px;
    right: 5px;
}
.has-loader{
  border: 1px solid #0c638f !important;
}
.side-left{
  width: 85%;
}
.list-selected{
  background-color: white !important;
  font-weight: 600;

}
.caro_ribbon{
	background-color:white;
	color : #555;
}
.index-arrow-right-2 {
	position: absolute;
    right: -40px;
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 40px solid white;
    top: 0;
    z-index: 3;
}
.index-arrow-right-1 {
	position: absolute;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 50px solid #e4e4e4;
    top: -8px;
    z-index: 2;
}
#index-carousel{
	#index-carousel-inner{
		width:50% !important;
	}
}
.index-carousel-indicators{
	position:relative !important;
	width:100% !important;
	margin-left:0 !important;
	z-index:2 !important;
	left:0 !important;
	li{
		width:33% !important;
		text-indent:0 !important;
		border:none !important;
		height:auto !important;
		margin:0 !important;
		border-radius:0 !important;
		position:relative !important;
		&.active{
			.caro_ribbon{
				background-color:#0b628f;
				color:white;
			}
			.index-arrow-right-2{
				border-left: 40px solid #0b628f;
			}
		}
	}
	
}
.summary-box-left{
	background-color:#80bcde;
}
.summary-box-right{
	background-color:white;
	&:before{
		content: '';
	    display: block;
	    position: absolute;
	    left: -14px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    top: 18px;
	    border-color: transparent transparent transparent #fff;
	    border-width: 7px;
	    transform: rotate(180deg);
}
}

