.forgot-password-page{
  height: 100%;
}
.forgot-password-div{
  width: 50%;
  height: 230px;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
.forgot-password-text{
  color: #55b3f2;
  border-bottom: 1px solid silver;
}

.password-field{
  background-color: #fbfbfb;
  border-radius: 0;
  height: 30px;
  border: 1px solid #dcdcdc;
}

.lock-icon{
  position: absolute;
  right: 26px;
  top: 8px;
  font-size: 12px;
  color: #c1c1c1;
}
.generate-password-text{
  color:  #acacac;
}
.innerAll20{
  padding: 20px;
}
.reset-font-size{
  font-size: 14px;
}
#newPassword::-webkit-input-placeholder {
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotNewPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newPassword::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotNewPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newPassword:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotNewPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newPassword:-ms-input-placeholder {
  /* IE 10- */
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotNewPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newConfirmPassword::-webkit-input-placeholder{
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotConfirmPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newConfirmPassword::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotConfirmPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newConfirmPassword:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotConfirmPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
#newConfirmPassword:-ms-input-placeholder {
  /* IE 10- */
  color: transparent;
  text-indent: -9999px;
  background-image: url(../images/resendForgotConfirmPassword.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
