.signup-title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: $Arapawa;
}

.container-signup {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 50px;
}

.signup-title:after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #b4bcc3;
    position: absolute;
    left: 0px;
    bottom: -10px;
}

.signup-button {
    color: $Arapawa;
    background-color: #fff;
    width: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    height: auto;
    margin: auto;
    max-width: 126px;
    border-radius: 6px;
    display: initial;
    padding: 3px 8px 5px 5px;
    box-shadow: 1px 0px 4px 2px silver;
    margin-right: 30px;
}

.login-signup-div {
    text-align: center;
    margin-bottom: 20px;
}

.inputSignup {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 8px;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.spanClass {
    font-size: inherit;
}

.user-register-form {
    .col-xs-4 {
        padding-right: 0px;
        padding-left: 0px;
    }
    label {
        font-weight: 500;
    }
    .chosen-container-single {
        .chosen-single {
            border-radius: 0px;
            background: none;
            border: 0px;
            border-bottom: 1px solid #aaa;
            box-shadow: none;
        }
    }
    input.form-control {
        border-top: 0px solid transparent;
        border-right: 0px;
        border-left: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px;
    }
    .has-error .form-control:focus,
    .has-success .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #1b1e24;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    /*padding: 1.6em 0;*/
    width: 100%;
}


/* Hoshi */

.input--hoshi {
    overflow: hidden;
}

.input__field--hoshi {
    margin-top: 0px;
    padding: 1.3em 0.15em;
    padding-top: 35px;
    width: 100%;
    background: transparent;
    color: #1b1e24;
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 .25em 0;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}

.input__label-content--hoshi {
    position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
    border-bottom: 2px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
    border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
    border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}


/*recapcha*/

.recapchatext {
    font-size: 20px;
    padding-bottom: 20px;
    color: $black;
}


/*sign up page cancel button*/

.signbuttonwidth {
    max-width: 117px;
    margin-right: 20px;
}


/*country fo citizen dropdown list*/

.Country-of-citizen-div {
    width: 100%;
    float: left;
    padding: 11px;
}

.dropdown_citycountry {
    border: 1px solid #c7c1c1;
    height: 30px;
    font-size: 12px;
    border-radius: none;
    border-radius: initial;
    background-color: #f5f8fb;
}

.cityselector .form-control:focus {
    border: 1px solid #c7c1c1;
    box-shadow: none;
}


/*drop down list country heading*/

.country-Heading-Signup {
    max-width: 350px;
    padding-left: 5px;
    margin: auto;
    text-align: left;
    padding-bottom: 10px;
    font-size: 13px;
}

.signup-message > a:hover {
    margin-bottom: 20px;
    text-align: center;
    color: $summer-sky;
    text-decoration: underline;
}

.radio-button-label {
    color: #6A7989;
    font-weight: bold;
    font-size: 90%;
}

.gendergroup {
    margin-top: 10px;
}

// .gendergroup input[type=radio]:checked + label
// {
//     color:red;
// }
.gendergroup input[type=radio]:checked + label:before,
{
    color: red;
}

#registerForm{
  input{
    padding-right: 28px;
  }
  .form-group{
  	margin-bottom:5px;
  }
}

.has-success .chosen-container-single .chosen-single div b,
.has-error .chosen-container-single .chosen-single div b {
    display: none;
}

.has-feedback .cityselector label~.form-control-feedback,
.has-feedback .cityselector label~.form-control-feedback {
    top: 10px;
    right:10px;
}
