nav.sidebar {
  position: absolute;
  width: 100px;
  height: 100%;
  right: 0;
  float: right; overflow-y: scroll;
  background-color: #fff;
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main {
  background-color: #fff;
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
  padding: 10px 10px 0 10px;
}

.navbar-default .navbar-nav {
  .glyphicon {
    top: 7px;
    font-size: 22px !important;
    margin-right: 20px !important;
  }
  > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 25px;
    font-size: 15px;
    color: #565656;
  }
}
.arrow-up {
  width: 0;
  position: absolute;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: -10px;
  right: 15%;
}

.default-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #bfbfbf;
  padding: 0px;
  margin-right: 15px;
}

.right-panel-profile-img {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-right: 15px;
}

@media (min-width: 765px) {
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }
  nav.sidebar {
    &:hover + .main {
      margin-left: 200px;
    }
    &.navbar.sidebar > .container .navbar-brand {
      margin-left: 0px;
    }
  }
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
  nav.sidebar {
    .navbar-brand, .navbar-header {
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    a {
      padding-right: 13px;
      transition: .8s ease all;
    }
    .navbar-nav {
      > li {
        &:first-child {
          border-top: none;
        }
        border-bottom: 1px #e5e5e5 solid;
      }
      .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .navbar-collapse, .container-fluid {
      padding: 0 0px 0 0px;
    }
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  nav.sidebar {
    transition: .8s ease all;
    width: 250px;
    height: 100%;
    margin-left: -160px;
    float: right;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #8a8a8a;
    font-size: 13px;
    line-height: 23px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    font-family: 'Strait',sans-serif;
    border-top: 1px solid #f2f2f2;
    text-shadow: 1px 1px 1px #fff;
    li {
      width: 100%;
    }
    &:hover {
      margin-left: 0px;
    }
  }
  .forAnimate {
    opacity: 0;
  }
}

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
  nav.sidebar {
    margin-left: 0px;
    float: right;
    .forAnimate {
      opacity: 1;
    }
  }
}

nav {
  &.sidebar .navbar-nav {
    .open .dropdown-menu > li > a {
      &:hover, &:focus {
        color: #CCC;
        transition: .8s ease all;
        background-color: transparent;
      }
    }
    > li > a:hover {
      color: #fff;
      transition: .8s ease all;
      background-color: #009eeb; text-shadow: none;
      cursor: pointer;
    }
  }
  &:hover .forAnimate {
    opacity: 1;
  }
}

section {
  padding-left: 15px;
}

.navbar-default .navbar-nav > .active > a {
  color: #555;
  background-color: #fff !important;
  font-weight: 400;
}

.menu-star {    width: 35px;
    padding: 0px;
    margin: 10px;
}
.menu-arrow{ width: 35px;
    padding: 0px;
    margin: 0px; margin-right: 10px;}

.default-blue{color: #339DE8;}
.navbar-nav{
  .static-menu-icons{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: #3b85aa;
  }
  

}
