#main-module-approved{
  thead{
    tr:first-child{
      background-color: #007a95;
    }
    tr:last-child{
      background-color: #21cbee;
    }
  }
}
.status-btns{
  padding: 8px 110px;
  font-weight: 600;
}
.sign-upverification{
  .form-control{
    // font-size: 12px;
    // width: 145px;
  }
  input[type="button"]{
    border: none;
    padding: 3px 10px;
    width: 70px;
    outline: none;
    color: white;
  }
}
#cashoutmain_table{
  tbody{
    tr{
      td{
        vertical-align: middle !important;
      }
    }
  }
  thead{
    th{
      vertical-align: middle !important;
    }

    th:nth-child(2){
      width: 120px;
    }
    th:nth-child(3){
      width: 130px;
    }
  }
  .date{
      font-size: 11px;
  }
  .time{
      font-size: 20px;
  }
}
