
#mm-module{
  tbody{
    tr{
      td{
        vertical-align: middle !important;
      }
    }
  }
  thead{
    th{
      vertical-align: middle !important;
    }
    tr:first-child {
      th:last-child{
        width: 50px;
      }
    }
  }

}
#mm_table{
  tbody{
    tr{
      td{
        vertical-align: middle !important;
      }
    }
  }
  thead{
    th{
      vertical-align: middle !important;
    }
    th:first-child{
      width: 10px;
    }
    th:nth-child(2){
      width: 120px;
    }
    th:nth-child(3){
      width: 130px;
    }
  }
  .date{
      font-size: 11px;
  }
  .time{
      font-size: 20px;
  }
}
#sm_table{
  tbody{
    tr{
      td{
        vertical-align: middle !important;
      }
    }
  }
  thead{
    th{
      vertical-align: middle !important;
    }
    th:first-child{
      width: 10px;
    }
    th:nth-child(2){
      width: 120px;
    }
    th:nth-child(3){
      width: 130px;
    }
  }
  .date{
      font-size: 11px;
  }
  .time{
      font-size: 20px;
  }
}
.sign-upverification{
  .form-control{
    // font-size: 12px;
    // width: 145px;
  }
  input[type="button"]{
    border: none;
    padding: 3px 10px;
    width: 70px;
    outline: none;
    color: white;
  }
}
