/*===================================================================================
=            modal style collected to avoid use of  .keyword-* classES            =
===================================================================================*/


/**
 * needed to maintain apearance of madal from maeketplace UI 
 */

.madal--1 {
    .modal-dialog {
        width: 490px !important;
        .modal-header {
            // @extend .custom-modal-header; //defined in "sass/components/_keyword-popup.scss" [not imported]
            /**
             * copied from sass/components/_keyword-popup.scss
            */
            text-align: left!important;
            color: #0b6798!important;
            text-transform: capitalize;
            letter-spacing: 0px!important;
            border-top: 0px solid;
            padding: 9px !important;
            // 
            top: 14px!important;
            right: 16px!important;
            font-size: 23px!important;
        }
        .close {
            /**
             * copied from sass/components/_keyword-popup.scss
            */
            z-index: 99999999;
            color: #999999;
            text-shadow: 0px 0px 0px;
            font-weight: normal;
            top: 4px;
            right: 6px;
            position: absolute;
            opacity: 1;
            //
            //
            top: 14px !important;
            right: 16px !important;
            font-size: 23px !important;
        }
    }
}


/*=====  End of modal style collected to avoid use of .keyword-* classES  ======*/

.madal--1 {
    .billing-invoice--modal-dialog {
        width: 577px !important;
    }
}
