 .bootstrap-select {
     .filter-AllRegisteredUsers & {
         min-width: 350px;
     }
     .filter-Gender & {
         max-width: 150px;
     }
     .filter-Age & {
         max-width: 150px;
     }
     .filter-Device & {
         max-width: 150px;
     }
     .filter-Country & {
         max-width: 150px;
     }
     .filter-City & {
         max-width: 150px;
     }
 }
 
 .newsletterTable {
     @include setTable( //
     $TblBdrColr: $lightBlue, //
     $THBG: $lightBlue, //
     $td-x-bdr-Colr: $lightBlue2, //
     $td-y-bdr-Colr: $lightBlue2, //
     $THPD-tb: 20px, //
     $TDPD-tb: 15px, //
     $th-y-bdr-Colr: $lightBlue2 //
     );
     button {
         padding: 0 5px;
         border:none;
         line-height: 1;
     }
 }
 
 .createNewsletter-Preview-modal-dialog {
     width: 600px;
 }
 
 #filter {
     // .input-group {
     //     .input-group-addon:first-child {
     //         // border-right:none;
     //     }
     //     input {
     //         border-left: none;
     //     }
     // }
 }
 
 #filteredTabs {
     .nav li {
         a {
             background: $darkblue;
             border: none;
             border-right: solid 1px white;
         }
         &.active a {
             background: $lightBlue;
         }
     }
 }
