
/*===============================================
=            sass from "appmarket_ms2"            =
===============================================*/

.transition {
    transition: all 0.5s ease;
}

.border-all {
    border: 1px solid #d9dadc;
}

.keyword-info {
    border: 1px solid $lightest-grey;
    text-align: center;
    .keyword-info-num {
        font-size: 24px;
        color: #fff;
        padding: 13px 0;
        // text-transform: uppercase;
    }
    .keyword-num-status {
        font-size: 15px;
        color: $dark-blue;
        background-color: $white;
        padding: 5px 0;
        text-transform: capitalize;
    }
    .bg-blue-key {
        background-color: $dark-blue;
        @extend .transition;
        &:hover {
            cursor: pointer;
            background-color: $dark-blue-hvr;
            @extend .transition;
        }
    }
    .bg-blue-key-dark {
        background-color: $lightest-blue;
        @extend .transition;
        &:hover {
            cursor: pointer;
            background-color: $light-blue-hvr;
            @extend .transition;
        }
    }
    .light-blue-col {
        color: $lightest-blue;
    }
}

.text-greenscale-4 {
    color: #619f22;
}


/**
 * global css already defined no need to redefine
 *
 *
 */

// p {
//     margin: 18px 0 10px;
// }
// *********************************************

/*=====  End of sass from "appmarket_ms2"  ======*/

.WT5,
.WT1,
.WT3 {
    .wallet__trasactionHistory {
        label{
            margin-bottom: 0px;
            font-weight: 400;
        }
        >table {
            font-size: 16px;
            >thead {
                >tr {
                    background: $light-grey;
                    >th {
                        text-align: center;
                        border-bottom: 0;
                        font-weight: normal;
                        &:first-child {
                            text-align: left;
                        }
                    }
                }
            }
            >tbody {
                >tr {
                    @include stripedBG( #e5f3fc);
                    td {
                        font-size: 15px;
                        vertical-align: middle !important;
                        .Transaction-Confirmed {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        span {
            color: $grayscale-4;
            &.caret {
                color: #fff;
            }
        }
    }
}

.filter {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $light-grey !important;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $light-grey !important;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        color: $light-grey !important;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: $light-grey !important;
    }
    label {
        font-weight: 100;
    }
    .label {
        padding: 8px;
        display: inline-block;
    }
    .form-control {
        box-shadow: none;
        &:not(textarea) {
            border-right: none;
        }
    }
    .input-group-addon {
        // background: $white;
    }
    .btn {
        // padding: 6px 12px;
        border: none;
    }
    .input-group-btn {
        .btn {
            font-size: 14px;
            border-left: 0;
            padding: 6px 12px;
            border-radius: 0;
            border: solid 1px #ccc;
            border-left: 0;
            &:hover {
                background: $white;
                // border-color: #ccc;
            }
        }
    }
    .input-is-focused {
        .input-group-btn,
        .input-group-btn .btn,
        .input-group-btn .btn.btn-default,
        .input-group-addon {
            border-color: $lightest-blue !important;
        }
    }
    .dropdownOptions {
        margin-bottom: 0;
        &:after {
            z-index: 2;
            top: 8px;
        }
        select {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -o-border-radius: 0px;
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: white;
            /*color: #999;*/
            color: #0b6796;
            /*$text-primary-blue*/
            border-color: #ccc;
            font-size: 16px;
            font-weight: 100;
            /*width: 175px;*/
        }
        select.selectpicker {
            display: block !important;
            height: 34px;
            padding: 5px 10px;
            width: 112px;
        }
    }
}

.action-btn .btn {
    background: transparent;
    // border: none;
}

// current wallet balance css starts here
.current-wallet-balance {
    font-size: 16px;
    color: $white;
    background-color: $text-primary-blue;
    h5 {
        font-size: 16px;
    }
    .method {
        width: 90px;
    }
    .fees {
        width: 100px;
    }
    .netAmmount {
        width: 120px;
    }
    .currency {
        width: 52px;
    }
}

// current wallet balance css ends here
// keyword checkout starts here
.keyword-checkout {
    .btn-accept-licence {
        width: auto;
        @extend .btn-trading;
        background-color: $text-primary-blue;
        &:hover {
            background-color: $dark-blue-hvr;
        }
    }
    .btn-pay-now {
        width: auto;
        border-radius: 7px;
        @extend .btn-trading;
        line-height: 1;
        padding: 6px 10px;
        font-size: 15px;
        font-weight: normal;
        // margin-right: 15px;
        background-color: #f7931b;
        &:hover {
            background-color: #b96b0d;
        }
    }
}

// keyword checkout ends here

/*=====================================
=            Account level            =
=====================================*/

.account_level-card {
    button {
        font-size: 13px;
    }
}

.account_level-title {
    line-height: 0.9em;
}

.level-verified-tick {
    font-size: 18px;
    display: block;
    i {
        position: absolute;
        right: 1.2em;
    }
}

#OTPVerification {
    .close {
        opacity: 1;
        outline: none;
    }
}


/*=====  End of Account level  ======*/


/*=============================================
=            SettingAndPreferences            =
=============================================*/

.Authentication .bdr-r {
    border-right: solid 1px $gray;
}

.Authentication-step {
    &-index {
        position: absolute;
        display: inline-block;
        left: 10px;
    }
    &-title,
    &-icon {
        display: block;
        width: 100%;
        font-size:16px;

    }
}

.QR-code {
    .img-responsive {
        margin: 0 auto;
    }
}

.form-inline .googleCode {
    >.form-control {
        // padding-right: 0;
        width: 200px;
    }
}


/*=====  End of SettingAndPreferences  ======*/


/*=================================
=            Security2            =
=================================*/

.problemInLoadingImage {
    .dropdown-toggle {
        border: none;
    }
}


/*=====  End of Security2  ======*/


/*=================================
=            dropdowns            =
=================================*/

.bootstrap-select {
    // max-width: 112px;
    width: 112px !important;
    float: right !important;
    &,
    &.open {
        .dropdown-toggle {
            height: 34px;
            padding: 1px 12px;
            font-size:16px;
            &,
            &:hover,
            &:focus {
                border: solid 1px #ccc !important;
                background: $white;
                box-shadow: none;
                color: $blue;
                outline: 1px solid transparent;
                border-radius: 0;
            }
            .filter-option {
                color: $text-primary-blue;
            }
            .bs-caret {
                color: $text-primary-blue;
            }
        }
        .dropdown-menu.open {
            padding: 0;
            border: solid 1px #ccc;
            margin-top: -1px;
            border-radius: 0;
            .dropdown-menu.inner {
                li {
                    // height: 30px;
                    // padding: 3px 0;
                    border-bottom: solid 1px #ccc;
                    &.selected {
                        display: none;
                    }
                    a {
                        color: $light-grey;
                        padding: 6px 12px;
                        span {
                            color: $grayscale-4;
                        }
                        &:focus {
                            background-color: transparent;
                            // border: 0px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    .materialize & {
        min-width: 300px;
        border: none;
        border-bottom: solid 1px $light-blue;
        &,
        &.open {
            .dropdown-toggle {
                height: 30px;
                padding: 1px 12px;
                &,
                &:hover,
                &:focus {
                    border: none !important;
                }
            }
        }
    }
}


/*==================================================
=            dropdown inside table head            =
==================================================*/

th {
    .bootstrap-select {
        margin-bottom: -15px;
        &,
        &.open {
            .dropdown-toggle {
                height: 25px;
                // padding: 1px 12px;
                &,
                &:hover,
                &:focus {
                    border: none !important;
                    background: transparent;
                    box-shadow: none;
                    color: $blue;
                    outline: 1px solid transparent;
                    border-radius: 0;
                }
                .filter-option {
                    color: $white;
                    line-height: 1.2;
                }
                .bs-caret {
                    color: $white;
                }
            }
            .dropdown-menu.open {
                // padding: 0;
                // border: solid 1px #ccc;
                // margin-top: -1px;
                // border-radius: 0;
                .dropdown-menu.inner {
                    li {
                        // height: 30px;
                        // padding: 3px 0;
                        // border-bottom: solid 1px #ccc;
                        &.selected {
                            display: visible;
                        }
                        a {
                            // color: $light-grey;
                            // padding: 6px 12px;
                            &:focus {
                                // background-color: transparent;
                                // border: 0px;
                                // outline: none;
                            }
                        }
                    }
                }
            }
        }
        // .materialize & {
        //     min-width: 300px;
        //     border: none;
        //     border-bottom: solid 1px $light-blue;
        //     &,
        //     &.open {
        //         .dropdown-toggle {
        //             height: 30px;
        //             padding: 1px 12px;
        //             &,
        //             &:hover,
        //             &:focus {
        //                 border: none !important;
        //             }
        //         }
        //     }
        // }
    }
}


/*=====  End of dropdown inside table head  ======*/


/*=====  End of dropdowns  ======*/


/*=========================================
=            date range select            =
=========================================*/

.date-picker-wrapper {
    z-index: 2
}

.form-inline .dateRange {
    >.form-control {
        padding-right: 0;
        width: 165px;
    }
    span {
        padding-left: 0;
    }
}

// button apply css in date picker starts here
.applyBtn {
    @extend .btn-trading;
    background-color: $lightest-blue;
    &:hover,
    &:focus {
        background-color: $light-blue-hvr;
        text-decoration: none;
    }
}

// button apply css in date picker starts here
// cancel apply css in date picker starts here
.cancelBtn {
    @extend .btn-trading;
    background-color: $dark-blue;
    &:hover,
    &:focus {
        background-color: $dark-blue-hvr;
        text-decoration: none
    }
}

// cancel apply css in date picker starts here

/*=====  End of date range select  ======*/


/*===========================================================
=             duplicate CSS from keyword section            =
===========================================================*/

// keyword info css starts here
.social-main-container .social-left-panel {
    .my-info-card {
        // padding-bottom: 12px; //try to avoid it
    }
    .my-info-name {
        font-weight: normal;
    }
    .my-balance-count {
        font-size: 1.2em;
        font-weight: bold;
    }
}

// keyword market data left-side ul li starts here
.key-mar-data-floatingmenu {
    .list-group .list-group-item:first-child {
        background-color: $light-grey;
        // font-size: 14px;
        color: #fff;
        text-transform: capitalize;
        border: 0px;
    }
    a.list-group-item {
        border: 1px solid #dadbdd;
        cursor: pointer;
        &:hover,
        &:focus {
            color: #086795;
            border-left: 2px solid #90a1a9;
            text-decoration: none;
            background-color: #eff3f4;
            @extend .transition;
        }
    }
    .list-cust .list-group-item {
        border-right: 0px;
        padding: 7px 12px;
        // font-size: 13px;
        border-left: 2px solid transparent;
        border-radius: 0px;
    }
    .list-group:not(:first-child) {
        background-color: #fff;
        border-left: 2px solid transparent;
    }
    .active {
        color: #086795;
        border-left: 2px solid #90a1a9!important;
        text-decoration: none;
        background-color: #eff3f4!important;
        @extend .transition;
    }
}

// keyword market data left-side ul li starts here

/*=====  End of duplicate CSS from keyword section  ======*/


/*===============================
=            cashout            =
===============================*/


/**
 *
 * on cashout page pagination syling is from app_keyword.css
 * here we have adjusted for 2px offset
 *
 */

.pagination-cont .pagination > li {
    display: initial !important;
    margin: 0 !important;
}
.underline-address{
    border-bottom:1px solid #777;
}

/*===================================================================================
=            modal style collected to avoid use of  .keyword-* classES            =
===================================================================================*/


/**
 * needed to maintain apearance of madal from maeketplace UI
 */

.madal--1 {
    .modal-dialog {
        width: 490px !important;
        .modal-header {
            // @extend .custom-modal-header; //defined in "sass/components/_keyword-popup.scss" [not imported]
            /**
             * copied from sass/components/_keyword-popup.scss
            */
            text-align: left!important;
            color: #0b6798!important;
            text-transform: capitalize;
            letter-spacing: 0px!important;
            border-top: 0px solid;
            padding: 9px !important;
            //
            top: 14px!important;
            right: 16px!important;
            font-size: 23px!important;
        }
        .close {
            /**
             * copied from sass/components/_keyword-popup.scss
            */
            z-index: 99999999;
            color: #999999;
            text-shadow: 0px 0px 0px;
            font-weight: normal;
            top: 4px;
            right: 6px;
            position: absolute;
            opacity: 1;
            //
            //
            top: 14px !important;
            right: 16px !important;
            font-size: 23px !important;
        }
    }
}


/*=====  End of modal style collected to avoid use of .keyword-* classES  ======*/

.WT5, .WT8 {
    .radio {
        padding-left: 1em;
        label {
            &:before,
            &:after {
                background: transparent;
                font-family: "FontAwesome";
                height: 1em;
                width: 1em;
                border:none;
            }
        }
        label:before {
            color: #ccc;
            content: "\f10c";
            border: none;
            margin-left: -1em;

        }
        input[type="radio"] {
            opacity: 0;
            position: absolute;
            margin-top: 4px\9;
            margin-left: -20px;
        }
        input[type="radio"]:checked + label:before {
            color: $white;
            content: "\f192";
        }
        label:after {
            display: none
        }
    }
}


/*=====  End of cashout  ======*/

// Google Authenticator Dialog
#googleAuthenticator {
    .modal-content {
        border-radius: 0px;
        width: 80%;
        margin: 0 auto;
        .modal-header {
            h4 {
                display: inline-block;
            }
            .close {
                opacity: 1;
                i {
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
        .modal-body {
            .authenticator-text {
                display: inline-block;
                position: relative;
                i {
                    font-size: 7px;
                    position: absolute;
                    right: -10px;
                    top: 2px;
                }
            }
            input {
                width: 80%;
                margin: 0 auto;
                box-shadow: none;
            }
            .btn-bottom {
                width: 45%;
                margin: 0 auto;
            }
        }
    }
}

//cannot access mobile dialog
#cantAccessPhone {
    .modal-content {
        border-radius: 0px;
        width: 80%;
        margin: 0 auto;
        .modal-header {
            h4 {
                display: inline-block;
            }
            .close {
                opacity: 1;
                i {
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
        .modal-body {
            .access-options {
                width: 80%;
                margin: 0 auto;
                text-align: left;
                label {
                    font-weight: 100;
                }
            }
            .btn-bottom {
                width: 45%;
                margin: 0 auto;
            }
            .radio-primary input[type="radio"] + label::after {
                background-color: #428bca;
            }
            .radio-primary input[type="radio"]:checked + label::before {
                color: #000;
                content: "\f192";
                margin-right: 8px;
            }
            .radio-primary input[type="radio"]:checked + label::after {
                background-color: #428bca;
            }
            .radio input[type="radio"] {
                opacity: 0;
            }
            .radio input[type="radio"]:focus + label::before {
                outline-offset: -2px;
            }
            .radio input[type="radio"]:checked + label::after {
                -webkit-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            .radio label::before {
                color: #000;
                content: "\f10c";
                border: none;
                margin-left: -1em;
                background: transparent;
                font-family: "FontAwesome";
                height: 1em;
                width: 1em;
                margin-right: 8px;
            }
        }
    }
}

//backup code verification
#backupCodeVerification {
    .modal-content {
        border-radius: 0px;
        width: 80%;
        margin: 0 auto;
        .modal-header {
            h4 {
                display: inline-block;
            }
            .close {
                opacity: 1;
                i {
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
        .modal-body {
            .backup-text {
                display: inline-block;
                font-size: 15px;
            }
            .backup-verification-text {
                display: inline-block;
                position: relative;
                i {
                    font-size: 7px;
                    position: absolute;
                    right: -10px;
                    top: 2px;
                }
            }
            input {
                width: 80%;
                box-shadow: none;
            }
            .btn-bottom {
                width: 45%;
                margin: 0 auto;
            }
        }
    }
}

#signInVerification {
    .modal-content {
        border-radius: 0px;
        width: 80%;
        margin: 0 auto;
        .modal-header {
            h4 {
                display: inline-block;
            }
            .close {
                opacity: 1;
                i {
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
        .modal-body {
            .signin-text {
                display: inline-block;
                font-size: 15px;
            }
        }
    }
}
/*==========================================
=            month select modal            =
==========================================*/

#DownloadTransactionHistory {
   .modal-dialog {
       width: 235px;
       .modal-content {
           border-radius: 0;
           .modal-header {
               height: 30px;
               padding: 6px 10px;
               h4 {
                   line-height: 1
               }
               .close {
                   opacity: 1;
                   color: #fff;
                   margin-top: -2px;
               }
           }
           .month-picker-header{
            margin:0;
           }
           .month-picker-year-table {
               width: 100%;
               tr:first-child {
                   * {
                       background: #d1d9dc;
                       color: $grayscale-4;
                   }
               }
               .ui-button .ui-icon {
                   background-image: none;
               }
               .ui-icon-circle-triangle-w,
               .ui-icon-circle-triangle-e {
                   display: inline-block;
                   font: normal normal normal 14px/1 FontAwesome;
                   font-size: inherit;
                   text-rendering: auto;
                   -webkit-font-smoothing: antialiased;
                   // color: red;
                   text-indent: 0;
                   &:before {
                       padding: 10px;
                   }
               }
               .ui-icon-circle-triangle-e {
                   &:before {
                       content: "\f105";
                   }
               }
               .ui-icon-circle-triangle-w {
                   &:before {
                       content: "\f104";
                   }
               }
           }
           .month-picker-month-table .ui-button{
                margin:0;
           }
           .month-picker-month-table {
               width: 100%;
               td {
                   border: 1px solid #f1f1f1;
               }
           }
           .ui-corner-all {
               border-radius: 0 !important;
               background: $white;
               width: 100%;
               border: none;
               color: $light-grey !important;
           }
           .ui-state-active {
               color: $username-link !important;
           }
           .modal-footer {
               padding: 10px 42px;
               border-top: none;
               .btn {
                   font-size: 14px;
                   height: 24px;
                   padding: 2px 15px;
               }
           }
       }
   }
}


/*=====  End of month select modal  ======*/