.text-greenscale-4{
	color:#6aa433;
}
.margin-top
{
	margin-top:30px;
}
.email-color{
   color:#969696;
   font-size:16px;
}

.text-redscale-4{
	color:#ff0101;
}


/* css for if2Aset icon*/

.image-wrapper
{
	display: flex;
    justify-content: center;
    margin-top:20px;
}

.faset-height
{
	height:300px;
}

.header-margin{
	padding: 8px 14px;
}
