.note-text{
  color: #a94442;
}
#documentConfirmation{
  .close{
    opacity: 1;
    outline: none;
  }
}
.id-proof-table, .address-proof-table{
  table{
    th{
      text-align: center;
    }
    tbody{
      select{
        background: #fbfbfb;
        width: 90%;
        height: 30px;
        outline: none;
        padding: 5px;
      }
      tr{
        td{
          text-align: center;
          vertical-align: middle;
        }
        td:nth-child(3){
          width: 250px;
        }
      }
    }
  }
  .choose-file-box{
    position: relative;
    height: 30px;
    input{
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      opacity: 1;
      width: 1px;
      cursor: pointer;
      text-indent: 100px;
      outline: none;
    }
    .choose-file-text{
      background-color: #989898;
      color: white;
      width: 100px;
      height: 28px;
      line-height: 2;
      cursor: pointer;
    }
    .file-name-text{
      line-height: 2;
    }
  }
}
