          /* .modal-header {

                background-color: #708090;

                padding:9px 15px;

                color:#FFF;

                font-family:Verdana, sans-serif;

                }

                .modal-body {

                background-color: #708090;

                padding:9px 15px;

                color:#fff;

                font-family:Verdana, sans-serif;

                border-bottom:4px solid #C49F0F;

                 

                }
                .modal-footer {

                background-color: #CFE2F1;

                color:#FFF;

                border-bottom-left-radius: 15px;

                border-bottom-right-radius: 15px;

                }*/