
// @font-face {
//     font-family: Calibri;
//     src: url("../fonts/calibri/calibri.ttf");

// }

body {
    font-family: Calibri, "arialregular", "robotoregular", "sans-serif";
    background-color: $bg-concrete;
    color: #444444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
