@mixin stripedBG( $color1: $lightest-grey, $color2: $white) {
   &:nth-child(odd) {
       background-color: $color2;
   }
   &:nth-child(even) {
       background-color: $color1;
   }
}

@mixin boxshadow() {
  -webkit-box-shadow: 1px 1px 1px 0px #b1b1b1;
  -moz-box-shadow: 1px 1px 1px 0px #b1b1b1;
  box-shadow: 1px 1px 1px 0px #b1b1b1;
}

@mixin text-ellipses() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin all-box-shadow(){
  -webkit-box-shadow: 0px 1px 1px 0px rgba(139, 139, 139, 0.75);
      -moz-box-shadow: 0px 1px 1px 0px rgba(139, 139, 139, 0.75);
        box-shadow: 0px 1px 1px 0px rgba(139, 139, 139, 0.75);
}

@mixin angle-position(){
  position: absolute;
  font-size: 18px;
  cursor: pointer;
  top: 2px;
}
/*=====  End of used to creat stripped bg  ======*/
