$white: #ffffff;
$blue: #0b628e;
$black: #000000;
$dark-gray:#808080;
$darkest-gray:#d9dadc;
$light-blue:#3cc0ff;
$primary-blue:#2378a1;
$text-primary-blue:#0b6796;
$dark-blue:#336d85;
$lightest-grey:#dadcdb;
$lightest-blue:#61aad3;
$dark-blue-hvr:#376175;
$light-blue-hvr:#5298bf;
$text-color: #444444;
$light-green: #62a025;
$light-green-hvr: #82b74d;

// text color used in earnings pages
$lightest-blue-color:#5cc0f2;
$light-blue-color:#009de9;
$dark-blue-color:#006496;
$darkest-blue-color:#004161;
$light-grey-color:#c1c1c1;
$dark-red:#fb1a1b;
$dark-green:#108611;
// text color used in earnings pages


/*common text color*/

$bg-concrete: #e4e4e4;
$light-black: #3b3b3b;
$red:#ff0000;

/*red-color*/

$deep-sky-blue:#009EEB;

/*deep sky blue color*/

$black:#000000;

/*black color */

$summer-sky:#25a2dc;

/*summer-sky blue color */

$slate-grey:#6A7989;

/*slate-gray color */

$Arapawa:#4a8fb5;

/*Arapawa color */

$light-grey:#90a1a9;

/* forgot-Password variable for color*/

$light-gray: #eee;
$light-blue: #009fde;
$gray: #8f8f8f;
$light-gray-border: #f5f5f5;

/* forgot-password variable for color */

$placeholder: #bebebe;
$padding: 10px;
$badge-danger:#a72305;
$badge-blue:#0f4bad;

/*text colors starts here*/

$results-num-txt-col: #676767;
$results-title-col: #0000cc;
$results-desc-col: #444444;

/*common text color*/


/*text colors ends here*/


/*App Info Page*/

$app-primary:#009eeb;
$app-success:#5cb85c;

/*
social Page Colors
*/

$username-link:#0b6795;
$username-follow:#999999;
// $sidbar-header-gray:#90a1a9;
$text-social-primary:#0b6795;
$text-social-gray:#555555;
$viewall:#fafafa;

/*
wallet page colors
*/


$orange:#ff8610;// color used in Wallet[page:receive]
$grayscale-3:#333333;
$grayscale-4:#444444; // same as "$results-desc-col" defined above.

$grayscale-5:#555555;
$grayscale-6:#666666;
$grayscale-80:#808080; //views/prafull_wallet/Security1.php icon
$grayscale-fb:#fbfbfb;
$grayscale-be:#bebebe;


/*
referral page
*/

$facebook:    #3d5a95;
$twitter:     #52abe9;
$linkedIn:    #0078b1;
$googlePluse: #d6403a;
$outlook:     #f97c33;
$yahoo:       #720478;

/* 
*/
$sound-cloud:#ff6600;
$youtube:#cc0000;


$header_1:#8ea0a7;
$header_2:#cfd8db;
