.media-object--notification {
    height: 30px;
    width: 30px;
    margin:0 2px;
    // &--icon {
    //     padding-top: 8px
    // }
}

.notification__list {
    >li {
        &:first-child {
            padding-top: $padding*2;
        }
        &:last-child {
            padding-bottom: $padding*2;
        }
    }
}
.side-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .side-toggle:after {    
    content: "\f054";    
}
