$navbar-padding:10px;
// Uncollapse the nav
.navbar-default {
    border: none;
    margin-bottom: 0;
    @at-root {
        .navbar-brand {
            width: 233px;
            background-color: $black;
            height: $navbar-height;
            padding-top: $navbar-padding;
            padding-bottom: $navbar-padding;
            &:hover,
            &:focus {
                color: $text-white;
                background-color: $black;
            }
        }
    }
    .navbar-nav {
        margin-left: 10px;
        > li {
            margin: 0 10px;
            > a {
                padding-top: $navbar-padding;
                padding-bottom: $navbar-padding;
                &:hover,
                &:focus {
                    color: $text-white;
                }
            }
        }
        .dropdown-toggle{


img{
    width:36px;
    height: 36px;
}
        }
        .fa {
            color: $text-white
        }
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: $navbar-default-link-active-bg;
                color: $white;
            }
        }
        @media (max-width: $grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: $navbar-default-link-color;
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-hover-color;
                        background-color: $navbar-default-link-hover-bg;
                    }
                }
                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-active-color;
                        background-color: $navbar-default-link-active-bg;
                    }
                }
                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: $navbar-default-link-disabled-color;
                        background-color: $navbar-default-link-disabled-bg;
                    }
                }
            }
        }
    }
    .navbar-right {
        .fa {
            &-circle {
                color: $yellow;
            }
        }
        @at-root {
            .caret {
                color: $yellow;
            }
        }
        .dropdown {
            margin-right: -15px;
            width: 203px;
            background-color: $black;
            >a {
                padding-top: $navbar-padding - 3;
                padding-bottom: $navbar-padding - 3;
            }
        }
    }
}

.notification_count {
    background: $lightBlue;
    border-radius: 50%;
    color: $text-white;
    display: inline-block;
    font-size: 11px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    margin-top: .5em;
    margin-left: -20%;
    text-indent: .2em;
    line-height: 1.6em;
}

.user.user-menu {
    .dropdown-menu {
        width: 280px;
        padding-top: 0;
        .user-header {
            background: $navbar-default-bg;
            height: 175px;
            padding: 10px;
            text-align: center;
            img {
                z-index: 5;
                height: 90px;
                width: 90px;
                border: 3px solid;
                border-color: transparent;
                border-color: rgba(255, 255, 255, 0.2);
            }
            p {
                z-index: 5;
                color: #fff;
                color: rgba(255, 255, 255, 0.8);
                font-size: 17px;
                margin-top: 10px;
                small {
                    display: block;
                    font-size: 12px;
                }
            }
        }
        .user-footer {
            // background-color: #f9f9f9;
            padding: 10px;
            .btn {

                background:$lightBlue;
                color: $white;
            }
        }
    }
}
