// add to cart ul li starts here
.add-to-cart-list {
    overflow: auto;
    /*=============================================
    =            reffered from f212571            =
    =============================================*/
    // height: Calc(100% - 240px);
    max-height: 465px;
    /*=====  End of reffered from f212571  ======*/
}

.add-to-cart-list ul {
    padding-left: 0px;
    margin-bottom: 0px;
    li {
        list-style: none;
        padding: 6px 18px;
        color: $results-desc-col;
        @include stripedBG(#ededed, #fbfbfb);
        & span {
            color: #0b628e;
            text-transform: none;
        }
        label {
            color: $text-color;
        }
    }
}

// add to cart ul li ends here
// subtotal in add to cart starts here
.keyword-sub-total {
    position: fixed;
    width: 100%;
    /*=============================================
    =            reffered from f212571            =
    =============================================*/
    bottom: 50px;
    right: 0;
    /*=====  End of reffered from f212571  ======*/
    background-color: #fff;
    ul {
        padding-left: 0px;
        margin-bottom: 0px;
        li {
            list-style: none;
            padding: 6px 18px;
            color: $results-desc-col;
            & span {
                color: #0b628e;
            }
            label {
                color: $text-color;
            }
        }
    }
    input {
        border-radius: 0px;
        font-size: 14.5px;
    }
}

// subtotal in add to cart ends here
