// analytics search bar starts here
.mobile-width {
    width: 250px!important;
    height: 79%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    float: right;
    padding: 20px 0;
    .search-query {
        background-color: #fbfbfb;
        text-transform: none;
    }
    & h5 {
        // background-color: #f1f1f1;
        // padding: 10px 11px;
        // margin-top: 10px !important;
        // text-transform: uppercase;
        // font-size: 14px;
    }
    .more-info-marketp {
        color: #999999;
        font-size: 11px;
        text-transform: capitalize;
        a {
            color: #999999;
            &:hover {
                color: #666666;
            }
        }
    }
    .glyphicon-search {
        color: #3c84ac;
    }
    .goto-marketplace,
    i {
        color: #30aeed;
        font-size: 13px;
        text-transform: none;
        a {
            color: #30aeed;
            text-decoration: none;
        }
        &:hover {
            color: #238ec4;
        }
    }
    .bglightest-grey {
        background-color: #fbfbfb;
    }
    .grey-block {
        background-color: #f1f1f1;
        padding: 0px 11px;
        margin-top: 10px !important;
        margin-bottom: 10px;
        text-transform: none;
        font-size: 14px;
    }
    .goto-marketplc-position {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    .text-blue-goto {
        font-size: 12px;
        color: #000;
    }
}
.keyword-search-performance {
    height: 90%;
}
// analytics search bar ends here
