// keyword checkout starts here
.keyword-checkout{
  .btn-accept-licence{
    width: auto;
    @extend .btn-trading;
    background-color: $text-primary-blue;
    &:hover{
      background-color: $dark-blue-hvr;
    }
  }
  .btn-pay-now{
    width: auto;border-radius: 7px;
    @extend .btn-trading;
    box-shadow:none;
    padding: 5px 10px;font-size: 15px;
    font-weight: bold;margin-right: 15px;
    background-color: #f7931b;
    box-shadow: none;
    &:hover{
      background-color: #b96b0d;
    }
    &:focus{
      background-color: #b96b0d;
    }
  }
  .margin-top-10{margin-top: 3px;}
  .innerPB-20{padding-bottom: 20px;}
  .innerPL-5{padding-left: 5px;}


//form checkbox css strats here
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px; text-transform: none; font-weight:lighter;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px; border-radius: 3px;
  background: transparent;
  border: 1px solid #0b6894;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control {
  &:hover input ~ .control__indicator {
    background: #ccc;
  }
  input {
    &:focus ~ .control__indicator {
      background: #ccc;
    }
    &:checked ~ .control__indicator {
      background: #0b6894;
    }
  }
  &:hover input:not([disabled]):checked ~ .control__indicator {
    background: #0e647d;
  }
  input {
    &:checked:focus ~ .control__indicator {
      background: #0e647d;
    }
    &:disabled ~ .control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox {
  .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
}
// form css checkbox ends here

}
// keyword checkout ends here

// checkout red box starts here
.bg-red{background-color: #ce3d3d;}
.unavailable-keyword-box{    margin-left: 10px;
    position: absolute;
    right: 9px;
    float: right;
    top: 4px;}
    // checkout red box ends here


// checkout ul li starts here
.checkout-keyword-list{

  .checkout-list ul {
  	padding-left: 0px;
  	margin-bottom: 0px;
  	li {
  		list-style: none;
  		padding: 6px 18px;
  		color: $results-desc-col;
  		@include stripedBG(#ffffff,#e5f3fc);
      & span {
        color: #0b628e;
        text-transform: uppercase;
      }
      label {
        color: #444444;
      }
  	}
  }

}
  // checkout ul li ends here


// agreement-licence css starts here
.agreement-licence{
  box-shadow: 1px 0.5px 0.2px #d6d6d6;
  width: 100%;
  background-color: $white;
  // overflow: auto; height: 480px;
  p{color: #222222;line-height: 18px; font-size: 13px;}
  h4{color: #0b6796;font-weight: bold;font-size: 13.8px;}
  .agreement-scroll
  {
    overflow: auto;
    height: 480px;
  }
  }

// agreement-licence css ends here


// current wallet balance css starts here
.current-wallet-balance{

  font-size: 16px; color: $white;background-color:$text-primary-blue;
 h5{  font-size: 16px; }
}

// current wallet balance css ends here


// mandatory class common in keywo
.mandatory-red{color:#fe0000;}
// mandatory class common in keywo




// checkout page terms n condition starts here
.checkout-floatingmenu{
  .list-group .list-group-item:first-child {
    background-color: #0b6796; font-size: 14px;
    color: #fff;font-weight: bold;
    border: 0px;
  }
  a.list-group-item {
    border: 1px solid #dadbdd;
    word-break: break-word;
    &:hover, &:focus {
      background-color: #fff;
    }
  }
  .list-cust .list-group-item {
    border-right: 0px;
    word-wrap: break-word;
    padding: 7px 12px;
    font-size: 12px;
    border-left: 0px;
    border-radius: 0px;
    border-left: 2px solid transparent;
  }
}
// checkout page terms n condition ends here



// addmore-keywords starts here
.addmore-keywords{
  background-color: #90a1a9; color: $white;font-size: 13px;font-weight: bold;padding: 7px 10px; @extend .transition;cursor: pointer;
  a{
  text-decoration: none;color: $white;cursor: pointer;  @extend .transition;

  &:hover{
  color: #0b6796;
  @extend .transition;
  }
  &:focus {
      outline: none!important;
    }
}

}
// addmore-keywords ends here
.fixed-custom-table{
  thead{
    width: 100%;
    display: block;
    table-layout: fixed;
    tr{
      display: block;
      th:nth-child(1){
        width: 120px;
      }
      th:nth-child(2){
        width: 100px;
      }
      th:nth-child(3){
        width: 100px;
      }
    }
  }
  tbody{
    width: 100%;
    max-height: 392px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    tr{
      display: block;
      width: 100%;
      table-layout: fixed;
      td:nth-child(1){
        width: 120px;
      }
      td:nth-child(2){
        width: 100px;
      }
      td:nth-child(3){
        width: 100px;
        position: relative;
      }
    }
  }
  tfoot{
    width: 100%;
    display: block;
    tr{
      td:nth-child(1){
        width: 120px;
      }
      td:nth-child(2){
        width: 100px;
      }
      td:nth-child(3){
        width: 100px;
      }
    }
  }
}



// table css starts here
.trasactionHistory {
   >table {
     font-size: 14px;    margin-bottom: 0px;
       >thead {
           >tr {
               background: #0b6796; color:$white; text-transform: uppercase;
               >th {
                   text-align: center;
                   border-bottom: 0; text-align: left;
                   &:first-child {
                       text-align: left;
                   }
               }
           }
       }
       >tbody {
           >tr {
               @include stripedBG( #e5f3fc);
               td {
                   vertical-align: bottom;
                   .Transaction-Confirmed {
                       text-decoration: underline;

                   }
               }

           }
       }
       >tfoot{
         td {
         vertical-align: bottom;
          }
         background: #61acd4; color:$white;
         span, label
         {
           font-size: 14px;
           color: #fff;
          }
       }
       span{
         color: #0b628e;
         text-transform: uppercase;
       }
       label{color: #444444;font-weight: lighter;    margin-top: 3px;}
       .cancel-keyword-btn{
         position: absolute;
          top: 10px;
          right: 15px;
          color: grey;
          cursor: pointer;
       }
   }
}
// table css ends here


.renew-label{font-size: 14px!important;}
// .height-checkout{
// display: inline-block;
//       height: 305px !important;
//     overflow-y: auto;
//     overflow-x: hidden;}

.word-wrap{
  word-wrap: break-word;
}