.keyword-marketplace-data {
    // back to keyword market place starts here
    .back-to-keymar {
        color: #009fed;
        font-size: 13px;
        & a {
            color: #009fed;
            text-decoration: none;
            @extend .transition;
            &:hover {
                color: #0084c5;
            }
        }
    }
    // back to keyword market place ends here
    // keyword markt ask starts here
    .keyword-markt-ask {
        background-color: $white;
        border: 1px solid #dadbdd;
        padding: 7px 12px;
        font-size: 13px;
        color: #086795;
        font-weight: lighter;
        label {
            font-weight: lighter;
        }
    }
    // keyword markt ask ends here
    // pagination content css starts here
    .pagination-content {
        .pagination-head {
            background-color: #90a1a9;
            td{
                vertical-align: middle;
                padding:6px;
            }
            ul {
                li:last-child {
                    background-color: #fff;
                }
            }
            label {
                font-size: 13.5px;
            }
        }
    }
    .text-white {
        font-size: 14px;
        color: #fff;
        text-transform: capitalize;
    }
    .txt-blue {
        color: #0b6796;
        font-size: 13px;
        a {
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
            text-shadow: none;
            &:hover {
                cursor: pointer;
                color: $dark-blue-hvr;
            }
        }
    }
    .text-black {
        color: $text-color;
        font-weight: lighter;
        font-size: 13.5px;
    }
    .main-keyword {
        padding-top: 70px !important;
    }
    // pagination num starts here
    .pagination-cont {
        .pagination>li>a, .pagination>li>span {
            border-radius: 0% !important;
            margin: 0 0px!important;
            color: $text-color;
            border: 1px solid #efefef;
            border-right: 0px;
        }
        .pagination>li {
            padding: 0px!important;
            display: inline-block;
            margin: 0px;
            float:left;
        }
        .pagination > .active a {
            border-left: 0px solid #555;
        }
        .pagination>li:first-child,
        .pagination>li:last-child {
            font-size: 19px;
            background-color: #ededed;
        }
        .pagination>li>a {
            padding: 5px 14px;
            font-size: 15px;
        }
        .pagination {
            margin: 0 0px!important;
        }
        input {
            width: 70px !important;
            margin: 0px 10px;
            border: 1px solid #e0e0e0;
            color: #222222!important;
            text-align: center;
            padding: 5px 0px;
        }
        .pagination>.active>a {
            color: $white;
            background-color: #90a1a9;
            border-color: #90a1a9;
        }
        .prev-arrow-pagination {
            background-color: #ececec;
        }
        .keyword-data-input{
              top: 0px;
              position: relative;
              background-color: #ececec!important;
              width: 36px!important;
              margin-left: 0px!important;
              margin-right: 0px!important;
              font-size: 16px!important;
              content: "\f104"!important;
              font: FontAwesome!important;
              border: 0px solid #d5d5d5!important;
              &:focus{outline: none;}
        }
    }
    // pagination num ends here
    // pagination content css ends here
    // extra css starts here
    .marg-botm {
        margin-bottom: 25px;
    }
    /*17px*/

    .common-note {
        color: #999999;
    }
    .calender-r-mar {
        margin-right: 0px;
    }
    .input-calender {
        width: 15px;
        height: 16px;
        background: url(../images/calendar.png) no-repeat;
        border: 0;
        display: block;
        margin-left: 14px;
        padding: 0px 7px;
        margin-top: 2px;
    }
    .padding-key-market-data {
        padding: 5px 22px;
        // padding: 5px 36px;
        padding-right: 30px;
    }
}
// extra css ends here
// keyword market data ul li starts here
.keymarketplace-data ul {
    padding-left: 0px;
    margin-bottom: 0px;
    li {
        list-style: none;
        border-bottom: 1px solid $darkest-gray;
        padding: 8.3px 18px;
        color: $results-desc-col;
        @include stripedBG($white, #e5f3fc);
    }
}
// keyword market data ul li ends here



// keyword market data left-side ul li starts here
.key-mar-data-floatingmenu {
    .list-group .list-group-item:first-child {
        background-color: $light-grey;
        font-size: 14px;
        color: #fff;
        text-transform: capitalize;
        border: 0px;
    }
    a.list-group-item {
        border: 1px solid #dadbdd;
        word-break: break-word;
        &:hover, &:focus {
            color: #086795;
            border-left: 2px solid #90a1a9;
            text-decoration: none;
            background-color: #eff3f4;
            @extend .transition;
        }
    }
    .list-cust .list-group-item {
        border-right: 0px;
        padding: 6px 8px;
        border-left: 0px;
        border-radius: 0px;
        border-left: 2px solid transparent;

    }
    .list-group:not(:first-child) {
        background-color: #fff;
        border-left: 2px solid transparent;
    }
    .active {
        color: #086795;
        border-left: 2px solid #90a1a9!important;
        text-decoration: none;
        background-color: #eff3f4!important;
        @extend .transition;
    }
}
// keyword market data left-side ul li starts here