.graph-input-wid{width: 90px;   width: 90px;
    background-color: #eaeaea;
    border-color: #d8d6d6;}
.main-bg-graph{height: 387px;}
 .highcharts-button {display: none!important;}
// keyword analytics css starst here
#keyword-analytics-input .search-query {
    border: 0 solid #ccc;
    box-shadow: 1px 1px 1px #9e9e9e;
}
// keyword analytics css ends here



// keyword info css starts here


.keyword-info {
    border: 1px solid $lightest-grey;
    text-align: center;

    .keyword-info-num {
        font-size: 22px;
        color: #fff;
        padding: 12px 0;
        // text-transform: uppercase;
    }

    .keyword-num-status {
        font-size: 13px;
        color: $dark-blue;
        background-color: $white;
        padding: 5px 0;
        text-transform: capitalize;
    }

    .bg-blue-key {
        @extend .transition;
        background-color: $dark-blue;
        &:hover {
            cursor: pointer;
            background-color: $dark-blue-hvr;
        }
    }

    .bg-blue-key-dark {
        @extend .transition;
        background-color: $lightest-blue;
        &:hover {
            cursor: pointer;
            background-color: $light-blue-hvr;
        }
    }

    .light-blue-col {
        color: $lightest-blue;
        a
        {
          text-decoration: none;
          &:hover
          {
            color: $light-blue-hvr;
          }
        }
    }
}
// keyword info css ends here




// display-flex-keyword info css ends here

.display-flex-keyword, .keyword-analytics-highest-bid{
  .keyword-grey-span {
      font-size: 13.8px;
  }
}

.keyhash{
    list-style-type:none;
    padding:0;
    li{
        width:20%;
        float:left;
        text-overflow:ellipsis;
        overflow:hidden;
        padding: 0px 6px;
        line-height: 1;
    }
}
// graph css starts here
   .highcharts-legend-item{display: none;}
// graph css ends here

// display-flex-keyword info css ends here
