.keyword-marketplace {
    .right-side-scroll {
        h5 {
            margin-top: 0px !important;
            margin-bottom: 15px !important;
            white-space: nowrap;
            max-width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: 0;
            .tooltip.bottom .tooltip-arrow {
                left: 6%!important;
            }
        }
        .col-md-3 {
            // padding-left: 5px !important;
            // padding-right: 0px !important;
        }
    }
    .keyword-heading {
        color: #27759f;
        text-align: center;
        font-size: 18px;
    }
    .glyphicon-search {
        color: #3c84ac;
    }
    button:focus {
        outline: none;
    }
    // * placeholder css
    .search-query::-webkit-input-placeholder {
        color: #c7c7c7 !important;
    }
    .search-query::-moz-placeholder {
        color: #c7c7c7 !important;
    }
    .search-query:-ms-input-placeholder {
        color: #c7c7c7 !important;
    }
    .search-query:-moz-placeholder {
        color: #c7c7c7 !important;
    }
    // * placeholder css
    .right-side-scroll {
        height: 429px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 10px;
        position: relative;
        // margin-bottom: 26px!important;
        .keyword-grey {
            margin-bottom: 16px;
            font-size: 12.8px;
        }
        .tooltip-inner {
            min-width: 150px;
            max-width: 130px;
            word-wrap: break-word;
        }
    }
    .footer-right-side-scroll {
        // position: absolute;
        z-index: 0;
        bottom: 0px;
        background-color: $light-grey;
        padding: 8px;
        // width: 99%;
        color: $white;
    }
    .input-group-btn {
        position: absolute;
        right: 0;
        white-space: nowrap;
        width: 0;
        top: 5px;
    }
    .stylish-input-group {
        .input-group-addon {
            background: white !important;
            border-radius: 0;
        }
        .form-control {
            border-right: 0;
            box-shadow: 0 0 0;
            border-color: #ccc;
            border-radius: 0;
        }
        button {
            border: 0;
            background: transparent;
        }
    }
    .search-box {
        border: 1px solid $darkest-gray;
    }
    .pull-r-marketplace {
        float: none;
    }
    .keyword-grey {
        margin-bottom: 8px;
        font-size: 12.8px;
    }
    .keyword-grey-span {
        font-size: 12.5px;
    }
    .keyword-radio-btn {
        font-size: 15px;
        .radio {
            margin: 0;
        }
        /*  */
        .radio {
            padding-left: 20px !important;
        }
        .radio label {
            display: inline-block;
            position: relative;
            padding-top: 3px;
            padding-left: 3px;
        }
        .signupRadio {
            label {
                display: inline-block;
                position: relative;
                margin-right: 0px;
            }
        }
        .radio-primary input[type="radio"] + label::after {
            background-color: #428bca;
        }
        .radio-primary input[type="radio"]:checked + label::before {
            color: $white;
            content: "\f192";
        }
        .radio-primary input[type="radio"]:checked + label::after {
            background-color: #428bca;
        }
        .radio input[type="radio"] {
            opacity: 0;
        }
        .radio input[type="radio"]:focus + label::before {
            outline-offset: -2px;
        }
        .radio input[type="radio"]:checked + label::after {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        .radio label::before {
            color: $white;
            content: "\f10c";
            border: none;
            margin-left: -1em;
            background: transparent;
            font-family: "FontAwesome";
            height: 1em;
            width: 1em;
        }
        .radio label::after {}
        /**/
    }
    .radio-primary input[type="radio"]:checked + label {
        &::before {
            border-color: #ffffff !important;
            background-color: transparent;
        }
        &::after {
            background-color: #fff !important;
        }
    }
    .radio label {
        &::before {
            border: 2px solid #fff;
            width: 15px;
            height: 15px;
            top: 3px;
            background-color: transparent;
        }
        &::after {
            border: 2px solid #fff;
            width: 5px;
            height: 5px;
            left: 5px;
            top: 8px;
            background-color: transparent;
        }
    }
    // * placeholder css
    ::-webkit-input-placeholder {
        color: #c7c7c7 !important;
    }
    ::-moz-placeholder {
        color: #c7c7c7 !important;
    }
    :-ms-input-placeholder {
        color: #c7c7c7 !important;
    }
    :-moz-placeholder {
        color: #c7c7c7 !important;
    }
    // * placeholder css
    .heading-key-markt {
        font-size: 20px;
        text-transform: capitalize;
        text-align: center;
        color: $dark-blue;
    }
    .head-small-key-markt {
        @extend .heading-key-markt;
        text-align: left;
        font-size: 18px;
    }
    .keyword-analytics-highest-bid {
        background-color: white;
        border: 1px solid $lightest-grey;
    }
    // breadcrumb css starts here
    .breadcrumb {
        padding: 0px;
        margin-bottom: 0px!important;
        background-color: transparent!important;
        li {
            a {
                color: $white;
                @extend .transition;
                &:hover {
                    color: $dark-blue-hvr;
                    text-decoration: none;
                }
            }
            &:before {
                display: none !important;
                padding-left: 0 !important;
                color: #fff;
                content: "";
                // content: "|";
            }
            &:after {
                display: inline-block;
                padding-left: 0.5em;
                color: #fff;
                content: "|";
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
    .table-keyword-marketplace{
       table{
         tbody{
           tr:nth-child(even){
             background-color: #e5f3fc;
           }
           tr:nth-child(odd){
             background-color: #ffffff;
           }
           td{
             padding: 2px 6px;
             line-height: 1.3;
             vertical-align: middle;
           }
         }

       }

    }
    // breadcrumb css ends here
    .text-black {
        color: $text-color;
        font-weight: lighter;

        font-size: 13.5px;
        a {
            color: $text-color;
            text-decoration: none;
            line-height: 14px;
            vertical-align: middle;
            &:hover {}
        }
    }
    // current slab css starts here
    .current-slab-popup {
        .modal-dialog {
            width: 520px!important;
            margin-top: 5%!important;
        }
    }
    .keyword-slab-ul {
        height: auto;
        max-height: 555px;
        overflow: auto!important;
        overflow-x: hidden!important;
    }
    // current slab css ends here
    .analytic-blocks-span {
        font-size: 12px;
        text-transform: none;
        display: block;
    }
    .padng-analytic-blocks {
        padding: 4px 0px!important;
    }
    .padng-analytic-highest-bid {
        padding: 10px 5px;
    }
}

// keyword marketplace ends here
// horizontal line starts here
.horizontal-line {
    height: 0;
    border-bottom: 1px solid $lightest-grey;
}

// horizontal line ends here
// interaction analytics ul li starts here
.keyword-market-botm ul,
.keyword-marketplace .right-side-scroll {
    padding-left: 0;
    margin-bottom: 0;
    li {
        list-style: none;
        border-bottom: 1px solid $darkest-gray;
        padding: 16px 10px 3px;
        color: $results-desc-col;
        @include stripedBG($white, #e5f3fc);
        &:last-child {
            border-bottom: none;
            background-color: #90a1a9;
        }
    }
    .bg-dark-grey {
        background-color: #90a1a9!important;
    }
}

// interaction analytics ul li ends here
// Interaction Analytics left right content in ul li starts here
.border-all {
    border: 1px solid #d9dadc;
}

.comn-lft-rght-cont {
    width: 100%;
    font-weight: lighter;
    // font-size: 13px;
    font-size:15px;
    label {
        color: $results-desc-col;
        font-weight: lighter;
        margin-bottom: 0;
        a {
            color: $text-color;
        }
    }
    span {
        color: $text-primary-blue;
        text-transform: capitalize;
        a {
            color: $text-primary-blue;
        } // a{
        //     color: $text-primary-blue; text-decoration: none;
        // }
    }
    label a:hover,
    span a:hover,
    a:hover {
        text-decoration: none;
        color: $dark-blue-hvr;
        @extend .transition;
    }
}

// Trade Analytics footer css starts here
.common-on-hover {
    a {
        color: $white;
        font-size: 13px;
        &:hover {
            text-decoration: none;
            color: $dark-blue-hvr;
            @extend .transition;
        }
    }
}

// Trade Analytics footer css ends here
// Interaction Analytics left right content in ul li ends here
.span-keyword-market {
    font-size: 12.8px;
    color: $text-color!important;
    margin: 10px 0;
    float: left!important;
}

.span-blue-keyword-market {
    font-size: 14px;
    color: #0b6795!important;
    margin: 10px 0;
    float: left!important;
}

.span-input-keyword {
    margin: 7px 0 !important;
    width: 190px; // set to solve BUG Keywo-594
    &.control-label{
        margin-top:8px;
    }
}

.footer-analy-srch {
    position: absolute;
    bottom: -56px;
    z-index: 1;
    width: 100%;
    text-transform: capitalize;
    height: 40px;
    background-color: #fbfbfb;
    vertical-align: middle;
    padding-top: 10px;
    & span,
    .fa-angle-double-left {
        float: left;
        color: #019dea!important;
        font-size: 14px;
    }
}

// keyword search ul li css starts here
.keyword-marketplace .right-side-scroll ul {
    padding-left: 0;
    li {
        color: black;
        list-style: none;
        border-bottom: 1px solid $darkest-gray;
        padding: 16px $padding 3px;
        &:nth-child(odd) {
            background-color: #fff;
        }
        &:nth-child(even) {
            background-color: #e5f3fc;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

// keyword search ul li css ends here
// search bar css starts here
.keyword-analytics #keyword-analytics-input {
    margin: 0 auto;
    // width: 98%;
}

#custom-search-input,
#keyword-analytics-input {
    margin: 0 auto;
    width: 100%;
    // margin-top: 10px;
    padding: 0;
    .search-query {
        color: #000;
        font-size: 14px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
    }
    button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        color: #D9230F;
    }
    .input-group .form-control:focus {
        z-index: 2!important;
    }
}

.search-query:focus + button {
    z-index: 2;
}

.keyword-input-grp-btn {
    position: absolute!important;
    font-size: 0;
    right: 0;
    top: 5px;
    white-space: nowrap;
}

// search bar css ends here
@media only screen and (max-width: 468px) {
    .pull-r-marketplace {
        float: right;
    }
}
