#procceedToPayment{
  .modal-content{
    border-radius: 0;
      .modal-header{
        h4{
          display: inline-block;
        }
        .close{
          opacity: 1;
          outline: none;
          i{
            font-size: 18px;
          }
      }
    }
    .modal-body{
      .keywo-banner{
        img{
          width: 100%;
          height: 120px;
        }
      }
    }
  }
}
