%ad_manager--table {
    >thead {
    	font-size:16px;
        >tr {
            background: $light-grey;
            th {
                border: none;
                vertical-align: top;
                padding-left: $padding;
                padding-right: $padding;
            }
        }
    }
    >tbody {
    	font-size:15px;
        >tr {
            @include stripedBG( #e5f3fc);
            td {
                vertical-align: middle;
                padding-left: $padding;
                padding-right: $padding;
            }
        }
    }
    .btn {
        line-height: 1;
        padding: 0;
        .fa {
            // font-size: 18px;
        }
        &:disabled {
            .fa {
                color: #ccc !important;
            }
        }
        .fa-pencil {
            // color: #444; //from   manage_campaign.psd
        }
        .fa-play-circle {
            // color: $app-success;
        }
        .fa-pause-circle {
            // color: #ff9900; //color reffered from http://pasteboard.co/BmlVefEfM.jpg
        }
        .fa-stop-circle {
            // color: #ff3333; //columns: or reffered from http://pasteboard.co/BmlVefEfM.jpg
        }
    }
}


/*---------------------------------ad_manager/pages/-----------------------*/

@import "components/_modal.scss";

@import "pages/Default_Page";
@import "pages/Add_Balance";
@import "pages/Create_Edit_Campaign_Page";
@import "pages/Manage_Campaign_Page";
@import "pages/Campaign_Analytics_Page";
@import "pages/Billing_Page";
@import "pages/Archived";
@import "pages/Manage_Creatives";
@import "pages/Terms_of_Use";
@import "pages/FAQs";
