.KS1 {
    &__lists {
        padding: 0;
        margin: 0 -15px;
    }
    &__list {
        width: 25%;
        padding: 0 15px;
        float: left;
        &__record{
            position: relative;

        }
        &__ar_op{
            position: absolute;
            left:20%;
            top:40px;
            font-size:12px;

        }
        &__title {
            color: $white;
        }
        $KS1listkeyWidth:50;
        &__key {
            width: unquote("#{$KS1listkeyWidth}%");
            float: left;
        }
        &__value {
            width: unquote("#{100-$KS1listkeyWidth}%");
            float: left;
            position: relative;
            &::before{
            display: inline-block;
            font: normal normal normal 18px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f0d9";
            color:$white;
            position: absolute;
            left:-0.3em;
            }
        }
        &--earnings {}
        &--pool {}
        &--interaction {}
        &--payouts {}
    }
}






/**--------------can be deleted  -----------**/
.tbl-top-light {
    background-color: #80bcde;
    font-size: 16px;
    color: $white;
    height: 32px;
    line-height: 2;
    position: relative;
}

.tbl-top-white {
    background-color: #fff;
    font-size: 16px;
    color: $white;
    height: 32px;
    line-height: 2;
    position: relative;
    border-left: none;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px #c9c9c9;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 9px solid #e4e4e4;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 5px;
    z-index: 2;
    top: 12px;
}

.triangle-box {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 9px solid #fff;
    border-bottom: 5px solid transparent;
    left: -9px;
    z-index: 2;
    position: absolute;
    top: 12px;
    
}

.keywo_detail_stats {
    list-style: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        display: inline-block !important;
        &:nth-child(odd) {
            width: 18%;
            margin: 0;
            float: left;
        }
        &:nth-child(even) {
            width: 2.5%;
            font-size: 20px;
            margin: 0;
            float: left;
            text-align: center;
        }
        .panel-box {
            background-color: #80bcde;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 20px;
            color: $white;
            border-left: none;
            border-right: 1px solid #c9c9c9;
            border-bottom: 1px solid #c9c9c9;
            box-shadow: 1px 1px 1px #c9c9c9;
        }
    }
}

.panel-footer-height {
    line-height: 12px;
    font-size: 15px;
    color: #80bcde;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel-body-height {
    padding: 6px;
    font-size:24px;
}

.panel-box-dark-blue {
    background-color: #0b6796;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 20px;
    color: $white;
    border-left: none;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px #c9c9c9;
}
