.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
   
    color: #337ab7;
    background-color: #337ab7;
    border-color: #dadbdd;
}

.light-blue
{
	color: #74bded;
}

.text-heading{
    font-size:20px;
}

.tbl-top
{
	background-color:#0b6796;
	font-size:16px;
	color:$white;
	height:32px;
	line-height:2;
}

.light-sky-blue
{
	background-color:#e5f3fc;
}
.table>thead>tr.active>th
{
	background-color:#90a1a9;
	color:$white;
}

.text-blue{
	color:#0b6796;
}

.statistic-paging {
    font-size: 14px;
    color: #7a7e80 !important;
    margin: 0px 10px;
    float: left !important;
    width:70px;
    height:31px;
    padding-top: 8px;
    border:none;
}

.pagination-cont {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}



.pagination-cont{
	>.active{
		>a{
			background-color:#90a1a9 !important;
			border:none;
			:hover{
				color: #fff;
			    cursor: default;
			    background-color: #90a1a9;
			    border-color: #90a1a9;
			}
		}
	}
}

.sub-heading {
    font-size: 16px;
}

.fa-margin {
    margin-top: 31px;
}

.fa-size{
    font-size:20px;
    margin-top: 5px;
}
.pagination {
    >li {
        >a {
            color: #363a3e;
            :hover {
                color: #363a3e;
            }
        }
    }
}

	