.media-object--activity-log {
    height: 31px;
    width: 62px;
    &--icon {
        padding-top: 8px
    }
}

.activity-log__list {
    >li {
        &:first-child {
            padding-top: $padding*2;
        }
        &:last-child {
            padding-bottom: $padding*2;
        }
    }
}

.activity-log__comment {
    position: relative;
    // for fontAwaesome
    //
    // text-indent: 0.8em;
    // ----------------
    text-indent: 0.5em;
    &::before,
    &::after {
        position: absolute;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        // for fontAwaesome
        // 
        // font-size: 0.5em;
        // ----------------
        font-size: 1em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &::before {
        // for fontAwaesome
        // 
        // content: "\f10d";
        // left: -1.5em;
        // --------------------
        content: '"';
        left: -0.5em;
    }
    &::after {
        // for fontAwaesome
        // 
        // content: "\f10e";
        // margin-left: -1.5em;
        // ---------------------
        content: '"';
        margin-left: -0.5em;
    }
}
