/*==============================================SettingAndPreferences==============================================*/ .Authentication .bdr-r {
    border-right: solid 1px $gray;
}

.Authentication-step {
    &-index {
        position: absolute;
        display: inline-block;
        left: 10px;
    }
    &-title,
    &-icon {
        display: block;
        width: 100%;
    }
}

.QR-code {
    .img-responsive {
        margin: 0 auto;
    }
}

.form-inline .googleCode {
    >.form-control {
        // padding-right: 0;
        width: 200px;
    }
}


/*=====  End of SettingAndPreferences  ======*/


/*=================================
=            Security2            =
=================================*/

.problemInLoadingImage {
    .dropdown-toggle {
        border: none;
    }
}


/*=====  End of Security2  ======*/


/*===================================
=            materialize            =
===================================*/

.materialize {
    &.bdrB {
        border: none;
        border-bottom: solid 1px $blue;
    }
    input {
        &,
        &:focus {
            border: none;
            box-shadow: none;
        }
    }
    .input-group-addon {
        border: none;
    }
}


/*=====  End of materialize  ======*/

.control-label.fw-100 {
    font-weight: 100;
}


/*----------  styling check-box  ----------*/

label {
    display: inline;
}

.user_checkbox,
#select_all {
    display: none;
}

#select_all + label,
.user_checkbox + label {
    padding: 9px;
    display: inline-block;
    position: relative;
    margin-top: 7px;
}

#select_all + label {
    padding-bottom: 0;
}

.user_checkbox + label:after,
#select_all + label:after {
    content: "\f096";
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    // color: #027a98;
}

#select_all + label:after {
    color: #fff;
}

.user_checkbox:checked + label:after,
#select_all:checked + label:after {
    content: "\f046";
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #027a98;
}

#select_all:checked + label:after {
    color: #fff
}


/*----------  styling check-box  END ----------*/
