.social-center-panel{
  position: relative;
  // z-index: -1!important;
  /*Heading*/
  .profile-heading{
    h4,h5{
        display: inline-block;
    }
    h5{
        font-size: 16px;
    }
  }

  // Personal detail form
  .personal-detail-form, .educational-information-form{
    .profile-img-right-panel{
      // background-image: url("../images/a_girl.jpg");
      background-size: cover;
      height: 180px;

    }
    .radio{
      margin-left: 20px;

    }
    .radio label {
        display: inline-block;
        position: relative;
        padding-top:3px;
        padding-left: 3px;
    }
    .signupRadio {
        label {
            display: inline-block;
            position: relative;
            margin-right: 0px;
        }
    }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca;
    }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca;
    }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca;
    }
    .radio input[type="radio"] {
        opacity: 0;
    }

    .radio input[type="radio"]:focus + label::before {
        outline-offset: -2px;
    }

    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
    }

    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 15px;
        height: 15px;
        left: 1px;
        top: 4px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }

    //form elements
    label{
      margin-bottom: 0px;
      font-weight: 400;
      color: #5e5e5e;
      display: block;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
      border-top: none;
      padding-top: 0px;
      border-left: none;
      padding-bottom: 0px;
      border-right: none;
      height: 20px;
    }
    textarea{
      overflow-y: auto;
      overflow-x: hidden;
      resize: none;
      padding: 2px 5px;
      background-color: #fbfbfb !important;
      width: 100%;
      height: 50px;
    }
    .form-control{
      background: white;
    }
    .country-code{
      width: 25%;
      padding-right: 0;
      display: inline-block;
      position: absolute;
      color: #17729a;
    }
    .contact-number{
      display: inline-block;
      width: Calc(100% - 38px);
      height: 30px !important;
      padding-left: 0;
    }
    .radio{
      label{
          padding-right: 4px;
      }
    }
    .profile-detail-img{
          // height: 200px;
          cursor:pointer;
          width:100%;
    }
    .profile-img-size{
    object-fit: cover;
    width: auto;
    height: 200px;
    }
    // chosen container (city country state)
    .chosen-container{
      a{
        border: 1px solid #dddfde;
        border-radius: 0;
        height: 30px;
        box-shadow: none;
        background: #fbfbfb;
      }
    }
    //file upload
    .fileUpload {
        position: relative;
        overflow: hidden;
        span{
          i{
            font-size: 18px;
          }
        }
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .browse-span{
      margin-left: 5px;
      display: inline-block;
      margin-top: 4px;
      color: #5e5e5e;
    }
    //add hobbies
    .add-hobbies{
      position: absolute;
      right: 20px;
      top: 35px;
      cursor: pointer;
    }
    .calendar-section{
      label{
        display: inline-block;
      }
      #datepicker{
        border: 0;
        cursor: pointer;
        padding: 0;
        color: transparent;
      }
      .date-input{
        // width: 53%;
        display: inline-block;
        padding-bottom: 0;
        // margin-left: 10px;
        padding-left: 0;
        padding-right: 20px;
      }
      .date-of-birth{
        border: 0;
        display: block;
        height: 25px;
        right: 5px;
        position: absolute;
        width: 25px;
        background-repeat: no-repeat;
        // top: 4px;
        bottom: 1em;
        z-index: 3;
        opacity: 0;
      }
      .calendar{
        position: absolute;
        right: 1em;
        cursor: pointer;
        // top: 0px;
        bottom: 1.5em;
      }
    }
  }
  .educational-information-form{
    //form elements
    label{
      font-weight: 400;
      color: #5e5e5e;
      display: block;
    }
    .form-control{
      background: white;
      display: inline-block;
    }
    input[type="text"], input[type="email"], input[type="password"]{
      border-top: none;
      padding-top: 0px;
      border-left: none;
      padding-bottom: 0px;
      border-right: none;
      height: 20px;
    }
    .school-input{
      padding-bottom: 7px;
      width: 40%;
      margin-right: 20px;
    }
    .years{
      border: 1px solid #dddfde;
      height: 35px;
      width: 70px;
      padding: 5px;
      border: 1px solid #dddfde;
    }
    .years-to{
      display: inline-block;
    }
    .time-period{
      margin-left: 5px;
      font-size: 13px;
      color: #bdbdbd;
    }
    .add-to-btn{
      position: absolute;
      top: 1px;
      left: 100px;
      font-size: 13px;
      cursor: pointer;
      .add-btn{
        color: #0b628e;
        text-decoration: underline;
      }
    }
    // University section
    .university-section{
      label{
        display: inline-block;
      }
      .school-input{
        padding-bottom: 7px;
        width: 40%;
        margin-right: 20px;
      }
      .university-add-to-btn{
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
        cursor: pointer;
        margin-right: 20px;
        .add-btn{
          color: #0b628e;
          text-decoration: underline;
        }
      }
      .university-selections{
        display: inline-block;
      }
      .university-input-name{
        width: 33%;
        margin-right: 20px;
        padding-bottom: 7px;
      }
      .university-input-specification{
        width: 18%;
        margin-right: 20px;
        padding-bottom: 7px;
      }
    }
    .remove-input{
      cursor: pointer;
      font-size: 15px;
      right: 0px;
    }
  }
  .work-information-form{
    //form elements
    label{
      font-weight: 400;
      color: #5e5e5e;
      display: block;
    }
    .form-control{
      background: white;
      display: inline-block;
    }
    input[type="text"], input[type="email"], input[type="password"]{
      border-top: none;
      padding-top: 0px;
      border-left: none;
      padding-bottom: 0px;
      border-right: none;
      height: 20px;
    }
    .school-input{
      padding-bottom: 7px;
      width: 40%;
      margin-right: 20px;
    }
    .years{
      border: 1px solid #dddfde;
      height: 35px;
      width: 70px;
      padding: 5px;
      border: 1px solid #dddfde;
    }
    .years-to{
      display: inline-block;
    }
    .time-period{
      margin-left: 10px;
      font-size: 13px;
      color: #bdbdbd;
    }
    .company-add-to-btn{
      position: absolute;
      top: 1px;
      left: 220px;
      font-size: 13px;
      cursor: pointer;
      .add-btn{
        color: #0b628e;
        text-decoration: underline;
      }
    }
    // University section
    .work-section{
      label{
        display: inline-block;
      }
      .work-selections{
        display: inline-block;
      }
      .company-input-name{
        width: 33%;
        margin-right: 20px;
        padding-bottom: 7px;
      }
      .company-input-designation{
        width: 18%;
        margin-right: 20px;
        padding-bottom: 7px;
      }
    }
    .remove-input{
      cursor: pointer;
      font-size: 15px;
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
  .submit-buttons{
    position: absolute;
    right: 0;
    bottom: 25px;  }
/*********************** For tag keywords *************************/
  #tags > span{
    cursor:pointer;
    display:block;
    float:left;
    color:#367893;
    background:#eeedee;
    border-radius:5px;
    padding:3px 10px;
    padding-right:25px;
    margin: 0px 5px 5px;
    position: relative;
  }
  #tags > span:hover{
    opacity:0.7;
  }
  #tags > span:after{
     position: absolute;
     content: "x";
     padding: 5px;
     font-weight: 600;
     margin-left: 3px;
     font-size: 14px;
     top: -2px;
     color: #006995;
  }
  #tags > input{
    margin: 10px 5px 0px;
    border:0;
    padding:7px;
    width:auto;
  }
  #tagsCurricular > span{
    cursor:pointer;
    display:block;
    float:left;
    color:#367893;
    background:#eeedee;
    border-radius:5px;
    padding:3px 10px;
    padding-right:25px;
    margin: 0px 5px 5px;
    position: relative;
  }
  #tagsCurricular > span:hover{
    opacity:0.7;
  }
  #tagsCurricular > span:after{
   position:absolute;
   content:"x";
   padding:5px;
   font-weight:600;
   margin-left:3px;
   font-size:14px;
   top: -2px;
   color:#006995;
  }
  #tagsCurricular > input{
    margin: 10px 5px 0px;
    border:0;
    padding:2px;
    width:auto;
  }
  #tagsProfessional > span{
    cursor:pointer;
    display:block;
    float:left;
    color:#367893;
    background:#eeedee;
    border-radius:5px;
    padding:3px 10px;
    padding-right:25px;
    margin: 0px 5px 5px;
    position: relative;
  }
  #tagsProfessional > span:hover{
    opacity:0.7;
  }
  #tagsProfessional > span:after{
   position:absolute;
   content:"x";
   padding:5px;
    font-weight:600;
   margin-left:3px;
   font-size:14px;
   top: -2px;
   color:#006995;
  }
  #tagsProfessional > input{
    margin: 10px 5px 0px;
    border:0;
    padding:2px;
    width:auto;
  }
}
.country-code-box{
  padding: 0;
  border: none;
  select{
    border: none;
    background: #fff;
    border-bottom: 1px solid #cccccc;
    height: 20px;
    outline: none;
  }
}
