#ITDPurchaseCreadit {
    // margin-top: 15px;
    fieldset {
        // padding: 15px;
    }
    .form-group {
        // margin-bottom: 0;
        // margin-right: 0;
    }
    .userCheckedList {
        height: 34px;
        display: inline-block;
        line-height: 2;
    }
}

#tableITDPurchaseCreadit {
    .table {
        @include setTable( $TblBdrColr: $lightBlue, $THBG: $lightBlue, $td-x-bdr-Colr: $lightBlue, $td-y-bdr-Colr: $lightBlue, $THPD-tb: 15px);
        margin-bottom: 0;
    }
    .AttachDoc,
    .ViewComment {
        padding: 0 .5em;
    }
    .nav-justified {
        margin: 0;
        padding: .5em 0;
    }
    .btn-wired {
        background: transparent;
        border: solid 1px $white;
    }
}

.input--styled {
    @extend .clearfix;
    // border-bottom: solid 1px $gray;
    .text-left {
        text-align: left !important;
    }
    >[class*="col-"] {
        padding-left: 0;
    }
    &:before {
        display: inline-block;
        position: absolute;
        left: -10px;
        content: " ";
        height: 100%;
        width: 1px;
        border-left: solid 1px $lightGray;
    }
    &:after {
        position: absolute;
        width: 100%;
        content: " ";
        bottom: 0;
        border-bottom: solid 1px $lightGray;
    }
    &--date {
        input {
            background-color: transparent;
            border: none;
            padding-left: 0;
            &,
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }
    input {
        background-color: transparent;
        border: none;
        padding-left: 0;
        &,
        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
}

@import "_QueryTicket";
.doc-btn {
    background: transparent;
    border: 1px solid #fff;
}

.border-bottom {
    // border-bottom: 1px solid #35ccf1;
}

.font-lg {
    font-size: 18px;
}

.font-sm {
    font-size: 15px;
}

.input-bottom-line {
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #bebebe;
}

.left-line {
    border-left: 1px solid #bebebe;
}
