.QueryTicket {
    ::-webkit-scrollbar {
        display: none;
    }
    .divider {
        @include nav-divider($color: #e5e5e5);
        margin-top: 0;
        margin-bottom: 15px;
    }
    .QueryTicket-dialog {
        @at-root {
            .QueryTicket-content {
                @at-root {
                    .QueryTicket-header {
                        span {
                            display: inline-block;
                            // vertical-align: middle;
                            width: 100px;
                            color: $lightBlue;
                            padding: 8px 5px;
                            line-height: 1;
                        }
                        button.close {
                            color: $white;
                            opacity: 1;
                            margin-top: 5px;
                            margin-left: 10px;
                        }
                        @at-root {
                            .QueryTicket-TicketID {
                                span {
                                    background: $white;
                                }
                            }
                        }
                        padding: 14px 20px;
                        background: $lightBlue;
                        color: $white;
                        // .QueryTicket-title {}
                    }
                }
                @at-root {
                    .QueryTicket-body {
                        @at-root {
                            %Query {
                                border-color: $lightBlue;
                                border-radius: .5em;
                                color: $darkblue;
                                max-width: 100%;
                                height: 315px;
                                resize: none;
                            }
                            .QueryTicket-UserQuery:disabled {
                                @extend %Query;
                                background: $lightBlue2;
                                + .textareaInfo {
                                    background: $lightBlue2;
                                    padding: .3em;
                                }
                            }
                            .QueryTicket-ReplyQuery {
                                @extend %Query;
                                background: $lightGray1;
                            }
                            .textareaInfo {
                                position: absolute;
                                font-size: .8em;
                                bottom: 1em;
                                right: 3em;
                                color: lighten($gray, 20);
                            }
                            .ReplyWithFAQs {
                                font-size: .8em;
                                padding:5px 12px;
                            }
                            .QueryTicket-SendAs {
                                > span {
                                    padding: 8px 5px;
                                    line-height: 1;
                                    display: inline-block;
                                }
                                /*=========================================
                           		 =            bootstrap-select             =
                            	=========================================*/
                                .dropdownOptions {
                                    margin-bottom: 0;
                                    &:after {
                                        z-index: 2;
                                        top: 8px;
                                    }
                                }
                                .bootstrap-select {
                                    width: 112px;
                                    max-width: 112px;
                                    float: right !important;
                                    &,
                                    &.open {
                                        .dropdown-toggle {
                                            height: 30px;
                                            padding:1px 12px;
                                            &,
                                            &:hover,
                                            &:focus {
                                                border: solid 1px $gray;
                                                background: lighten($gray, 25);
                                                box-shadow: none;
                                                color: $blue;
                                                outline: 1px solid transparent;
                                            }
                                            .bs-caret {
                                                display: none;
                                            }
                                        }
                                        .dropdown-menu.open {
                                            padding: 0;
                                            border: solid 1px $gray;
                                            margin-top: -1px;
                                            .dropdown-menu.inner {
                                                li {
                                                    // height: 30px;
                                                    // padding: 3px 0;
                                                    border-bottom: solid 1px $gray;
                                                    &.selected {
                                                        display: none;
                                                    }
                                                    a {
                                                        color: $gray;
                                                        padding: 6px 12px;
                                                        &:focus {
                                                            background-color: transparent;
                                                            // border: 0px;
                                                            outline: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        // button {
                                        //     &,
                                        //     &:hover {
                                        //         border: none;
                                        //     }
                                        // }
                                    }
                                }
                                /*=====  End of bootstrap-select   ======*/
                            }
                        }
                        @at-root {
                            .QueryTicket-QA {
                                .panel-group {
                                    // margin-bottom: $line-height-computed;
                                    margin-bottom: 0;
                                    // Tighten up margin so it's only between panels
                                    .panel {
                                        margin-bottom: 0;
                                        border-radius: $panel-border-radius;
                                        + .panel {
                                            // margin-top: 5px;
                                            margin-top: 0;
                                            border-top: none;
                                        }
                                    }
                                    .panel-heading {
                                        // border-bottom: 0;
                                        padding: 6px 10px;
                                        + .panel-collapse > .panel-body,
                                        + .panel-collapse > .list-group {
                                            // border-top: 1px solid $panel-inner-border;
                                            border-top: none;
                                        }
                                    }
                                    .panel-title {
                                        line-height: 1;
                                        color: $darkblue;
                                        .fa-plus-circle {
                                            display: none;
                                        }
                                        a {
                                            text-decoration: none;
                                            display: block;
                                            padding-left: 2em;
                                            .fa {
                                                position: relative;
                                                margin-left: -2em;
                                                margin-right: 1em;
                                            }
                                        }
                                        .collapsed {
                                            color: $gray;
                                            .fa-minus-circle {
                                                display: none;
                                            }
                                            .fa-plus-circle {
                                                display: inline-block;
                                            }
                                        }
                                    }
                                    .panel-body {
                                        border-top: 0;
                                        padding-top: 0;
                                        padding-left: 3em;
                                        background: $lightGray1;
                                        color: $lightGray;
                                    }
                                }
                                &.tab-content {
                                    //height: 392px;
                                    overflow-y: scroll;
                                    border: solid 1px $lightBlue;
                                    // border-right: solid 2px $lightBlue;
                                    background: $lightGray1;
                                }
                                &.nav-tabs.nav-stacked {
                                    margin-left: -10px;
                                    text-align: center;
                                    >li {
                                        background: $darkblue;
                                        &.active {
                                            background: $lightBlue1;
                                        }
                                        >a {
                                            padding: 10px 0px;
                                            color: $white;
                                            background: transparent;
                                            margin-right: 0;
                                        }
                                        + li {
                                            margin-top: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .QueryTicket-footer {
                    padding: 5px 20px;
                    background: $lightBlue;
                    color: $white;
                      span {
                            display: inline-block;
                            // vertical-align: middle;
                            // width: 100px;
                            // color: $lightBlue;
                            padding: 8px 5px;
                            line-height: 1;
                        }
                }
            }
        }
    }
}
.chat-container {
    height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #efefef;
    border: 1px solid #ddd;
}
.position-relative{
    position: relative;
}
.chat-input {
    background-color:white;
    border: 1px solid #ddd;
    textarea {
        background: transparent;
        width: 93%;
        resize: none;
        overflow: hidden;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
        overflow-y: auto;
        height:40px;
        border:none;
    }
    .chatSubmit{
        font-size: 24px;
        position:absolute;
        top:10px;
        cursor:pointer;
        color:goldenrod;
    }
}

.border-radius-10{
    border-radius:10px;
}
// Scale up the modal
@media (min-width: $screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .QueryTicket{
        .modal-dialog {
            width: 1100px;
            margin: 30px auto;
        }
        .modal-content {
            @include box-shadow(0 5px 15px rgba(0, 0, 0, .5));
        }
    }
}
