.calculator_main_widget{
  width: 350px;
  .widget_calcidiv{
    height:auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02);
    z-index: 0;
    background-color:white;
    .txtr{
    	height:44px;
    	margin-bottom:7px;
    }
    #output{
    	display: table-cell;
    	overflow: hidden;
    	font-size: 28px;
    	font-family: Roboto-Regular,helvetica,arial,sans-serif;
    	font-weight: lighter;
    	vertical-align: middle;
    	width:100%;
    	border-radius: 3px;
    	text-align: right;
    	padding-right: 10px;
    	border: 1px grey solid !important;
    }
    .calculator-key, .calculator-key:focus {
      padding: 5px 10px;
      margin: 5px 0px;
      position:relative;
      border:0;
       background-color: lightgrey;
      -moz-outline-style:none;
      outline:medium none;
      transition: all 0.04s linear;

    }
    .calci{
    	color: black;
    	width: auto;
    	position: relative;
    	line-height: 1;
    	z-index: 1;
    }
    .appDivHead {
      height: 40px;
      font-weight: bold;
      color: #797979;
      background-color: #f7f7f7;
      margin-right: -10px;
      margin-left: -10px;
    }
    .appDivBody {
      background-color: white;
      padding-top: 15px;
    }
  }
}
