.crypto_currency_main_widget{
  .widget_cryptodiv{
    height:auto;
    #currencySearch{
      width: 100%;
    }
    #searchtoogle{
      display: none;
    }
    .container-price {
    	  min-height: auto!important;
        max-width: 570px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02);
        background-color: #fff;
    }
    .mainhead{
    	height: 40px;
        padding: 8px 0 0 0;
        font-weight: bold;
        color: #797979;
        background-color: #f7f7f7;
        padding-left: 12px;
        top: 0;
        border-width: 0 0 1px;
    	text-align: left;
    }
    .mainPrice {
      padding: 0px 7px 7px;
    }
    .marg_padd {
        padding: 10px 0px 0px!important;
        margin: 0px!important;
    }
    .marg_padd2 {
        margin: 15px -7px 0px -7px!important;
        padding: 0px 0px 0px!important;
        border: 1px solid #efefef;
    }
    .marg_padd3 {
        text-align: center;
        padding: 12px 0px 8px!important;
        margin: 0px -11px!important;
    }
    .curtPrice {
        color: #009EEB;
        font-size: 40px;
        font-weight: bold;
        a {
            color: #009EEB!important;
            font-size: 40px;
            font-weight: bold;
        }
        a:hover, a:focus {
          text-decoration: none;
          cursor: pointer;
        }
      }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
        float: none;
        display: inline-block;
        margin-left: 0;
    }
    .heading {
      margin-right: 11px;
      font-weight: bold;
      color: #797979;
      font-size: 20px;
    }
    .margMain {
        margin-top: 14px;
        padding: 0px 4px!important;
    }
    .brac {
        font-size: 11px;
        color: #A7A7A7;
    }
    .btn-group .btn {
      border: 0;
      outline: 0;
      box-shadow: none;
      margin: auto;
      color: #3498db;
      border-radius: 0;
      padding: 7px 12px;
      width: 100%!important;
      font-size: 13px;
      -webkit-user-select: none;
      background: white;
  }
      .fa{
        position: relative;
        display: table-cell!important;
        width: 0px;
        height: 0px;
        text-align: center;
        top: 0px;
        font-size: 20px!important;
      }
      .marg1 {
          padding: 0px 0px!important;
          text-align: center;
          word-wrap: break-word;
      }
    .marg3 {
          padding: 4px!important;
      }
    .timed {
        padding: 0.5px 0px!important;
        font-weight: 600!important;
        font-size: 14px!important;
        color: #818182;
        background: #D4D4D4;
    }
    .timed2 {
        color: #6D6D6D;
        font-size: 10px;
        font-weight: bold;
        background: #F7F6F6;
    }
    .colorHigh {
        font-size: 14px;
        color: #009EEB;
        font-weight: bold;
        padding: 0px!important;
        background: #F7F6F6;
    }
    .red {
        background-color: #EFEFEF;
        color: #E82C2C;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 0px;
    }
    .green {
        background-color: #EFEFEF;
        color: #07B907;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 0px;
    }
    .background-transparent{
      background-color: transparent;
    }
    .searchtoggle{
      box-shadow: 0px 1px 3px -2px;
    }
    .btn-group .dropdown-menu {
      z-index: 1!important;
      z-index: 1!important;
      position: absolute;
      top: 100%;
      left: 0;
      float: left;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      list-style: none;
      background-color: #fff;
      border: 0px solid rgba(0,0,0,0.15);
      border-radius: 4px;
      box-shadow: 0 8px 12px rgba(0,0,0,0.175);
      background-clip: padding-box;
    }
    #img{
      width:30px;
      margin-right: 11px;
    }
    .searchBut:hover {
        color: #25A2DC;
        cursor: pointer;
    }
  }

}
