.currency_converter_main_widget{
      width: 380px;

  .widget_currdiv{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.02);
      background-color: white;
    .appDivHead {
      height: 40px;
      font-weight: bold;
      color: #797979;
      background-color: #f7f7f7;
    }
    .appDivBody {
      padding-top: 15px;
    }
    .currvalue{
      margin-right: -35px;
    }
    .secCurramt{
      color: #3498DB;
    }
    #changeCurr{
      margin-top: 0px;
    }
    #newchangeCurr{
      margin-top: 0px;
    }
    .input__field--hoshi {
      padding:0px;
    }
    .currencySelect{
      border: 0 !important;
      outline: 0;
      border-bottom: 1px solid #B9C1CA !important;
      max-width:350px;
      box-shadow:none !important;
      width:85% !important;
      color: #3498DB !important;
      border-radius: 0px !important;
    }
    .input{
      position: relative;
      z-index: 1;
      display: inline-block;
      max-width: 350px;
      width: calc(100% - 2em);
      vertical-align: top;
      padding: 15px 5px;
    }
    .Selectbox
    {
      padding-top:1px;
      padding-bottom:20px;
    }
    #cur_from
    {
      margin-bottom: -20px;
      color: grey;
      font-family: arial;
      font-size:14px !important;
      float: left;
    }
    #cur_to
    {
      margin-top: 20px;
      color: #000;
      margin-bottom: 5px;
      font-size: 20px !important;
      float: left;
    }
    .currencyDiv{
      top: 64px;
      left: 0;
      position: inherit;
      width: 100%;
    }
    .firstCurramt{
      word-wrap: break-word;
        word-break: break-all;
    }
    .edit-currency-input-div{
      margin-right: -35px;
      span{
        margin-top:0px;
        margin-right: -35px;
        padding-right: -10px;
      }
    }
  }
}
