.widget_timezonediv{
  width: 480px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.05), 0 1px 4px 0 rgba(0,0,0, .08), 0 3px 1px -2px rgba(0,0,0, .02);
  .appDivHead {
    height: 40px;
    font-weight: bold;
    color: #797979;
    background-color: #f7f7f7;
  }
  .appDivBody {
    float: left;
    background-color: white;
    padding-top: 15px;
  }
  .timezoneInt{
  	top: 64px;
  	left: 0;
  	position: inherit;
  	width: auto;
  }
  .timezone{
  	top: 64px;
  	left: 0;
  	position: inherit;
  	width: 100%;
  }
  .timeDatetz{
  	font-size: x-large;
  	text-align: left;
  	line-height: 30px;
  }
  .tzfont{
  	font-size: x-large;
  }
  .timeDiff{
  	color: #000;
  	font-size: 16px;
  	line-height: 0.82;
  }
  .tzDiff{
  	font-size: x-large;
  	color: #00aaee;
  }
  .tzDiv{
  	text-align: left;
  	padding-bottom: 5px;
  	width: 100%;
  	border-top: 1px solid #DEDEDE;
  	padding-top: 10px;
  }
  .tmDiv{
  	text-align: left;
  	padding-bottom: 5px;
  	width: 100%;
  	padding-top: 10px;
  }
  #tz_from
  {
    margin-bottom: -20px;
    color: grey;
    font-family: arial;
    font-size: 14px!important;
    float: left;
  }
  #tz_to
  {
    margin-top: 20px;
    color: #000;
    margin-bottom: 5px;
    font-size: 20px!important;
    float: left;
  }
  .SelectTime
  {
    border: 0!important;
    outline: 0;
    border-bottom: 1px solid #B9C1CA!important;
    margin-top: 19px;
    max-width: 350px;
    box-shadow: none!important;
    margin: auto;
    border-radius: 0px!important;
    width: 102%!important;
    padding: 6px 3px;
  }

  .SelectDiv{
  	padding-top:32px;
  	padding-bottom:19px;
  }
  #tab-item-2{
    float: left;
    width: 100%;
  }
}
