.unit_converter_main_widget{
  width: 460px;
  .widget_unitappdiv{
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.02);
    .appDivHead {
      height: 40px;
      font-weight: bold;
      color: #797979;
      background-color: #f7f7f7;
    }
    .appDivBody {
      padding-top: 15px;
    }
    .unitValue{
      margin-right: -35px;
      width: 30%;
    }

    #unitConverter{
      top: 64px;
      left: 0;
      position: inherit;
      width: auto !important;
    }
    .types{
      margin-right: -35px;
      width: 30%;
    }
    .unitSelect
    {
      border: 0 !important;
      outline: 0;
      border-bottom: 1px solid #B9C1CA !important;
      max-width:350px;
      box-shadow:none !important;
      width:105% !important;
      margin:auto;
      margin-left: 10px;
      padding: 6px 0px 0px;
      color: #3498DB !important;
      border-radius: 0px !important;
    }
    #unitNote
    {
      color: grey;
      font-family: arial;
      font-size:14px !important;
      float: left;
    }
    .unitTypeSelect
    {
      border: 0 !important;
      outline: 0;
      border-bottom: 1px solid #B9C1CA !important;
      max-width: 260px;
      box-shadow: none !important;
      color: #3498DB !important;
      border-radius: 0px !important;
    }
    .SelectDiv{
    	padding-top:32px;
    	padding-bottom:19px;
    }
    .input {
    	position: relative;
    	z-index: 1;
    	display: inline-block;
    	max-width: 350px;
    	width: calc(100% - 2em);
    	vertical-align: top;
      margin-top:0px;
      width: 100%;
      padding-right:0px;
    }
    .input__field{
      padding: 12px 6px;
    }
  }

}
