.widget_weatherdiv{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.02);
  background-color: white;
  width: 450px;
  .appDivHead {
    height: 40px;
    font-weight: bold;
    color: #797979;
    background-color: #f7f7f7;
  }
  .appDivBody {
    padding-top: 15px;
    float: left;
  }
  .countrySelect{
  	border: 0 !important;
    outline: 0;
    border-bottom: 1px solid #B9C1CA !important;
  	margin-top:19px;
  	max-width:350px;
  	box-shadow:none !important;
  	margin:auto;
  	color: #3498DB !important;
  	border-radius: 0px !important;
  }
  .changeButton{
  	color: #fff !important;
    background-color: #337ab7 !important;
    width: 100% !important;
    font-size: 13px !important;
    border: none !important;
    cursor: pointer !important;
    height: auto !important;
    margin: auto;
    max-width: 95px;
    border-radius: 5px;
  }
  .font{
  	font-size: x-large !important;
  	font-family: arial,sans-serif-light,sans-serif;
  	font-weight: lighter !important;
  	color: #212121 !important;
  }
  .location{
  	font-family: arial,sans-serif-light,sans-serif;
  	font-size: x-large !important;
  	color: #878787 !important;
  	font-weight: lighter !important;
  	line-height: 1.4;
  	text-align: left;
  	word-wrap: break-word;
  }
  .daytime{
  	font-family: arial,sans-serif-light,sans-serif;
  	font-size: medium !important;
  	color: #878787 !important;
  	font-weight: lighter !important;
  	line-height: 1.4;
  	text-align: left;
  }
  .weatherdesc{
  	font-family: arial,sans-serif;
  	font-size: medium !important;
  	font-weight: lighter !important;
  	color: #878787 !important;
  	line-height: 1.4;
  	text-align: left;
  }
  .temp{
  	float:left;
  	font-size:60px;
  }
  .prop{
  	font-family: arial,sans-serif-light,sans-serif;
  	font-size: medium !important;
  	font-weight: lighter !important;
  	color: #878787 !important;
  	line-height:22px;
  	text-align: left;
  }
  .iconDiv{
    img{
      float:left;
      height:64px;
      width:64px;
    }
  }
  #closeicon{
    float:right;
    height:20px;
    width:20px;
  }
  .temp_f{
    color:blue;
    margin-left:-1px;
    font-size: 20px;
    cursor: pointer;
  }
  .temp_c{
     font-size: 20px;
     cursor: pointer;
  }
  .wob-unit{
    font-size:22px;
  }
}
